@import '../../../__styles/commonstyles';


.cardUL {
    list-style: none;
    text-align: left;
    padding: 0 0;
    height: 100%;
    overflow: hidden;
    position: relative;

    li {
        border: 0.5px solid rgba(0, 0, 0, 0.466);
        margin-bottom: 0.5em;
        padding: 0.2rem 0;
        min-height: 6rem;
        height: auto;
        max-height: 12rem;
        position: relative;
        overflow: hidden;

        .projectTitleWrapper {
            height: 4rem;
            position: relative;

            .projectTitle {
                margin-bottom: 0;
                padding: 0.5em 0.5em 0.2em 0.5em;
                font-size: 1em;
                width: 85%;
                color: $primary;
                cursor: pointer;

                &:hover {
                    color: $blue;
                }
    
                .projectTitleLink {
                    text-decoration: none;
    
                    /* POPOVER CONTAINER */
                    .popoverContainer {
                        height: 10em;
                        width: 16em;
                        max-height: 10em;
                        max-width: 16em;
                        display: grid;
                        grid-template: 7em 1fr / 1fr 1fr;
    
                        .popoverAvatar {
                            grid-row: 2 / span 1;
                            grid-column: 2 / span 1;
                            margin-left: 1em;
                            width: 2.5em;
                            height: auto;
                        }
                        .popoverUserlink {
                            grid-row: 2 / span 1;
                            grid-column: 2 / span 1;
                            text-align: right;
                            margin: 0.7em 0;
                        }
                        .popoverDescription {
                            grid-row: 1 / span 1;
                            grid-column: 1 / span 2;
                            border-bottom: 1px solid rgba(97, 97, 97, 0.603);
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }
                }
            }
        }

        .projectLikes {
            position: absolute;
            bottom: 0.2em;
            left: 0.3em;
            font-size: 0.8em;
            font-family: 'Comic Sans MS', Arial, Helvetica, sans-serif;
        }

        .projectTags {
            position: relative;
            width: 100%;
            margin-bottom: 0;
            padding: 0.5em;
            font-size: 0.8em;
            font-weight: 600;
            border-top: 0.5px solid rgb(190, 190, 190);
            overflow: hidden;
            min-height: 2rem;
            height: auto;
            max-height: 8rem;

            a {
                color: rgb(209, 13, 209);
                text-decoration: none;
                transition: all 500ms ease;
                font-weight: 400;

                &:hover {
                    color: rgb(98, 98, 240);
                }
            }
        }
    }
}