@import 'bootstrap/bootstrap';
@import 'bootstrap/variables';

$font-primary: 'Nunito Sans',Arial, sans-serif;

$white: #fff;
$black: #000000;
$darken: #232931;
$blue: #3396ff;

$primary: #78C2AD;
$secondary: #a0f669;

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
	line-height: 1.5;
	font-weight: 400;
}

a {
	transition: .3s all ease;
	color: $primary;
	cursor: pointer;

	&:hover, &:focus {
		text-decoration: none;
		color: $blue;
	}
}


table { 
	border-collapse: collapse; 
	margin: 1rem auto;
	}

/* Zebra striping */
tr:nth-of-type(odd) { 
	background: #eee;
}

th { 
	background: #3498db; 
	color: white; 
	font-weight: bold; 
	}

td, th { 
	padding: 10px; 
	border: 1px solid #eee; 
	text-align: center; 
	font-size: 1rem;
}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	table { 
	  	width: 100%; 
	}

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block;
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead {
		tr { 
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border: 1px solid rgba(192, 192, 192, 0.7);
		position: relative;
		text-align: center; 
		font-size: 1rem;
		width: 100%;
		
		&:before { 
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 6px;
			left: 6px;
			width: 45%; 
			padding-right: 10px; 
			white-space: nowrap;
			/* Label the data */
			content: attr(data-column);
	
			color: #000;
			font-weight: bold;
		}
	}
}



/* Bootstrap Toggle v2.2.2 corrections for Bootsrtap 4*/




@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin transition($transition) {
    -moz-transition:    all $transition ease;
    -o-transition:      all $transition ease;
    -webkit-transition: all $transition ease;
    -ms-transition: 		all $transition ease;
    transition:         all $transition ease;
}

@mixin gradient-background(){
	background: rgba(159,246,105,1);
	background: -moz-linear-gradient(-45deg, rgba(159,246,105,1) 0%, rgba(49,222,121,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(159,246,105,1)), color-stop(100%, rgba(49,222,121,1)));
	background: -webkit-linear-gradient(-45deg, rgba(159,246,105,1) 0%, rgba(49,222,121,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(159,246,105,1) 0%, rgba(49,222,121,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(159,246,105,1) 0%, rgba(49,222,121,1) 100%);
	background: linear-gradient(135deg, rgba(159,246,105,1) 0%, rgba(49,222,121,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9ff669', endColorstr='#31de79', GradientType=1 );
}

@mixin peril-background() {
	background: linear-gradient(to right top, #d6d6d6, #cccbd6, #bfc0d7, #b1b6d8, #a0add9, #98b1df, #8eb6e3, #84bae7, #8acbed, #97dbf1, #aaeaf5, #c0f9f9);
}

@mixin space-background() {
	background: linear-gradient(to right top, #555454, #594b4e, #59424e, #543b53, #46365b, #35365c, #21365b, #003658, #00354b, #0f323e, #1c2f32, #252a2a);
}

@mixin prefixed($property, $value) {

	-webkit-#{$property}: #{$value};
	-moz-#{$property}: #{$value};
	-ms-#{$property}: #{$value};
	-o-#{$property}: #{$value};
	#{$property}: #{$value};

}

// prefix keyframes
@mixin keyframes($name) {

	@-webkit-keyframes #{$name} {
	  @content;
	 }

	@-moz-keyframes #{$name} {
	  @content;
	}

	@-ms-keyframes #{$name} {
	  @content;
	}

	@-o-keyframes #{$name} {
	  @content;
	}

	@keyframes #{$name} {
	@content;
  }
}