{% extends "base.html" %}

{% block css %}
{{ super() }}
<link href="{{ url_for('static', filename='auth-templates.css') }}" rel="stylesheet">
<meta charset="UTF-8">
<meta http-equiv="refresh" content="5; url={{ url_for('auth.homepage') }}">
{% endblock css %}

{% block bodycontent %}
<div class="jumbotron-wrapper">
    <div id="acct-confirm-jumbotron" class="jumbotron">
    <h1 class="display-3">Thank you {{ user.firstname }},</h1>
    <p class="lead">for confirming your account! You will be redirected to the homepage shortly or you can <a href="{{ url_for('auth.homepage') }}">click here</a></p>
    </div>
</div>
{% endblock bodycontent %}

{% block scripts %}
{{ super() }}
<script>
setTimeout(function () {
    window.location.href = "{{ url_for('auth.homepage') }}";
}, 5000);

</script>

{% endblock scripts %}