{% extends "base.html" %}

{% block mediaquery %}
{{ super() }}
<style>
.row {
    padding-top: 3em;
    text-align: center;
}
.card {
    width: 30%;
}
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    .card {
        width: 80%;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .row {
        padding-top: 2em;
        justify-self: center;
    }
    .card {
        width: 60%;
        margin-bottom: 2em;
    }
}
</style>
{% endblock mediaquery %}

{% block bodycontent %}

{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-lg-offset-9 col-xl-3 col-xl-offset-9">
            <div id="login-alert-container" class="alert alert-dismissible alert-secondary" style="width: auto; height: auto; text-align: center;">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {% if messages[0] == "Please check your email to verify your account before logging in." %}
                <strong>{{ messages[0] }}</strong> <a href="{{ url_for('auth.confirm_acct_request') }}" id="homepage-forgotpass-link" class="alert-link">Send new verification link</a>?
                {% else %}
                <strong>{{ messages[0] }}</strong> <a href="{{ url_for('auth.reset_password_request') }}" id="homepage-forgotpass-link" class="alert-link">Forgot password</a>?
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}
{% endwith %}
<div class="row" style="justify-content: center;">
    <div class="card">
    <article class="card-body">
        <a href="{{ url_for('auth.register') }}" class="float-right btn btn-outline-primary">Sign up</a>
        <h4 class="card-title mb-4 mt-1">Sign in</h4>
        <hr>
        {% if request.args %}
        {% set next = request.args.get('next') %}
            {% if next == 'project-page' %}
            {% set title = request.args.get('title') %}
            {% set username = request.args.get('username') %}
                <form action="{{ url_for('auth.login', next=next, title=title, username=username) }}" method="POST">
            {% else %}
                <form action="{{ url_for('auth.login', next='login-page') }}" method="POST">
            {% endif %}
        {% else %}
        <form action="{{ url_for('auth.login', next='login-page') }}" method="POST">
        {% endif %}
            {{ form.hidden_tag() }}
            <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                </div>
                {{ form.username(class="form-control", placeholder="Username Login", type="text") }}
            </div> <!-- input-group.// -->
            </div> <!-- form-group// -->
            <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                </div>
                {{ form.password(class="form-control", placeholder="******", type="password") }}
            </div> <!-- input-group.// -->
            </div> <!-- form-group// -->
            <div class="form-group" style="text-align: center;">
                {{ form.submit(class="btn btn-primary", style="background-color: #007bff; width: 40%;", value="Login", type="submit") }}
            </div> <!-- form-group// -->
            <p class="text-center"><a href="{{ url_for('auth.reset_password_request') }}" class="btn" style="color: #007bff;">Forgot password?</a></p>
        </form>
    </article>
    </div>
</div>
{% endblock bodycontent %}