{% extends "base.html" %}

{% block css %}
{{ super() }}
<link href="{{ url_for('static', filename='stylesheets/auth-templates.css') }}" rel="stylesheet">
{% if get_flashed_messages() %}
<meta charset="UTF-8">
<meta http-equiv="refresh" content="5; url={{ url_for('auth.homepage') }}">
{% endif %}
{% endblock css %}

{% block bodycontent %}
<div id="register-container" class="container">
    <div id="signupform-container-override" class="row centered-form">
    <div id="signupform-override" class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 id="reset-pw-req-header" class="panel-title" style="{% if get_flashed_messages() %}display: none;{% endif %}">Enter Your New Password</h3>
            </div>
            <div class="panel-body">
                <form action="" method="POST">
                {{ form.hidden_tag() }}
                {% with messages = get_flashed_messages() %}
                {% for message in messages %}
                {% if message %}
                    <div class="alert alert-dismissible alert-success">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>{{ message }}</strong> <a href="{{ url_for('auth.homepage') }}" id="reset-pw-link" class="alert-link">Login here</a>.
                    </div>
                {% endif %}
                {% endfor %}
                {% endwith %}
                <div class="row" style="{% if get_flashed_messages() %}display: none;{% endif %}">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="form-group">
                            {{ form.password(class="form-control input-sm", placeholder="New Password") }}
                            {% for error in form.password.errors %}
                            <span style="color: red;">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <div class="form-group">
                            {{ form.repassword(class="form-control input-sm", placeholder="Retype Password") }}
                            {% for error in form.repassword.errors %}
                            <span style="color: red;">{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                        
                {{ form.submit(class="btn btn-info btn-block") }}
                </form>
            </div>
        </div>
    </div>
    </div>
</div>
{% endblock bodycontent %}

{% block scripts %}
{{ super() }}
<script>
{% if get_flashed_messages() %}
/* ADDING A SECOND WAY TO REDIRECT VIA JAVASCRIPT */
$('#reset-pw-req-header').css('display', 'none');
$('.btn-info').css('display', 'none');
setTimeout(function () {
    setTimeout(function () {
        window.location.href = "{{ url_for('auth.homepage') }}";
    }, 5000);
});
{% endif %}
</script>
{% endblock scripts %}