@import '../../__styles/commonstyles';


.searchContainer {
    width: 100vw;
    height: 100vh;
    background: url('../images/homepage-background.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    padding: 0.5rem;
    
    @include media-breakpoint-down(md) {
        height: 100vh;
        overflow-x: hidden;
        overflow-y: scroll;
    }
}