{% extends "base.html" %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='edit-photos.css') }}">
{% endblock css %}

{% block bodycontent %}
<h2>Add/Remove Photos</h2><button type="button" class="btn btn-info edit-photo-back-btn" onclick="window.history.back();">Back to Project</button>
<form id="file_box_input" class="box" method="POST" action="" enctype="multipart/form-data">
  <svg class="box__icon" xmlns="http://www.w3.org/2000/svg" width="150" viewBox="0 0 50 43"><path d="M48.4 26.5c-.9 0-1.7.7-1.7 1.7v11.6h-43.3v-11.6c0-.9-.7-1.7-1.7-1.7s-1.7.7-1.7 1.7v13.2c0 .9.7 1.7 1.7 1.7h46.7c.9 0 1.7-.7 1.7-1.7v-13.2c0-1-.7-1.7-1.7-1.7zm-24.5 6.1c.3.3.8.5 1.2.5.4 0 .9-.2 1.2-.5l10-11.6c.7-.7.7-1.7 0-2.4s-1.7-.7-2.4 0l-7.1 8.3v-25.3c0-.9-.7-1.7-1.7-1.7s-1.7.7-1.7 1.7v25.3l-7.1-8.3c-.7-.7-1.7-.7-2.4 0s-.7 1.7 0 2.4l10 11.6z"></path></svg>
  <div id="file_input" class="box__input input-div">  
    <input class="box__file file-input-child" type="file" name="files[]" id="file" data-multiple-caption="{count} files selected" multiple />
    <label class="file-input-child" for="file"><strong>Choose a file</strong><span class="box__dragndrop"> or drag it here</span> (jpg/png 5mb max)</label>
    <br>
    <button class="box__button file-input-child" type="submit">Upload</button>
  </div>
  <div class="box__uploading input-div">Uploading&hellip;</div>
  <div class="box__success input-div"><span class="success_msg"></span>
      <a href="" class="box__restart" role="button">Upload more?</a>
  </div>
  <div class="box__error input-div">Error! <span class="error_msg"></span> <a href="" class="box__restart" role="button">Try again!</a></div>
</form>

            

<div class="container">

    <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Photo Gallery</h1>

    <hr class="mt-2 mb-5">

    <div id="main-gallery-frame" class="row text-center text-lg-left">
        {% if project_gallery %}
        {% if project_gallery.photoOne %}
        <div class="col-lg-3 col-md-4 col-6" name="{{ project_gallery.photoOne }}">
            <a href="#" id="image-box" class="d-block mb-4 h-100" data-toggle="modal" data-target="#exampleModal1">
                <div class="remove-centering">
                    <img class="picture-remove-btn" src="{{ url_for('static', filename='removemark.png') }}">
                </div>
                <img class="image-thumb" name="{{ project_gallery.photoOne }}" src="{{ url_for('static', filename='users/' + user.username + '/' + project.title + '/' + project_gallery.photoOne) }}" alt="Image not found!">
            </a>
        </div>
        <!-- PICTURE POPUP MODAL -->
        <div class="modal fade pic-modal" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <p>{{ project_gallery.photoOne }}</p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="pic-modal" style="text-align: center;">
                        <img src="{{ url_for('static', filename='users/' + user.username + '/' + project.title + '/' + project_gallery.photoOne) }}" alt="Image not found">
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="modal-btn btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if project_gallery.photoTwo %}
        <div class="col-lg-3 col-md-4 col-6" name="{{ project_gallery.photoTwo }}">
            <a href="#" id="image-box" class="d-block mb-4 h-100" data-toggle="modal" data-target="#exampleModal2">
                <div class="remove-centering">
                    <img class="picture-remove-btn" src="{{ url_for('static', filename='removemark.png') }}">
                </div>
                <img class="image-thumb" name="{{ project_gallery.photoTwo }}" src="{{ url_for('static', filename='users/' + user.username + '/' + project.title + '/' + project_gallery.photoTwo) }}" alt="Image not found!">
            </a>
        </div>
        <!-- PICTURE POPUP MODAL -->
        <div class="modal fade pic-modal" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <p>{{ project_gallery.photoTwo }}</p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="pic-modal" style="text-align: center;">
                        <img src="{{ url_for('static', filename='users/' + user.username + '/' + project.title + '/' + project_gallery.photoTwo) }}" alt="Image not found">
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="modal-btn btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if project_gallery.photoThree %}
        <div class="col-lg-3 col-md-4 col-6" name="{{ project_gallery.photoThree }}">
            <a href="#" id="image-box" class="d-block mb-4 h-100" data-toggle="modal" data-target="#exampleModal3">
                <div class="remove-centering">
                    <img class="picture-remove-btn" src="{{ url_for('static', filename='removemark.png') }}">
                </div>
                <img class="image-thumb" name="{{ project_gallery.photoThree }}" src="{{ url_for('static', filename='users/' + user.username + '/' + project.title + '/' + project_gallery.photoThree) }}" alt="Image not found!">
            </a>
        </div>
        <!-- PICTURE POPUP MODAL -->
        <div class="modal fade pic-modal" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <p>{{ project_gallery.photoThree }}</p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="pic-modal" style="text-align: center;">
                        <img src="{{ url_for('static', filename='users/' + user.username + '/' + project.title + '/' + project_gallery.photoThree) }}" alt="Image not found">
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="modal-btn btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if project_gallery.photoFour %}
        <div class="col-lg-3 col-md-4 col-6" name="{{ project_gallery.photoFour }}">
            <a href="#" id="image-box" class="d-block mb-4 h-100" data-toggle="modal" data-target="#exampleModal4">
                <div class="remove-centering">
                    <img class="picture-remove-btn" src="{{ url_for('static', filename='removemark.png') }}">
                </div>
                <img class="image-thumb" name="{{ project_gallery.photoFour }}" src="{{ url_for('static', filename='users/' + user.username + '/' + project.title + '/' + project_gallery.photoFour) }}" alt="Image not found!">
            </a>
        </div>
        <!-- PICTURE POPUP MODAL -->
        <div class="modal fade pic-modal" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <p>{{ project_gallery.photoFour }}</p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="pic-modal" style="text-align: center;">
                        <img src="{{ url_for('static', filename='users/' + user.username + '/' + project.title + '/' + project_gallery.photoFour) }}" alt="Image not found">
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="modal-btn btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if project_gallery.photoFive %}
        <div class="col-lg-3 col-md-4 col-6" name="{{ project_gallery.photoFive }}">
            <a href="#" id="image-box" class="d-block mb-4 h-100" data-toggle="modal" data-target="#exampleModal5">
                <div class="remove-centering">
                    <img class="picture-remove-btn" src="{{ url_for('static', filename='removemark.png') }}">
                </div>
                <img class="image-thumb" name="{{ project_gallery.photoFive }}" src="{{ url_for('static', filename='users/' + user.username + '/' + project.title + '/' + project_gallery.photoFive) }}" alt="Image not found!">
            </a>
        </div>
        <!-- PICTURE POPUP MODAL -->
        <div class="modal fade pic-modal" id="exampleModal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <p>{{ project_gallery.photoFive }}</p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="pic-modal" style="text-align: center;">
                        <img src="{{ url_for('static', filename='users/' + user.username + '/' + project.title + '/' + project_gallery.photoFive) }}" alt="Image not found">
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="modal-btn btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if project_gallery.photoSix %}
        <div class="col-lg-3 col-md-4 col-6" name="{{ project_gallery.photoSix }}">
            <a href="#" id="image-box" class="d-block mb-4 h-100" data-toggle="modal" data-target="#exampleModal6">
                <div class="remove-centering">
                    <img class="picture-remove-btn" src="{{ url_for('static', filename='removemark.png') }}">
                </div>
                <img class="image-thumb" name="{{ project_gallery.photoSix }}" src="{{ url_for('static', filename='users/' + user.username + '/' + project.title + '/' + project_gallery.photoSix) }}" alt="Image not found!">
            </a>
        </div>
        <!-- PICTURE POPUP MODAL -->
        <div class="modal fade pic-modal" id="exampleModal6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <p>{{ project_gallery.photoSix }}</p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="pic-modal" style="text-align: center;">
                        <img src="{{ url_for('static', filename='users/' + user.username + '/' + project.title + '/' + project_gallery.photoSix) }}" alt="Image not found">
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="modal-btn btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if project_gallery.photoSeven %}
        <div class="col-lg-3 col-md-4 col-6" name="{{ project_gallery.photoSeven }}">
            <a href="#" id="image-box" class="d-block mb-4 h-100" data-toggle="modal" data-target="#exampleModal7">
                <div class="remove-centering">
                    <img class="picture-remove-btn" src="{{ url_for('static', filename='removemark.png') }}">
                </div>
                <img class="image-thumb" name="{{ project_gallery.photoSeven }}" src="{{ url_for('static', filename='users/' + user.username + '/' + project.title + '/' + project_gallery.photoSeven) }}" alt="Image not found!">
            </a>
        </div>
        <!-- PICTURE POPUP MODAL -->
        <div class="modal fade pic-modal" id="exampleModal7" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <p>{{ project_gallery.photoSeven }}</p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="pic-modal" style="text-align: center;">
                        <img src="{{ url_for('static', filename='users/' + user.username + '/' + project.title + '/' + project_gallery.photoSeven) }}" alt="Image not found">
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="modal-btn btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if project_gallery.photoEight %}
        <div class="col-lg-3 col-md-4 col-6" name="{{ project_gallery.photoEight }}">
            <a href="#" id="image-box" class="d-block mb-4 h-100" data-toggle="modal" data-target="#exampleModal8">
                <div class="remove-centering">
                    <img class="picture-remove-btn" src="{{ url_for('static', filename='removemark.png') }}">
                </div>
                <img class="image-thumb" name="{{ project_gallery.photoEight }}" src="{{ url_for('static', filename='users/' + user.username + '/' + project.title + '/' + project_gallery.photoEight) }}" alt="Image not found!">
            </a>
        </div>
        <!-- PICTURE POPUP MODAL -->
        <div class="modal fade pic-modal" id="exampleModal8" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <p>{{ project_gallery.photoEight }}</p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="pic-modal" style="text-align: center;">
                        <img src="{{ url_for('static', filename='users/' + user.username + '/' + project.title + '/' + project_gallery.photoEight) }}" alt="Image not found">
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="modal-btn btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if project_gallery.photoNine %}
        <div class="col-lg-3 col-md-4 col-6" name="{{ project_gallery.photoNine }}">
            <a href="#" id="image-box" class="d-block mb-4 h-100" data-toggle="modal" data-target="#exampleModal9">
                <div class="remove-centering">
                    <img class="picture-remove-btn" src="{{ url_for('static', filename='removemark.png') }}">
                </div>
                <img class="image-thumb" name="{{ project_gallery.photoNine }}" src="{{ url_for('static', filename='users/' + user.username + '/' + project.title + '/' + project_gallery.photoNine) }}" alt="Image not found!">
            </a>
        </div>
        <!-- PICTURE POPUP MODAL -->
        <div class="modal fade pic-modal" id="exampleModal9" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <p>{{ project_gallery.photoNine }}</p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="pic-modal" style="text-align: center;">
                        <img src="{{ url_for('static', filename='users/' + user.username + '/' + project.title + '/' + project_gallery.photoNine) }}" alt="Image not found">
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="modal-btn btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if project_gallery.photoTen %}
        <div class="col-lg-3 col-md-4 col-6" name="{{ project_gallery.photoTen }}">
            <a href="#" id="image-box" class="d-block mb-4 h-100" data-toggle="modal" data-target="#exampleModal10">
                <div class="remove-centering">
                    <img class="picture-remove-btn" src="{{ url_for('static', filename='removemark.png') }}">
                </div>
                <img class="image-thumb" name="{{ project_gallery.photoTen }}" src="{{ url_for('static', filename='users/' + user.username + '/' + project.title + '/' + project_gallery.photoTen) }}" alt="Image not found!">
            </a>
        </div>
        <!-- PICTURE POPUP MODAL -->
        <div class="modal fade pic-modal" id="exampleModal10" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <p>{{ project_gallery.photoTen }}</p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="pic-modal" style="text-align: center;">
                        <img src="{{ url_for('static', filename='users/' + user.username + '/' + project.title + '/' + project_gallery.photoTen) }}" alt="Image not found">
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="modal-btn btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endif %}
    </div>
</div>
{% endblock bodycontent %}

{% block scripts %}
{{ super() }}
<script>
/* DRAG AND DROP (via FormData, DataTransfer, and FileReader Web-API) FEATURE DETECTION IN USERS' BROWERS */
var isAdvancedUpload = function() {
    var div = document.createElement('div');
    return (('draggable' in div) || ('ondragstart' in div && 'ondrop' in div)) && 'FormData' in window && 'FileReader' in window;
}();

/* PICTURE UPLOAD */
$(function () {
    var $form = $('#file_box_input');
    
    if (isAdvancedUpload) {
        $form.addClass('has-advanced-upload');

        var droppedFiles = false;

        var $input    = $form.find('input[type="file"]'),
        $label    = $form.find('label'),
        showFiles = function(files) {
                        $label.text(files.length > 1 ? ($input.attr('data-multiple-caption') || '').replace( '{count}', files.length ) : files[ 0 ].name);
                    };

        $form.on('drag dragstart dragend dragover dragenter dragleave drop', function(e) {
            e.preventDefault();
            e.stopPropagation();
        })
        .on('dragover dragenter', function() {
            $form.addClass('is-dragover');
        })
        .on('dragleave dragend drop', function() {
            $form.removeClass('is-dragover');
        })
        .on('drop', function(e) {
            droppedFiles = e.originalEvent.dataTransfer.files;
            showFiles( droppedFiles );
            $('.box__button').css('visibility', 'initial');
        });
        
        $input.on('change', function(e) {
            droppedFiles = (e.target.files);
            showFiles(droppedFiles);
            $('.box__button').css('visibility', 'initial');
        });



        $form.on('submit', function(event) {
            if ($form.hasClass('is-uploading')) return false;
            $form.addClass('is-uploading').removeClass('is-error');

            if (isAdvancedUpload) {
                // ajax for modern browsers
                var csrf_token = "{{ csrf_token() }}";
                // Inject our CSRF token into our AJAX request.
                $.ajaxSetup({
                    beforeSend: function(xhr, settings) {
                        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrf_token)
                        }
                    }
                });
                event.preventDefault();

                var ajaxData = new FormData();

                if (droppedFiles && (droppedFiles.length < 11)) {
                    $.each( droppedFiles, function(i, file) {
                    ajaxData.append( i , file );
                    });
                } else if (droppedFiles.length > 10) {
                    alert('There is a maximum limit of 10 uploads!')
                }
                
                $.ajax({
                    url: $form.attr('action'),
                    type: $form.attr('method'),
                    data: ajaxData,
                    dataType: 'json',
                    cache: false,
                    contentType: false,
                    processData: false,
                    complete: function() {
                        $form.removeClass('is-uploading');
                    },
                    success: function(data) {
                        if (data == 'You already have a file with that name! Please use a different name.') {
                            $form.addClass('is-error');
                            $('.error_msg').text(data);
                            $('#file_input').css('display', 'none');
                        } else if (data == 'You have reached your maximum file limit of 10!') {
                            $form.addClass('is-error');
                            $('.error_msg').text(data);
                            $('#file_input').css('display', 'none');
                        } else if (data) {
                            $form.addClass('is-success');
                            $('.success_msg').text('Files were successfully uploaded!');
                            $('#file_input').css('display', 'none');

                            var new_images_length = (data).length;
                            for (i = 0; i < new_images_length; i++) {
                                $('#main-gallery-frame')
                                .append($('<div>')
                                    .attr('class', 'col-lg-3 col-md-4 col-6')
                                    .attr('name', data[i])
                                    .append($('<a>')
                                        .attr('id', 'image-box')
                                        .attr('class', 'd-block mb-4 h-100')
                                        .attr('data-toggle', 'modal')
                                        .attr('data-target', '#exampleModal' + data[i])
                                        .append($('<div>')
                                            .attr('class', 'remove-centering')
                                            .append($('<img>')
                                                .attr('class', 'picture-remove-btn')
                                                .attr('src', '{{ url_for("static", filename="removemark.png") }}')))
                                        .append($('<img>')
                                            .attr('class', 'image-thumb')
                                            .attr('name', data[i])
                                            .attr('src', '{{ url_for("static", filename=("users/" + user.username + "/" + project.title + "/")) }}' + data[i])
                                            .attr('alt', 'Image not found!')
                                        )
                                    )
                                )
                                .append($('<div>')
                                    .attr('id', 'exampleModal' + data[i])
                                    .attr('class', 'modal fade pic-modal')
                                    .attr('tabindex', -1)
                                    .attr('role', 'dialog')
                                    .attr('aria-labelledby', 'exampleModalLabel')
                                    .attr('aria-hidden', 'true')
                                    .append($('<div>')
                                        .attr('class', 'modal-dialog')
                                        .attr('role', 'document')
                                        .append($('<div>')
                                            .attr('class', 'modal-content')
                                            .append($('<div>')
                                                .attr('class', 'modal-header')
                                                .append($('<button>')
                                                    .attr('type', 'button')
                                                    .attr('class', 'close')
                                                    .attr('data-dismiss', 'modal')
                                                    .attr('aria-label', 'Close')
                                                    .append($('<span>')
                                                        .attr('aria-hidden', 'true')
                                                        .text('&times;'))))
                                            .append($('<div>')
                                                .attr('class', 'modal-body')
                                                .append($('<ul>')
                                                    .attr('class', 'pic-modal')
                                                    .css('text-align', 'center')
                                                    .append($('<img>')
                                                        .attr('src', '{{ url_for("static", filename="users/" + user.username + "/" + project.title + "/") }}' + data[i])
                                                        .attr('alt', 'Image not found!'))))
                                            .append($('<div>')
                                                .attr('class', 'modal-footer')
                                                .append($('<button>')
                                                    .attr('type', 'button')
                                                    .attr('class', 'modal-btn btn btn-secondary')
                                                    .attr('data-dismissed', 'modal')
                                                    .text('Close')))
                                        )
                                    )
                                )
                            }
                        } else {
                            $form.addClass('is-error');
                            $('.error_msg').text(data);
                        }
                    },
                    error: function(response) {
                        if (response.statusText == 'REQUEST ENTITY TOO LARGE') {
                            $form.addClass('is-error');
                            $('.error_msg').text('Failed to upload. Exceeded the 5MB file limit!');
                            $('#file_input').css('display', 'none');
                        }
                    }
                });
            } else {
                /* OLD BROWSERS THAT DO NOT SUPPORT DRAG AND DROP */
                var iframeName  = 'uploadiframe' + new Date().getTime();
                $iframe = $('<iframe name="' + iframeName + '" style="display: none;"></iframe>');

                $('body').append($iframe);
                $form.attr('target', iframeName);

                $iframe.one('load', function() {
                    var data = JSON.parse($iframe.contents().find('body' ).text());
                    $form
                    .removeClass('is-uploading')
                    .addClass(data.success == true ? 'is-success' : 'is-error')
                    .removeAttr('target');
                    if (!data.success) $errorMsg.text(data.error);
                    $form.removeAttr('target');
                    $iframe.remove();
                });
            }
        });
    }

});

/* REMOVE PICTURES */
$(function () {
    $('#main-gallery-frame').on('click', '.picture-remove-btn', (event) => {
        var current_img = event.currentTarget.parentElement.nextElementSibling.name;
        var current_div = event.currentTarget.parentElement.parentElement.parentElement;
        
        $.ajax({
            url: '/project/delete_photos/' + '{{ project.title }}' + '/' + current_img,
            type: 'GET',
            contentType: 'application/json',
            success: function(response) {
                current_div.remove();
            },
            error: function(response) {
                console.log(response);
            }
        });
    });
});
</script>

<script>
$(function () {
    /* ADDS 'ACTIVE' CLASS TO THE FIRST DIV IN GIVEN ID/CLASS NAME - 'ACTIVE' REQ BY CAROUSEL */
    $('#main-carousel-frame div:first').addClass('active');

    $('#carouselExample').on('slide.bs.carousel', function (e) {
        var $e = $(e.relatedTarget);
        var idx = $e.index();
        var itemsPerSlide = 6;
        var totalItems = $('.carousel-item').length;

        if (idx >= totalItems-(itemsPerSlide-1)) {
            var it = itemsPerSlide - (totalItems - idx);
            for (var i=0; i<it; i++) {
                // append slides to end
                if (e.direction=="left") {
                    $('.carousel-item').eq(i).appendTo('.carousel-inner');
                }
                else {
                    $('.carousel-item').eq(0).appendTo('.carousel-inner');
                }
            }
        }
    });
});

</script>
{% endblock scripts %}