{% extends "base.html" %}

{% block css %}
<!--  PLACED BOOTSTRAP CSS FIRST TO BE OVERRIDDEN BY OTHERS AFTER  -->
<link rel="stylesheet" href="https://code.getmdl.io/1.1.2/material.indigo-pink.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/perfect-scrollbar.css') }}">
<link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.4.0/css/bootstrap4-toggle.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="{{ url_for('static', filename='stylesheets/base.css') }}" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.css">
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/edit-maintenance.css') }}">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600,800,900" rel="stylesheet" type="text/css">
{% endblock css %}

{% block mediaquery %}
<style>
</style>
{% endblock mediaquery %}

{% block bodycontent %}
<div class="container edit-maintenance-container custom-scrollbar-s3">
    <div class="row align-items-center">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 my-2 text-center">
            <h1 class="edit-maintenance-title" style="text-align: center;">Edit Maintenance</h1>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 mb-5 text-center">
            <div class="export-status-container">
                <div id="statuscontainer">
                    <span class="status-cancel">cancel</span>
                    <span class="status-close">close</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 my-2 text-center">
            <a class="edit-maintenance-back-btn" href="{{ url_for('project.project', username=current_user.username, title=project.title) }}">Back to project</a>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 my-2 text-center">
            <p style="font-size: 0.8em; font-style: italic; color: rgb(179, 179, 179); opacity: 0.9; text-align: center; margin: 0; padding: 0;">Experimental: Drag and drop TEXT or IMAGES. <strong style="color: red"><br> *** WARNING *** : </strong> YOU WILL EXPERIENCE BUGS AND ISSUES USING THIS METHOD</p>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 my-2 text-center">
            <div class="toggle-wrapper">
                <input id="chkToggle" type="checkbox" class="toggle-maintenance" data-toggle="toggle">
            </div>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 my-2 text-center">
            <div class="maintenance-btn-wrapper">
                <i class="maintenance-main-add-btn fas fa-edit fa-2x nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></i>
                <div id="maintenance-dropdown-override" class="maintenance-dropdown dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; transform: translate3d(0px, 42px, 0px);">
                    <a class="dropdown-item dropdown-add-paragraph" onclick="addParagraph();" data-toggle="tooltip" href="#">Edit</a>
                    <a class="dropdown-item dropdown-export" href="#">Export</a>
                    <a class="dropdown-item dropdown-share" href="#">Share</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 my-2">
            <div class="maintenance-container-text custom-scrollbar-s3">
                <form class="maintenance-form custom-scrollbar-s3" method="POST">
                    <div id="summernote"></div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock bodycontent %}

{% block scripts %}
        <!-----  SUMMERNOTES 0.8.8 IS ONLY COMPATIABLE WITH JQUERY 3.2.1  ----->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.4.0/js/bootstrap4-toggle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.js"></script>
<script src="https://cdn.rawgit.com/kimmobrunfeldt/progressbar.js/1.0.1/dist/progressbar.min.js"></script>
<!-- PERFECT SCROLLBAR JS -->
<script src="{{ url_for('static', filename='plugins/perfect-scrollbar.min.js') }}"></script>


<script>
/* INITIALLY LOADS SUMMERNOTE TEXT EDITOR */
$(document).ready(function() {
    var maxcontentfunc = function(max) {
        $('#maxContentPost').text(max);
    };
    $('#summernote').summernote({
        toolbar: [
            // [groupName, [list of button]]
            ['style', ['bold', 'italic', 'underline', 'clear']],
            ['font', ['strikethrough', 'superscript', 'subscript']],
            ['fontsize', ['fontsize']],
            ['color', ['color']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['height', ['height']],
            ['picture', ['picture']],
            ['imagesize', ['imageSize100', 'imageSize50', 'imageSize25']],
            ['link', ['linkDialogShow', 'unlink']],
            ['codeview', ['codeview']],
            ['closebutton', ['close']],
            ['savebutton', ['save']]
        ],
        buttons: {
            close: CloseButton,
            save: SaveButton
        },
        popover: {
            image: [],
            link: [],
            air: [
                ['color', ['color']],
                ['font', ['bold', 'underline', 'clear']],
                ['para', ['ul', 'paragraph']],
                ['table', ['table']],
                ['insert', ['link', 'picture']],
            ]
        },
        maximumImageFileSize: 5*1024*1024,
        callbacks: {
            /* SENDS IMAGE URL TO SERVER TO PREPARE FOR COMMIT */
            onImageUpload: function(files) {
                var that = $(this);
                var pictures = [];
                for (i = 0; i < files.length; i++) {
                    pictures.push(files[i]);
                };
                // sends picture(s) to server to be stored tempoarily until users 'save'
                sendFile(pictures, that);
            },
            onImageUploadError: function(msg) {
                alert(msg + ' (5 MB)');
            },
            onKeydown: function(e) {
                var t = e.currentTarget.innerText;
                // MAX CHARACTER LENGTH IS SET AT 50,000
                if (t.trim().length >= 50000) {
                    //delete key
                    if (e.keyCode != 8)
                    e.preventDefault();
                    // add other keys ...
                }
            },
            onKeyup: function(e) {
                var t = e.currentTarget.innerText;
                if (typeof maxcontentfunc == 'function') {
                    maxcontentfunc(50000 - t.trim().length);
                }
            },
            onPaste: function(e) {
                var bufferText = ((e.originalEvent || e).clipboardData || window.clipboardData).getData('Text');
                e.preventDefault();
                document.execCommand('insertText', false, bufferText);
            },
            /*
            onPaste: function(e) {
                var t = e.currentTarget.innerText;
                var bufferText = ((e.originalEvent || e).clipboardData || window.clipboardData).getData('Text');
                e.preventDefault();
                var all = t + bufferText;
                // THIS LIMITS THE CHARACTER PASTE LENGTH TO 10,000
                document.execCommand('insertText', false, all.trim().substring(0, 10000));
                if (typeof maxcontentfunc == 'function') {
                    maxcontentfunc(50000 - t.length);
                }
            }, */
        },
    });

    // MANUALLY INJECTING CSS VALUES FOR SUMMERNOTE TEXT EDITOR - MAX CHAR LENGTH FOR LINKS
    $('.note-link-text').attr('maxlength', 150);
    $('.note-link-url').attr('maxlength', 2000);
    $('.note-editable').addClass('custom-scrollbar-s3');

    // LOADS DATABASE TUTORIAL CONTENT INTO EDITOR ON PAGE RENDERING - 'TOJSON' USED DUE TO SINGLE&DOUBLE QUOTE OVERLAPPING
    var contents = '{{ project.maintenance|tojson }}';
    // USING REPLACE AND REGEX TO REMOVE EXCESS QUOTES FROM 'TOJSON'
    var contents2 = contents.replace(/^\"/g, '').replace(/\"$/g, '');

    $('#summernote').summernote('code', contents2);
});

/* CUSTOM PARAGRAPH BUTTONS */
var CloseButton = function (context) {
    var ui = $.summernote.ui;

    // create button
    var button = ui.button({
        contents: '<i class="fas fa-times" /> Close',
        style: 'float: right;',
        click: function () {
            $.ajax({
                url: '{{ url_for("project.load_maintenance", title=project.title) }}',
                type: 'GET',
                success: function(response) {
                    // LOADS MOST RECENTLY SAVED TUTORIAL DYNAMICALLY BEFORE CLOSING
                    $('#summernote').summernote('code', response);
                    // CLOSES TEXT EDITOR BOX
                    $('#summernote').each(function(index) {
                        $(this).summernote('destroy');
                    });
                },
            });
        },
    });
    return button.render();   // return button as jquery object
};
var SaveButton = function (context) {
    var ui = $.summernote.ui;

    // create button
    var button = ui.button({
        contents: 'Save',
        style: 'float: right;',
        click: function () {
            // saves the paragraph content
            var html = $("#summernote").summernote("code");
            saveTutorial(html);
        }
    });
    return button.render();   // return button as jquery object
};

// TEMPORARILY UPLOADS PICTURES TO DATABASE AND ADDS TO CLIENT'S EDITOR ON SUCCESS
function sendFile(pictures, that) {
    // ajax for modern browsers
    var csrf_token = "{{ csrf_token() }}";
    // Inject our CSRF token into our AJAX request.
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token)
            }
        }
    });
    
    data = new FormData();
    for (i = 0; i < pictures.length; i++) {
        data.append(i, pictures[i]);
    };

    $.ajax({
        data: data,
        type: "POST",
        url: "{{ url_for('project.edit_maintenance_photo', title=project.title) }}",
        cache: false,
        contentType: false,
        processData: false,
        success: function(response) {
            for (i = 0; i < response.length; i++) {
                var filePath = 'users/' + '{{ project.username }}' + '/' + '{{ project.title }}' + '/maintenancepics/';
                // MUST CHANGE THE IMAGE PATH WHEN IN PRODUCTION MODE
                console.log('uploading to summer..')
                $(that).summernote('insertImage',
                            'https://smallworld.live/static/' + filePath + response[i],
                            function ($image) {
                                $image.css('width', $image.width() / 3);
                            }
                );
            };
        }
    });

};

// DYNAMICALLY REOPENS TEXT EDITOR BOX
function addParagraph() {
    var maxcontentfunc = function(max) {
        $('#maxContentPost').text(max);
    };
    $.ajax({
        url: '{{ url_for("project.load_maintenance", title=project.title) }}',
        type: 'GET',
        success: function(response) {
            $('#summernote').summernote({
                toolbar: [
                    // [groupName, [list of button]]
                    ['style', ['bold', 'italic', 'underline', 'clear']],
                    ['font', ['strikethrough', 'superscript', 'subscript']],
                    ['fontsize', ['fontsize']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['height', ['height']],
                    ['picture', ['picture']],
                    ['imagesize', ['imageSize100', 'imageSize50', 'imageSize25']],
                    ['link', ['linkDialogShow', 'unlink']],
                    ['codeview', ['codeview']],
                    ['closebutton', ['close']],
                    ['savebutton', ['save']]
                ],
                buttons: {
                    close: CloseButton,
                    save: SaveButton
                },
                popover: {
                    image: [],
                    link: [],
                    air: [
                        ['color', ['color']],
                        ['font', ['bold', 'underline', 'clear']],
                        ['para', ['ul', 'paragraph']],
                        ['table', ['table']],
                        ['insert', ['link', 'picture']]
                    ]
                },
                maximumImageFileSize: 5*1024*1024,
                callbacks: {
                    /* SENDS IMAGE URL TO SERVER TO PREPARE FOR COMMIT */
                    onImageUpload: function(files) {
                        var that = $(this);
                        var pictures = [];
                        for (i = 0; i < files.length; i++) {
                            pictures.push(files[i]);
                        };
                        // sends picture(s) to server to be stored tempoarily until users 'save'
                        sendFile(pictures, that);
                    },
                    onImageUploadError: function(msg) {
                        alert(msg + ' (5 MB)');
                    },
                    onKeydown: function(e) {
                        var t = e.currentTarget.innerText;
                        // MAX CHARACTER LENGTH IS SET AT 50,000
                        if (t.trim().length >= 50000) {
                            //delete key
                            if (e.keyCode != 8)
                            e.preventDefault();
                            // add other keys ...
                        }
                    },
                    onKeyup: function(e) {
                        var t = e.currentTarget.innerText;
                        if (typeof maxcontentfunc == 'function') {
                            maxcontentfunc(50000 - t.trim().length);
                        }
                    },
                    onPaste: function(e) {
                        var bufferText = ((e.originalEvent || e).clipboardData || window.clipboardData).getData('Text');
                        e.preventDefault();
                        document.execCommand('insertText', false, bufferText);
                    },
                    /*
                    onPaste: function(e) {
                        var t = e.currentTarget.innerText;
                        var bufferText = ((e.originalEvent || e).clipboardData || window.clipboardData).getData('Text');
                        e.preventDefault();
                        var all = t + bufferText;
                        // THIS LIMITS THE CHARACTER PASTE LENGTH TO 10,000
                        document.execCommand('insertText', false, all.trim().substring(0, 10000));
                        if (typeof maxcontentfunc == 'function') {
                            maxcontentfunc(50000 - t.length);
                        }
                    }, */
                },
            });

            // MANUALLY INJECTING CSS VALUES FOR SUMMERNOTE TEXT EDITOR - MAX CHAR LENGTH FOR LINKS
            $('.note-link-text').attr('maxlength', 150);
            $('.note-link-url').attr('maxlength', 2000);
            $('.note-editable').addClass('custom-scrollbar-s3');
            scrollbar();

            // LOADS SAVED TUTORIAL DYNAMICALLY
            $('#summernote').summernote('code', response);
        },
    });
};

function saveTutorial(html) {
    // ajax for modern browsers
    var csrf_token = "{{ csrf_token() }}";
    // Inject our CSRF token into our AJAX request.
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token)
            }
        }
    });


    $.ajax({
        data: html,
        type: "POST",
        url: "{{ url_for('project.edit_maintenance_save', title=project.title) }}",
        contentType: false,
        cache: false,
        processData: false,
        success: function(response) {
            // closes the text editor box. 'destroy' automatically uses most recent content
            $('#summernote').each(function(index) {
                $(this).summernote('destroy');
            });
        }
    });
    
}

</script>

<script>
/* ENABLE-DISABLE TOGGLE */
$(function() {
    // LOADS THE USER'S TOGGLE SETTING
        {% if project.maintenance_enabled == True %}
            $('.toggle').removeClass('btn btn-light off');
            $('.toggle').addClass('toggle btn btn-primary');
            $('#chkToggle').prop('checked', true);
        {% else %}
            $('.maintenance-container-text').css('display', 'none');
            $('.maintenance-main-add-btn').css('visibility','hidden');
            $('#chkToggle').prop('checked', false);
        {% endif %}

    // UPDATES SERVER WITH TOGGLE SETTING
    $('.toggle').on('click', () => {
        var toggleValue = $('#chkToggle').prop('checked');
        
        if (toggleValue == true) {
            var csrf_token = "{{ csrf_token() }}";
            // Inject imported CSRF token into our AJAX request.
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrf_token)
                    }
                }
            });
            $.ajax({
                url: "{{ url_for('project.edit_maintenance_toggle', title=project.title) }}",
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify('false'),
                success: function(response) {
                    $('.maintenance-container-text').css('display', 'none');
                    $('.maintenance-main-add-btn').css('visibility','hidden');
                }
            });
        } else if (toggleValue == false) {
            var csrf_token = "{{ csrf_token() }}";
            // Inject imported CSRF token into our AJAX request.
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrf_token)
                    }
                }
            });
            $.ajax({
                url: "{{ url_for('project.edit_maintenance_toggle', title=project.title) }}",
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify('true'),
                success: function(response) {
                    $('.maintenance-container-text').css('display', 'block');
                    $('.maintenance-main-add-btn').css('visibility','visible');
                }
            });
        }
    });

});

// NEED TO GLOBALLY SET THIS TO CLEAR TIMEOUT or STOP REQUESTING UPDATES AFTER USER CANCELS
var updateTimer;
var statusbar;
/* INITIALIZES CELERY WORKER FOR EXPORTING */
$(function() {
    // STARTS EXPORTING ON CLICK
    $('.dropdown-export').on('click', () => {
        $('.export-status-container').css('display', 'block');
        $('.status-cancel').css('display', 'block');
        $('.status-close').css('display', 'none');
        
        /* JS Progress Bar 1.0 */
        statusbar = new ProgressBar.SemiCircle(statuscontainer, {
            strokeWidth: 6,
            color: '#FFEA82',
            trailColor: '#eee',
            trailWidth: 1,
            easing: 'easeInOut',
            duration: 1400,
            svgStyle: null,
            text: {
                value: '',
                alignToBottom: false
            },
            from: {color: '#FFEA82'},
            to: {color: '#ED6A5A'},
            // Set default step function for all animate calls
            step: (state, bar) => {
                bar.path.setAttribute('stroke', state.color);
                var value = Math.round(bar.value() * 100);
                if (value === 0) {
                bar.setText('');
                } else {
                bar.setText(value);
                }

                bar.text.style.color = state.color;
            }
            });
        statusbar.text.style.fontFamily = '"Raleway", Helvetica, sans-serif';
        statusbar.text.style.fontSize = '2rem';

        var csrf_token = "{{ csrf_token() }}";
        // Inject our CSRF token into our AJAX request.
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrf_token)
                }
            }
        });
        $.ajax({
            url: '/project/export_celery_test/' + '{{ project.username }}' + '/' + '{{ project.title }}',
            type: 'POST',
            success: function(data, status, request) {
                status_url = request.getResponseHeader('Location');
                update_progress(status_url, statusbar);
            },
        });
    });
});

/* GET STATUS UPDATED FROM CELERY WORKER */
function update_progress(status_url, progressbar) {
    // send GET request to status URL
    $.getJSON(status_url, function(data) {
        // update UI
        var percent = parseInt(data['current'] * 100 / data['total']);
        var animationNum = parseFloat(data['current'] / data['total']);
        progressbar.animate(animationNum);
        progressbar.setText(percent);
        if (animationNum == 1) {
            $('.status-cancel').css('display', 'none');
            $('.status-close').css('display', 'block');
            alert('You have successfully tested the exported maintenance doc feature. File download will be implemented in the near future :)')
        }
        
        if (data['state'] != 'PENDING' && data['state'] != 'PROGRESS') {
            if ('result' in data) {
                // show error result
                progressbar.setText('Result: ' + data['result']);
            }
            else {
                // something unexpected happened
                progressbar.setText('Result: ' + data['state']);
            }
        }
        else {
            // rerun in 3 seconds
            updateTimer = setTimeout(function() {
                update_progress(status_url, progressbar);
            }, 3000);
        }
    });
};

/* CANCEL EXPORT WORKER */
$(function() {
    // DESTROYS EXISTING PROGRESS BAR ON CLOSE
    $('.status-cancel').on('click', () => {
        if (statusbar) {
            statusbar.stop();
            // STOPS REQUESTING UPDATES FROM WORKER (WORKER STILL CONTINUES UNTIL COMPLETE)
            clearTimeout(updateTimer);
            $('.status-cancel').css('display', 'none');
            $('.status-close').css('display', 'block');
        };
    });
    $('.status-close').on('click', () => {
        if (statusbar) {
            statusbar.destroy();
            $('.status-cancel').css('display', 'none');
            $('.status-close').css('display', 'none');
            $('.export-status-container').css('display', 'none');
        };
    });
});

</script>

<script>
/* CUSTOM FUNCTIONS TO BE USED ON DYNAMICALLY ADDED ELEMENTS WHEREAS BELOW THIS ONLY LOADS ONCE WHEN DOC COMPLETES */
function scrollbar() {
    $('.custom-scrollbar').each(function() {
        const ps = new PerfectScrollbar($(this)[0], {
            wheelSpeed: 0.25,
            suppressScrollX: true,
        });
    });

    $('.custom-scrollbar-s1').each(function() {
        const ps = new PerfectScrollbar($(this)[0], {
            wheelSpeed: .50,
            suppressScrollX: true,
        });
    });

    $('.custom-scrollbar-s2').each(function() {
        const ps = new PerfectScrollbar($(this)[0], {
            wheelSpeed: 1,
            suppressScrollX: true,
        });
    });

    $('.custom-scrollbar-s3').each(function() {
        const ps = new PerfectScrollbar($(this)[0], {
            wheelSpeed: 1.5,
            suppressScrollX: true,
        });
    });

    $('.custom-scrollbar-s4').each(function() {
        const ps = new PerfectScrollbar($(this)[0], {
            wheelSpeed: 2,
            suppressScrollX: true,
        });
    });
};

$(document).ready(function() {
    /* CUSTOM SCROLL BAR - MUST ADD THE SPECIFIED CLASS TO EACH DIV */
    $('.custom-scrollbar').each(function() {
        const ps = new PerfectScrollbar($(this)[0], {
            wheelSpeed: 0.25,
            suppressScrollX: true,
        });
    });

    $('.custom-scrollbar-s1').each(function() {
        const ps = new PerfectScrollbar($(this)[0], {
            wheelSpeed: .50,
            suppressScrollX: true,
        });
    });

    $('.custom-scrollbar-s2').each(function() {
        const ps = new PerfectScrollbar($(this)[0], {
            wheelSpeed: 1,
            suppressScrollX: true,
        });
    });

    $('.custom-scrollbar-s3').each(function() {
        const ps = new PerfectScrollbar($(this)[0], {
            wheelSpeed: 1.5,
            suppressScrollX: true,
        });
    });

    $('.custom-scrollbar-s4').each(function() {
        const ps = new PerfectScrollbar($(this)[0], {
            wheelSpeed: 2,
            suppressScrollX: true,
        });
    });
});

</script>

{% endblock scripts %}