{% extends "base.html" %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='new-project.css') }}">
{% endblock css %}

{% block bodycontent %}
<form class="project-container" action="{{ url_for('project.new_project') }}" method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <legend>Create New Project</legend><br>
    {% for error in form.title.errors %}
    {% if error %}
    <div class="alert alert-dismissible alert-secondary" style="width: 40%; margin: 0 auto 1em auto;">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>{{ error }}</strong>
    </div>
    {% endif %}
    {% endfor %}
    <div class="form-group row">

        <label for="new-project-title" class="col-sm-2 col-form-label">{{ form.title.label }}</label>
        <div class="col-sm-10 project-title">
            {% if form.title.errors %}
                {{ form.title(style="border: 1px solid red;", class="form-control", id="new-project-title", placeholder="Title of project", type="text", maxlength="40") }}
            {% else %}
                {{ form.title(class="form-control", id="new-project-title", placeholder="Title of project", type="text", maxlength="40") }}
            {% endif %}
        </div>

        <label id="new-project-description-label" class="col-sm-2 col-form-label" for="new-project-descrip">{{ form.description.label }}</label>
        <div class="col-sm-10 project-description">
            {{ form.description(class="form-control", id="new-project-descrip", rows="3", maxlength="300") }}
        </div>

        <label id="new-project-difficulty-label" class="" for="new-project-difficulty">{{ form.difficulty.label }}</label>
        <div class="project-difficulty">
            <select class="form-control" id="new-project-difficulty" value="{{ form.difficulty }}">
                <option>-</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
            </select>
        </div>
        
        <label id="new-project-cost-label" class="">{{ form.cost.label }}</label>
        <span id="dollar-sign" class="input-group-text">$</span>
        {% if form.cost.errors %}
        {{ form.cost(id="cost-amt", class="form-control", placeholder="Amount", type="number", autocomplete="off", style="border: 1px solid red;") }}
        {% else %}
        {{ form.cost(id="cost-amt", class="form-control", placeholder="Amount", type="number", autocomplete="off") }}
        {% endif %}
        <span id="cost-decimal" class="input-group-text">.00</span>

        <label id="new-project-duration-label">{{ form.duration.label }}</label>
        {% if form.duration.errors %}
        {{ form.duration(id="new-project-duration", class="form-control", placeholder="Total Hours", type="number", autocomplete="off", style="border: 1px solid red;") }}
        {% else %}
        {{ form.duration(id="new-project-duration", class="form-control", placeholder="Total Hours", type="number", autocomplete="off") }}
        {% endif %}

        <label id="new-project-tutorial-label" class="col-sm-2 col-form-label" for="new-project-tutorial">{{ form.tutorial.label }}</label>
        <div class="col-sm-10 project-tutorial">
            {{ form.tutorial(class="form-control", id="new-project-tutorial", rows="8", maxlength="10000") }}
        </div>

        <label id="new-project-link-label" for="new-project-video" class="col-sm-2 col-form-label">{{ form.video.label }}</label>
        <div class="col-sm-10 project-video">
            {{ form.video(class="form-control", id="new-project-video", placeholder="YouTube recommended", type="text", maxlength="200") }}
            <div class="file-upload-box">
                <label for="InputFile">File input</label>
                <input type='file' name='file' class="form-control-file" aria-describedby="fileHelp">
                <small id="fileHelp" class="form-text text-muted">Upload a cover photo for your new project (.jpg, .jpeg or .png). Recommended picture size of 1400 x 524.</small>
            </div>
        </div>

        <div class="new-project-privacy custom-control custom-checkbox">
            {{ form.privacy(type="checkbox", class="custom-control-input", id="customCheck1") }}
            <label class="custom-control-label" for="customCheck1">{{ form.privacy.label }}?</label>
        </div>

        <div class="new-project-submit">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </div>
</form>
{% endblock bodycontent %}