{% extends "base.html" %}

{% block bodycontent %}
<div style="width: auto; height: 30em; background-color: rgb(182, 182, 182); padding: 1em; margin: 2em; border-radius: 1em;">
    <h3 style="margin: 1em; color: white;"><img src="{{ url_for('static', filename='error/privacy.gif') }}" style="width: 5em; height: auto; border-radius: 50%; margin: 0 1em;"><strong style="color: maroon">Oops!</strong> You are trying to access a project profile that is private!</h3>
    <p style="margin-left: 4em; color: white;">The creator must disable the privacy setting for this project in order for you to see it. Sorry for the inconvenience!</p>
    <br>
    {% if current_user.is_authenticated %}
    <p style="margin-left: 4em; color: white;">Back to your <a style="color: rgb(58, 58, 223);" href="{{ url_for('main.profile', username=current_user.username) }}">profile</a></p>
    {% endif %}
    <p style="margin-left: 4em; color: white;">Back to <a style="color: rgb(58, 58, 223);" href="{{ url_for('auth.homepage') }}">homepage</a></p>
    <br>
    <p style="margin-left: 4em; color: white;">Sincerely,</p>
    <p style="margin-left: 4em; color: white;">The smallWorld team</p>
</div>
{% endblock bodycontent %}