{% extends "base.html" %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/edit-project-bar.css') }}">
{% endblock %}

{% block bodycontent %}
<form class="container project-container" action="{{ url_for('project.edit_bar', title=project.title) }}" method="POST">
    {{ form.hidden_tag() }}
    <div class="row align-items-center">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 my-4 text-center">
            <h2>Edit Project Bar</h2>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 my-2 text-center">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    {% if message == "You already have an existing project with that name. Please select a different title name." %}
                    <div class="alert alert-dismissible alert-secondary" style="width: 40%; margin: 0 auto 1em auto;">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>{{ message }}</strong>
                    </div>
                    {% else %}
                    <div class="alert alert-dismissible alert-primary" style="width: 40%; margin: 0 auto 1em auto;">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>{{ message }}</strong>
                    </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 my-2 text-center">
            {% for error in form.title.errors %}
            {% if error %}
            <div class="alert alert-dismissible alert-secondary" style="width: 40%; margin: 0 auto 1em auto;">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>{{ error }}</strong>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 my-2 text-center">
            {{ form.title.label }}
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-lg-offset-2 col-xl-7 col-xl-offset-2 my-4 text-center">
            {% if form.title.errors %}
                {{ form.title(style="border: 1px solid red;", class="form-control", placeholder="Title of project", type="text", maxlength="40") }}
            {% else %}
                {{ form.title(class="form-control", id="new-project-title", placeholder="Title of project", type="text", maxlength="40") }}
            {% endif %}
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 my-2 text-center">
            {{ form.description.label }}
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-7 col-lg-offset-2 col-xl-7 col-xl-offset-2 my-4 text-center">
            {{ form.description(class="form-control", id="new-project-descrip", rows="3", maxlength="300") }}
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 my-4 text-center">
            {{ form.difficulty.label }}
            <div class="project-difficulty">
                <select class="form-control" id="new-project-difficulty" value="{{ form.difficulty }}">
                    <option value="">-</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 my-4 text-center">
            {{ form.cost.label }}
            {% if form.cost.errors %}
                {{ form.cost(id="cost-amt", class="form-control", placeholder="Amount", type="number", autocomplete="off", style="border: 1px solid red;") }}
            {% else %}
                {{ form.cost(id="cost-amt", class="form-control", placeholder="Amount", type="number", autocomplete="off") }}
            {% endif %}
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 my-4 text-center">
            {{ form.duration.label }}
            {% if form.duration.errors %}
                {{ form.duration(id="new-project-duration", class="form-control", placeholder="Total Hours", type="number", autocomplete="off", style="border: 1px solid red;") }}
            {% else %}
                {{ form.duration(id="new-project-duration", class="form-control", placeholder="Total Hours", type="number", autocomplete="off") }}
            {% endif %}
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 my-4 text-center">
            <div class="custom-control custom-checkbox">
                {{ form.privacy(type="checkbox", class="custom-control-input", id="customCheck1") }}
                <label class="custom-control-label" for="customCheck1">{{ form.privacy.label }}?</label>
            </div>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 my-4 text-center">
            {{ form.submit(class="btn btn-primary") }}
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 my-4 text-center">
            <a class="project-bar-edit-cancel-btn" href="{{ url_for('project.project', username=current_user.username, title=project.title) }}"><button type="button" class="btn btn-secondary">Back</button></a>
        </div>
    </div>
</form>
{% endblock bodycontent %}

{% block scripts %}
{{ super() }}
<script>
$(function () {
    let difficulty = '{{ project.difficulty }}';
    $('#new-project-difficulty').val(difficulty);
});
</script>
{% endblock scripts %}