{% extends "base.html" %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='project-profile.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='project-comments.css') }}">
<!--
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
-->
{% endblock css %}

{% block bodycontent %}
<div class="project-main-container">
    <div class="project-social-box">
        {% if current_user.is_authenticated %}
            {% if current_user != user %}
            <div class="project-avatar-box">
                <a href="{{ url_for('main.profile', username=user.username) }}">
                    <img class="project-image-box" src="{{ user.avatar(80) }}">
                </a>
            </div>
            <div class="project-user-name">
                <a class="project-username-link" href="{{ url_for('main.profile', username=user.username) }}"><p class="test321">{{ user.username }}</p></a>
            </div>
                {% if not current_user.is_following(user) %}
                <div class="project-social-follow">
                    <a href="{{ url_for('main.follow', username=user.username, redirect='project-page', title=project.title) }}">Follow</a>
                </div>
                {% else %}
                <div class="project-social-unfollow">
                    <a href="{{ url_for('main.unfollow', username=user.username, redirect='project-page', title=project.title) }}">Unfollow</a>
                </div>
                {% endif %}
            <div class="project-social-message">
                <a href="{{ url_for('main.message_inbox') }}">Message</a>
            </div>
            {% else %}
            <div class="project-avatar-box" style="grid-column: 1 / span 3">
                <a href="{{ url_for('main.profile', username=user.username) }}">
                    <img class="project-image-box" src="{{ user.avatar(80) }}">
                </a>
            </div>
            <div class="project-user-name" style="grid-column: 1 / span 3">
                <a class="project-username-link" href="{{ url_for('main.profile', username=user.username) }}"><p class="test321">{{ user.username }}</p></a>
            </div>
            {% endif %}
        {% else %}
        <div class="project-avatar-box" style="grid-column: 1 / span 3;">
            <a href="{{ url_for('main.profile', username=user.username) }}">
                <img class="project-image-box" src="{{ user.avatar(80) }}">
            </a>
        </div>
        <div class="project-user-name" style="grid-column: 1 / span 3;">
            <a class="project-username-link" href="{{ url_for('main.profile', username=user.username) }}"><p class="test321">{{ user.username }}</p></a>
        </div>
        {% endif %}
    </div>

    <div class="project-card-box">
        <div class="project-descrip-box">
            <i class="project-like-number project-like-number-{{ project.id }}">{{ project.likes }}</i>
            <strong class="project-like-text">Likes</strong>
            {% if current_user.is_authenticated %}
            {% if current_user != user %}
            <i id="{% if project_likes %}projectlike{% endif %}" class="fa fa-heart project-like projectlike-{{ project.id }}" data-project-id="{{ project.id }}"></i>
            {% endif %}
            {% endif %}
            <p class="project-descrip-title">Description</p>
            <p class="project-descrip">{{ project.description }}</p>
            <p class="project-tags">Tags:
                {% if project.aquariums == True %}<a href="{{ url_for('project.tagsearch', tag='aquariums') }}"> Aquariums</a>,{% endif %}
                {% if project.saltwater == True %}<a href="{{ url_for('project.tagsearch', tag='saltwater') }}"> Saltwater</a>,{% endif %}
                {% if project.freshwater == True %}<a href="{{ url_for('project.tagsearch', tag='freshwater') }}"> Freshwater</a>,{% endif %}
                {% if project.terrariums == True %}<a href="{{ url_for('project.tagsearch', tag='terrariums') }}"> Terrariums</a>,{% endif %}
                {% if project.enclosedtropical == True %}<a href="{{ url_for('project.tagsearch', tag='enclosedtropical') }}"> Enclosed Tropical</a>,{% endif %}
                {% if project.opentropical == True %}<a href="{{ url_for('project.tagsearch', tag='opentropical') }}"> Open Tropical</a>,{% endif %}
                {% if project.carnivorous == True %}<a href="{{ url_for('project.tagsearch', tag='carnivorous') }}"> Carnivorous</a>,{% endif %}
                {% if project.desert == True %}<a href="{{ url_for('project.tagsearch', tag='desert') }}"> Desert</a>,{% endif %}
                {% if project.reptiles == True %}<a href="{{ url_for('project.tagsearch', tag='reptiles') }}"> Reptiles</a>,{% endif %}
                {% if project.vivariumpaludarium == True %}<a href="{{ url_for('project.tagsearch', tag='vivariumpaludarium') }}"> Vivarium/Paludarium</a>,{% endif %}
                {% if project.waterreptiles == True %}<a href="{{ url_for('project.tagsearch', tag='waterreptiles') }}"> Water Reptiles</a>,{% endif %}
                {% if project.plantsonly == True %}<a href="{{ url_for('project.tagsearch', tag='plantsonly') }}"> Plants only</a>,{% endif %}
                {% if project.difficulty < 4 %}<a href="{{ url_for('project.tagsearch', tag='difficulty', value='easy') }}"> Easy</a>,{% elif project.difficulty > 7 %}<a href="{{ url_for('project.tagsearch', tag='difficulty', value='hard') }}"> Hard</a>,{% else %}<a href="{{ url_for('project.tagsearch', tag='difficulty', value='medium') }}"> Medium</a>,{% endif %}
                {% if project.cost < 100 %}<a href="{{ url_for('project.tagsearch', tag='cost', value='$') }}"> $</a>,{% elif project.cost > 100 %}<a href="{{ url_for('project.tagsearch', tag='cost', value='$$') }}"> $$</a>,{% elif project.cost > 300 %}<a href="{{ url_for('project.tagsearch', tag='cost', value='$$$') }}"> $$$</a>,{% elif project.cost > 600 %}<a href="{{ url_for('project.tagsearch', tag='cost', value='$$$$') }}"> $$$$</a>,{% elif project.cost > 1000 %}<a href="{{ url_for('project.tagsearch', tag='cost', value='$$$$$') }}"> $$$$$</a>,{% endif %}
            </p>
        </div>
        <div class="project-difficulty-box">
            <div class="wrapper">
                <div class="loader">
                    <div class="inner inner{{ project.difficulty }}"></div>
                </div>
            </div>
            <p>Difficulty: </p> 
            {% if (0 < project.difficulty < 4) %}<span style="font-weight: 800; color: green;">Easy</span>
            {% elif (3 < project.difficulty < 8) %}<span style="font-weight: 800; color: rgb(182, 182, 0);">Medium</span>
            {% elif (7 < project.difficulty < 11) %}<span style="font-weight: 800; color: rgb(182, 0, 0);">Hard</span>
            {% else %}<span style="font-weight: 800">N/A</span>
            {% endif %}
        </div>
        <div class="project-cost-box">
            <p class="project-cost-title">Cost</p>
            <div class="project-cost-bar">
                <span class="cost-bar-boxes">$</span>
                {% if (project.cost > 100) %}
                <span class="cost-bar-boxes">$</span>
                {% else %}
                <span class="cost-bar-boxes empty-box"></span>
                {% endif %}
                
                {% if (project.cost > 300) %}
                <span class="cost-bar-boxes">$</span>
                {% else %}
                <span class="cost-bar-boxes empty-box"></span>
                {% endif %}

                {% if (project.cost > 600) %}
                <span class="cost-bar-boxes">$</span>
                {% else %}
                <span class="cost-bar-boxes empty-box"></span>
                {% endif %}

                {% if (project.cost > 1000) %}
                <span class="cost-bar-boxes">$</span>
                {% else %}
                <span class="cost-bar-boxes empty-box"></span>
                {% endif %}
            </div>
            <p class="project-cost-value-box">$ <span class="project-cost-value" type="number">{{ project.cost }}</span>.00</p>
        </div>
        <div class="project-duration-box">
            <p class="project-duration-title">Start to Finish</p>
            <i class="fas fa-calendar duration-img"></i><span class="project-duration-text">{{ project.duration }}</span><span class="project-duration-text2">Hours</span>
            {% if current_user == user %}
            <p class="project-bar-edit"><a href="{{ url_for('project.edit_bar', title=project.title) }}">Edit</a></p>
            {% endif %}
        </div>
    </div>

    <div class="project-nav-list">
        <div class="navlist-title-container">
            <p class="navlist-title">{{ project.title }}</p>
        </div>
        <ul class="project-nav-ul">
            <li><button class="navlist-home btn-animate">Home</button></li>
            <li><button class="navlist-tutorial btn-animate">Tutorial</button></li>
            <li><button class="navlist-maintenance btn-animate">Maintenance/Care</button></li>
            <li><button class="navlist-items btn-animate">Item List</button></li>
            <li><button class="navlist-photos btn-animate">Photos/Videos</button></li>
            <li><button class="navlist-comments btn-animate">Comments</button></li>
            <li><button class="navlist-faq btn-animate">FAQs</button></li>
            {% if current_user == user %}
            <li><button class="navlist-delete-project btn-animate" data-toggle="modal" data-target="#modalDel">DELETE</button></li>
            {% endif %}
        </ul>
        {% if project.private == True %}
        <p class="project-privacy-label"><span>PRIVATE</span></p>
        {% endif %}
        <p class="project-last-update">Last updated: {{ moment(project.last_edit).format('L') }}</p>
    </div>

    <div class="project-viewer-box">
        <div class="project-view-homepic">
            {% if project_gallery.photoOne %}
            <img class="project-homepic" src="{{ url_for('static', filename='users/' + user.username + '/' + project.title + '/' + project_gallery.photoOne) }}">
            {% elif project_gallery.photoTwo %}
            <img class="project-homepic" src="{{ url_for('static', filename='users/' + user.username + '/' + project.title + '/' + project_gallery.photoTwo) }}">
            {% elif project_gallery.photoThree %}
            <img class="project-homepic" src="{{ url_for('static', filename='users/' + user.username + '/' + project.title + '/' + project_gallery.photoThree) }}">
            {% elif project_gallery.photoFour %}
            <img class="project-homepic" src="{{ url_for('static', filename='users/' + user.username + '/' + project.title + '/' + project_gallery.photoFour) }}">
            {% elif project_gallery.photoFive %}
            <img class="project-homepic" src="{{ url_for('static', filename='users/' + user.username + '/' + project.title + '/' + project_gallery.photoFive) }}">
            {% elif project_gallery.photoSix %}
            <img class="project-homepic" src="{{ url_for('static', filename='users/' + user.username + '/' + project.title + '/' + project_gallery.photoSix) }}">
            {% elif project_gallery.photoSeven %}
            <img class="project-homepic" src="{{ url_for('static', filename='users/' + user.username + '/' + project.title + '/' + project_gallery.photoSeven) }}">
            {% elif project_gallery.photoEight %}
            <img class="project-homepic" src="{{ url_for('static', filename='users/' + user.username + '/' + project.title + '/' + project_gallery.photoEight) }}">
            {% elif project_gallery.photoNine %}
            <img class="project-homepic" src="{{ url_for('static', filename='users/' + user.username + '/' + project.title + '/' + project_gallery.photoNine) }}">
            {% elif project_gallery.photoTen %}
            <img class="project-homepic" src="{{ url_for('static', filename='users/' + user.username + '/' + project.title + '/' + project_gallery.photoTen) }}">
            {% endif %}
        </div>

        <div class="project-tutorial">
            {% if current_user == user %}
            <p class="project-tutorial-edit"><a href="{{ url_for('project.edit_tutorial', title=project.title) }}">Edit</a></p>
            {% endif %}
            {% if project.tutorial_enabled == False %}
                <h3 class="tutorial-title-disabled"><strong>Sorry! </strong> Tutorial guide has been disabled by the creator</h3>
            {% endif %}
            <div class="project-tutorial-textarea">
            <!--  DYNAMICALLY INSERTING TUTORIAL DATA HERE WITH JQUERY  -->
            </div>
        </div>

        <div class="project-maintenance">
            {% if current_user == user %}
            <p class="project-maintenance-edit"><a href="{{ url_for('project.edit_maintenance', title=project.title) }}">Edit</a></p>
            {% endif %}
            {% if project.maintenance_enabled == False %}
                <h3 class="maintenance-title-disabled"><strong>Sorry! </strong> Maintenance guide has been disabled by the creator</h3>
            {% endif %}
            <div class="project-maintenance-textarea">
                <!--  DYNAMICALLY INSERTING TUTORIAL DATA HERE WITH JQUERY  -->
            </div>
        </div>

        <div class="project-itemslist">
            {% if current_user == user %}
            <p class="project-itemslist-edit"><a href="{{ url_for('project.edit_itemslist', title=project.title) }}">Edit</a></p>
            {% endif %}
            <div class="item-list-container">
            {% if itemlist and project.itemlist_enabled == True %}
                <ul class="item-list">
                    {% for eachitem in itemlist %}
                    <li class="item-sublist">
                        <p class="item-name"><a class="item-link" href="{{ eachitem.itemlink }}" data-toggle="popover" data-popover="true" data-html="true" data-content="<div class='popover-container popover-container-{{ eachitem.id }}'><p class='popover-notes-title'>Notes</p><p class='popover-notes'>{{ eachitem.notes }}</p></div>">{{ eachitem.itemname }}</a><span class="item-qty">Qty: {{ eachitem.quantity }}</span></p>
                        <p class="item-brand">Brand: {{ eachitem.itembrand }}</p>
                    </li>
                    {% endfor %}
                </ul>
            {% else %}
                <h5 class="item-list-disabled">The creator has disabled the item list</h5>
            {% endif %}
            </div>
        </div>

        <div class="project-photo-gallery">
            {% if current_user == user %}
            <p class="project-photo-edit"><a href="{{ url_for('project.edit_photos', title=project.title) }}">Edit</a></p>
            {% endif %}
            {% include '/projects/imported/photo_gallery.html' %}
        </div>

        <div class="project-comments">
            {% include '/projects/_project-comments.html' %}
        </div>

        <div class="project-faq">
            {% if current_user == user %}
            <p class="project-faq-edit"><a href="{{ url_for('project.edit_faq', title=project.title) }}">Edit</a></p>
            {% endif %}
            {% if project_faqs.faqenabled != True %}
            <h3 class="faq-title-disabled"><strong>Sorry! </strong> Frequently Asked Questions has been disabled by the owner.</h3>
            {% else %}
            <div class="faq-question-container">
                <div class="faq-question-wrapper">
                {% if project_faqs.enabled1 == True %}
                <p class="faq-question">{{ project_faqs.question1 }}</p>
                <p class="faq-answer">{{ project_faqs.answer1 }}</p>
                {% endif %}
                {% if project_faqs.enabled2 == True %}
                <p class="faq-question">{{ project_faqs.question2 }}</p>
                <p class="faq-answer">{{ project_faqs.answer2 }}</p>
                {% endif %}
                {% if project_faqs.enabled3 == True %}
                <p class="faq-question">{{ project_faqs.question3 }}</p>
                <p class="faq-answer">{{ project_faqs.answer3 }}</p>
                {% endif %}
                {% if project_faqs.enabled4 == True %}
                <p class="faq-question">{{ project_faqs.question4 }}</p>
                <p class="faq-answer">{{ project_faqs.answer4 }}</p>
                {% endif %}
                {% if project_faqs.enabled5 == True %}
                <p class="faq-question">{{ project_faqs.question5 }}</p>
                <p class="faq-answer">{{ project_faqs.answer5 }}</p>
                {% endif %}
                {% if project_faqs.enabled6 == True %}
                <p class="faq-question">{{ project_faqs.question6 }}</p>
                <p class="faq-answer">{{ project_faqs.answer6 }}</p>
                {% endif %}
                {% if project_faqs.enabled7 == True %}
                <p class="faq-question">{{ project_faqs.question7 }}</p>
                <p class="faq-answer">{{ project_faqs.answer7 }}</p>
                {% endif %}
                {% if project_faqs.enabled8 == True %}
                <p class="faq-question">{{ project_faqs.question8 }}</p>
                <p class="faq-answer">{{ project_faqs.answer8 }}</p>
                {% endif %}
                {% if project_faqs.enabled9 == True %}
                <p class="faq-question">{{ project_faqs.question9 }}</p>
                <p class="faq-answer">{{ project_faqs.answer9 }}</p>
                {% endif %}
                {% if project_faqs.enabled10 == True %}
                <p class="faq-question">{{ project_faqs.question10 }}</p>
                <p class="faq-answer">{{ project_faqs.answer10 }}</p>
                {% endif %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<!--  DELETE PROJECT POPUP MODAL  -->
<div id="modalDel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" style="text-align: center; width: 100%;">Project Deletion</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Please enter the project name ( <strong style="color: rgb(81, 81, 199);">{{ project.title }}</strong> ) to confirm the deletion.</p>
        <p><strong style="color: darkred;">WARNING: </strong>You will not be able to recover this project after deleting!</p>
        <div class="del-input-wrapper">
            <input type="text" class="project-delete-input" maxlength="150" placeholder="Insert project title here">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary project-del-btn" disabled>DELETE</button>
        <button type="button" class="btn btn-primary project-delclose-btn" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock bodycontent %}

{% block scripts %}
{{ super() }}
<script>
/* COST COUNTER */
$(function () {
    $('.project-cost-value').each(function () {
        $(this).prop('Counter',0).animate({
            Counter: $(this).text()
        }, {
            duration: 1500,
            easing: 'swing',
            step: function (now) {
                $(this).text(Math.ceil(now));
            }
        });
    });
});

/* DURATION COUNTER */
$(function () {
    $('.project-duration-text').each(function () {
        $('.project-duration-text').prop('Counter',0).animate({
            Counter: $('.project-duration-text').text()
        }, {
            duration: 1500,
            easing: 'swing',
            step: function (now) {
                $('.project-duration-text').text(Math.ceil(now));
            }
        });
    });
});

</script>

<script>
/* PROJECT LIST BORDER EFFECTS */
$(function () {
    $('.btn-animate').on('click', (event) => {
        let btn = event.currentTarget.classList[0];
        $('.btn-animate').attr('style', 'color: #56CC9D; text-decoration: none;');
        $('.navlist-delete-project').css('color', 'rgb(236, 33, 33)');
        $('.' + btn).attr('style', 'color: #6477b9; text-decoration: underline;');
    });
});

/* DYNAMICALLY LOADS DIFFERENT VIEWS */
$(function () {
    $('.navlist-home').on('click', (event) => {
        $('.sub-view').remove();
        $('.project-view-homepic').css('display', 'block');
        $('.project-photo-gallery').attr('style', 'display: none');
        $('.project-comments').css('display', 'none');
        $('.project-tutorial').css('display', 'none');
        $('.project-maintenance').css('display', 'none');
        $('.project-faq').css('display', 'none');
        $('.project-itemslist').css('display', 'none');

    });

    $('.navlist-tutorial').on('click', (event) => {
        $('.sub-view').remove();
        $('.project-view-homepic').css('display', 'none');
        $('.project-photo-gallery').attr('style', 'display: none');
        $('.project-comments').css('display', 'none');
        $('.project-tutorial').css('display', 'block');
        $('.project-maintenance').css('display', 'none');
        $('.project-tutorial-textarea').html('{{ project.tutorial|safe }}');
        $('.project-faq').css('display', 'none');
        $('.project-itemslist').css('display', 'none');

    });

    $('.navlist-maintenance').on('click', (event) => {
        $('.sub-view').remove();
        $('.project-photo-gallery').attr('style', 'display: none');
        $('.project-view-homepic').css('display', 'none');
        $('.project-comments').css('display', 'none');
        $('.project-tutorial').css('display', 'none');
        $('.project-maintenance').css('display', 'block');
        $('.project-faq').css('display', 'none');
        $('.project-itemslist').css('display', 'none');
        $('.project-maintenance-textarea').html('{{ project.maintenance|safe }}');
        
    });

    $('.navlist-items').on('click', (event) => {
        $('.sub-view').remove();
        $('.project-photo-gallery').attr('style', 'display: none');
        $('.project-view-homepic').css('display', 'none');
        $('.project-comments').css('display', 'none');
        $('.project-tutorial').css('display', 'none');
        $('.project-maintenance').css('display', 'none');
        $('.project-faq').css('display', 'none');
        $('.project-itemslist').css('display', 'block');

    });

    $('.navlist-photos').on('click', (event) => {
        $('.sub-view').remove();
        $('.project-photo-gallery').attr('style', 'display: block');
        $('.project-view-homepic').css('display', 'none');
        $('.project-comments').css('display', 'none');
        $('.project-tutorial').css('display', 'none');
        $('.project-maintenance').css('display', 'none');
        $('.project-faq').css('display', 'none');
        $('.project-itemslist').css('display', 'none');
    });

    $('.navlist-comments').on('click', (event) => {
        $('.sub-view').remove();
        $('.project-photo-gallery').attr('style', 'display: none');
        $('.project-view-homepic').css('display', 'none');
        $('.project-comments').css('display', 'block');
        $('.project-tutorial').css('display', 'none');
        $('.project-maintenance').css('display', 'none');
        $('.project-itemslist').css('display', 'none');
        $('.project-faq').css('display', 'none');
        {% if current_user == user %}
        $.ajax({
            url: '/project/update_notifications/' + '{{ user.username }}' + '/' + '{{ project.id }}',
            type: 'GET',
            success: function(response) {
                
            }
        });
        {% endif %}
    });

    $('.navlist-faq').on('click', (event) => {
        $('.sub-view').remove();
        $('.project-photo-gallery').attr('style', 'display: none');
        $('.project-view-homepic').css('display', 'none');
        $('.project-comments').css('display', 'none');
        $('.project-tutorial').css('display', 'none');
        $('.project-itemslist').css('display', 'none');
        $('.project-maintenance').css('display', 'none');
        $('.project-faq').css('display', 'block');
    });
});

/* ITEM LIST POPUP EFFECTS */
$(function() {
    // NEED TO SET CLEAR TIMEOUT GLOBALLY
    var popoverTimerShow;
    $("[data-toggle=popover]").each(function(i, obj) {
        $(this)
            .popover({
                html: true,
                container: 'body',
                viewport: {selector: '.item-list-container'},
                selector: '[data-popover]',
                trigger: 'hover',
                placement: 'right',
            })
            .on("mouseenter", function() {
                var _this = this;
                // SET POPOVER TO VARIABLE AND TRIGGER
                popoverTimerShow = setTimeout(function() {
                    $(_this).popover("show");
                }, 600);
                $(".popover").on("mouseleave", function() {
                    $(_this).popover("hide");
                });
            })
            .on("mouseleave", function() {
                var _this = this;
                // CLEARS EXISTING 'SHOW' TIMEOUT WHEN LEAVING TO PREVENT DISPLAYING UNWANTED POPOVER
                clearTimeout(popoverTimerShow);
                popoverTimerHide = setTimeout(function() {
                    if (!$(".popover:hover").length) {
                    $(_this).popover("hide");
                    }
                }, 400);
            });
        });
});

/* UNIVERSALLY CLOSES ANY STUCK POPOVERS */
$(function() {
    $('.project-itemslist, .item-list, .item-list-container').on('mouseenter', () => {
        $('.item-link').popover('hide');
    });
});

</script>

<script>
/* COMMENT SUBMISSION */
$(function () {
    $('.main-comment-btn').on('click', () => {
        let comment = $('.main-comment-text')[0].value;
        let comment_length = (comment).length;
        let username = "{{ user.username }}";
        let project_id = "{{ project.id }}";
        var csrf_token = "{{ csrf_token() }}";

        if (comment_length > 0) {
            // Inject imported CSRF token into our AJAX request.
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrf_token)
                    }
                }
            });

            $.ajax({
                url: '/project/new_comment/' + username + '/' + project_id,
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(comment),
                success: function(response) {
                    let commentID = response['comment_id'];
                    let username = '{{ current_user.username }}';
                    let project_author = response['author'];
                    let avatar = response['avatar'];
                    let timestamp = response['timestamp'];
                    let total_likes = response['likes'];
                    $('.main-comment-text').css('display', 'none');
                    $('.comment-btn-centering').css('display', 'none');
                    $('.comment-alert-msg').css('display', 'inline-block');
                    $('.main-comment-text').val('');

                    $('#comments-list').prepend($('<li>')
                    .attr('class', 'comment-root comment-root-' + commentID)
                    .attr('data-comment-id', commentID)
                    .append($('<div>').attr('class', 'comment-main-level')
                        .append($('<div>').attr('class', 'comment-avatar')
                            .append($('<img>').attr('src', avatar)))
                        .append($('<div>').attr('class', 'comment-box')
                            .append($('<div>').attr('class', 'comment-head').attr('data-comment-id', commentID)
                                .append($('<h6>').attr('class', 'comment-name').attr('id', 'newly-added-comment')
                                    .append($('<a>').attr('href', '/profile/' + username).text(username)))
                            .append($('<span>').css('display','block').text(timestamp))
                            .append($('<i>').attr('class', 'fa fa-reply commentreply-' + commentID))
                            .append($('<i>').attr('class', 'fa fa-heart commentlike-' + commentID))
                            .append($('<i>').attr('class', 'comment-like-number comment-like-number-' + commentID).text(total_likes)))
                        .append($('<div>').attr('class', 'comment-content').text(comment))))
                    )
                    
                    if (project_author == username) {
                        $('#newly-added-comment').addClass('by-author');
                    }
                },
                error: function(response) {
                    console.log(response);
                    console.log('something went wrong...');
                }
            });
        }
    });
});

/* REOPENING COMMENT BOX */
$(function () {
    $('.comment-reopen-box').on('click', () => {
        $('.main-comment-text').css('display', 'inline-block');
        $('.comment-btn-centering').css('display', 'inline-block');
        $('.comment-alert-msg').css('display', 'none');
    });
});

/* OPENING/CLOSING REPLY BOX */
$(function () {
    $('#comments-list').on('click', '.fa-reply', (event) => {
        let replyTarget = event.currentTarget.classList[2];
        let commentID = event.currentTarget.parentElement.dataset.commentId;
        
        if ($('.shadow-textarea' + commentID).length == 0) {
            $('.' + replyTarget).css('color', '#03658c');
            $('.comment-root-' + commentID).append($('<div>')
                .attr('class', 'form-group shadow-textarea' + commentID)
                .css('position', 'relative')
                .append($('<textarea>')
                    .attr('class', 'form-control z-depth-1 reply-text' + commentID)
                    .attr('id', 'exampleFormControlTextarea6')
                    .attr('rows', '3')
                    .attr('placeholder', 'Reply here...')
                    .css('resize', 'none')
                    .css('width', '70%')
                    .css('margin', '0.5em auto 0 auto')
                    .css('padding', '0.5em'))
                .append($('<button>')
                    .attr('class', 'btn-info reply-btn reply-btn' + commentID)
                    .text('Reply')
                    .css('font-size', '0.7em')
                    .css('border-radius', '0.7em')
                    .css('width', '6em')
                    .css('height', '2em')
                    .css('position', 'absolute')
                    .css('top', '40%')
                    .css('right', '7%')
                    .css('outline', 'none')
                    .css('box-shadow', 'none')
                )
            );

            let ReplyBox = event.currentTarget.parentElement.parentElement.parentElement.parentElement.lastElementChild.classList[1];
            if (ReplyBox) {
                $('.' + ReplyBox)[0].scrollIntoView({
                    behavior: "smooth", // "smooth" or "auto" or "instant"
                    block: "end" // "start" or "end"
                });
            }
        } else if ($('.shadow-textarea' + commentID).length != 0) {
            $('.' + replyTarget).css('color', '#A6A6A6');
            $('.shadow-textarea' + commentID).remove();
        };
    });
});

/* REPLY SUBMISSION */
$(function () {
    $('#comments-list').on('click', '.reply-btn', (event) => {
        let currentReplyText = event.currentTarget.previousSibling.value;
        let commentID = event.currentTarget.parentElement.parentElement.dataset.commentId;
        let username = "{{ user.username }}";
        let project_id = "{{ project.id }}";

        if ((currentReplyText).length > 0 && $('.shadow-textarea' + commentID).length != 0) {
            event.preventDefault();
            var csrf_token = "{{ csrf_token() }}";
            /* ERROR WITH HAVING JINJA2 STRING WITH APOSTROPHE WHICH REQ TO HAVE |SAFE */
            let convert_subject = "{{ project.title|safe }}";

            // Inject imported CSRF token into our AJAX request.
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrf_token)
                    }
                }
            });
            
            $.ajax({
                url: '/project/new_reply/' + username + '/' + project_id + '/' + commentID,
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(currentReplyText),
                success: function(response) {
                    let replyID = response['reply_id'];
                    let projectAuthor = response['author'];
                    let username = '{{ current_user.username }}';
                    let replyAvatar = response['avatar'];
                    let timestamp = response['timestamp'];
                    let total_likes = response['likes'];
                    $('.shadow-textarea' + commentID).remove();
                    $('.commentreply-' + commentID).css('color', '#A6A6A6');

                    if ($('.reply-list-' + commentID).length == 0) {
                        $('.comment-root-' + commentID).append($('<ul>')
                            .attr('class', 'comments-list reply-list reply-list-' + commentID)
                            .append($('<li>')
                                .attr('class', 'reply-root reply-root-' + replyID)
                                .attr('data-reply-id', replyID)
                                .append($('<div>').attr('class', 'comment-avatar')
                                    .append($('<img>').attr('src', replyAvatar)))
                                .append($('<div>').attr('class', 'reply-comment-box')
                                    .append($('<div>').attr('class', 'comment-head').attr('data-reply-id', replyID)
                                        .append($('<h6>').attr('class', 'comment-name').attr('id', 'newly-added-reply' + replyID)
                                            .append($('<a>').attr('href', '/profile/' + username).text(username)))
                                        .append($('<span>')
                                            .text(timestamp))
                                        .append($('<i>').attr('class', 'fa fa-heart replylike-' + replyID))
                                        .append($('<i>').attr('class', 'reply-like-number reply-like-number-' + replyID).css('top', '-0.2em').text(total_likes)))
                                    .append($('<div>').attr('class', 'comment-content').text(currentReplyText))
                                )
                            )
                        )
                    } else if ($('.reply-list-' + commentID).length != 0) {
                        $('.reply-list-' + commentID).append($('<li>')
                            .attr('class', 'reply-root reply-root-' + replyID)
                            .attr('data-reply-id', replyID)
                            .append($('<div>').attr('class', 'comment-avatar')
                                .append($('<img>').attr('src', replyAvatar)))
                            .append($('<div>').attr('class', 'reply-comment-box')
                                .append($('<div>').attr('class', 'comment-head').attr('data-reply-id', replyID)
                                    .append($('<h6>').attr('class', 'comment-name').attr('id', 'newly-added-reply' + replyID)
                                        .append($('<a>').attr('href', '/profile/' + username).text(username)))
                                    .append($('<span>')
                                        .text(timestamp))
                                    .append($('<i>').attr('class', 'fa fa-heart replylike-' + replyID))
                                    .append($('<i>').attr('class', 'like-number reply-like-number-' + replyID).text(total_likes).css('top', '-0.2em')))
                                .append($('<div>').attr('class', 'comment-content').text(currentReplyText))
                            )
                        )
                    };

                    if (projectAuthor == username) {
                        $('#newly-added-reply' + replyID).addClass('by-author');
                    };
                },
                error: function(response) {
                    console.log(response);
                }
            })
        }
    });
});

/* PROJECT LIKES&UNLIKES */
$(function () {
    $('.project-like').on('click', (event) => {
        let project_id = event.currentTarget.dataset.projectId;
        let currentLike = event.currentTarget.id;

        if (project_id && (currentLike == '')) {
            $.ajax({
                url: '/project/project_like/' + project_id,
                type: 'GET',
                success: function(response) {
                    if (response == 'Project liked!') {
                        $('.projectlike-' + project_id).css('color', 'red');
                        $('.projectlike-' + project_id).attr('id', 'projectlike');

                        /* LIKE COUNTER UPDATE FOR BETTER USER EXPERIENCE */
                        let existingCount = Number($('.project-like-number-' + project_id).text());
                        $('.project-like-number-' + project_id).text(existingCount + 1);
                    }
                },
                error: function(response) {
                    console.log(response);
                }
            });
        } else if (project_id && (currentLike != '')) {
            $.ajax({
                url: '/project/project_unlike/' + project_id,
                type: 'GET',
                success: function (response) {
                    if (response == 'Project unliked!') {
                        $('.projectlike-' + project_id).css('color', '#A6A6A6');
                        $('.projectlike-' + project_id).removeAttr('id');

                        /* LIKE COUNTER UPDATE FOR BETTER USER EXPERIENCE */
                        let existingCount = Number($('.project-like-number-' + project_id).text());
                        $('.project-like-number-' + project_id).text(existingCount - 1);
                    }
                },
                error: function (response) {
                    console.log(response);
                }
            });
        }
    });
});

/* COMMENT&REPLY LIKE SYSTEM */
$(function () {
    $('#comments-list').on('click', '.fa-heart', (event) => {
        let commentID = event.currentTarget.parentElement.dataset.commentId;
        let replyID = event.currentTarget.parentElement.dataset.replyId;
        let currentLike = event.currentTarget.id;
        
        if (commentID && (currentLike == '')) {
            $.ajax({
                url: '/project/comment_like/' + '{{ user.username }}' + '/' + '{{ project.title }}' + '/' + commentID,
                type: 'GET',
                success: function (response) {
                    if (response == 'Comment liked!') {
                        $('.commentlike-' + commentID).css('color', 'red');
                        $('.commentlike-' + commentID).attr('id', 'commentlike');

                        /* LIKE COUNTER UPDATE FOR BETTER USER EXPERIENCE */
                        let existingCount = Number($('.comment-like-number-' + commentID).text());
                        $('.comment-like-number-' + commentID).text(existingCount + 1);
                    }
                },
                error: function (response) {
                    console.log(response);
                }
            });
        } else if (commentID && (currentLike != '')) {
            $.ajax({
                url: '/project/comment_unlike/' + '{{ user.username }}' + '/' + '{{ project.title }}' + '/' + commentID,
                type: 'GET',
                success: function (response) {
                    if (response == 'Comment unliked!') {
                        $('.commentlike-' + commentID).css('color', '#A6A6A6');
                        $('.commentlike-' + commentID).removeAttr('id');

                        /* LIKE COUNTER UPDATE FOR BETTER USER EXPERIENCE */
                        let existingCount = Number($('.comment-like-number-' + commentID).text());
                        $('.comment-like-number-' + commentID).text(existingCount - 1);
                    }
                },
                error: function (response) {
                    console.log(response);
                }
            });
        }

        if (replyID && (currentLike == '')) {
            $.ajax({
                url: '/project/reply_like/' + '{{ user.username }}' + '/' + '{{ project.title }}' + '/' + replyID,
                type: 'GET',
                success: function (response) {
                    if (response == 'Reply liked!') {
                        $('.replylike-' + replyID).css('color', 'red');
                        $('.replylike-' + replyID).attr('id', 'replylike');

                        /* LIKE COUNTER UPDATE FOR BETTER USER EXPERIENCE */
                        let existingCount = Number($('.reply-like-number-' + replyID).text());
                        $('.reply-like-number-' + replyID).text(existingCount + 1);
                    }
                },
                error: function (response) {
                    console.log(response);
                }
            });
        } else if (replyID && (currentLike != '')) {
            $.ajax({
                url: '/project/reply_unlike/' + '{{ user.username }}' + '/' + '{{ project.title }}' + '/' + replyID,
                type: 'GET',
                success: function (response) {
                    if (response == 'Reply unliked!') {
                        $('.replylike-' + replyID).css('color', '#A6A6A6');
                        $('.replylike-' + replyID).removeAttr('id');

                        /* LIKE COUNTER UPDATE FOR BETTER USER EXPERIENCE */
                        let existingCount = Number($('.reply-like-number-' + replyID).text());
                        $('.reply-like-number-' + replyID).text(existingCount - 1);
                    }
                },
                error: function (response) {
                    console.log(response);
                }
            });
        }
    });
});

/* SHOW ALL USERS LIKED WHO LIKED COMMENT */
$(function () {
    $('#comments-list').on('click', '.comment-like-number', (event) => {
        let currentUserLikes = event.currentTarget.classList[1];
        let commentID = event.currentTarget.parentElement.dataset.commentId;
        $.ajax({
            url: '/project/show_user_commentlikes/' + '{{ user.username }}' + '/' + '{{ project.title }}' + '/' + commentID,
            type: 'GET',
            success: function(response) {
                let users = response;
                if (users) {
                    for (i = 0; i < (users).length; i++) {
                        $('.userlikes-modal-' + commentID)
                        .append($('<li>')
                            .attr('class', 'modal-likes-list')
                            .append($('<a>')
                                .attr('href', '/profile/' + users[i])
                                .css('text-decoration', 'none')
                                .text(users[i])
                            )
                        )
                    };
                };
            },
            error: function(response) {
                console.log(response);
            }
        });

        /* REMOVES DYNAMICALLY ADDED USERS IN 'LIKES' MODAL */
        $('.modal-btn').on('click', () => {
            $('.modal-likes-list').remove();
        });
    });
});
/* SHOW ALL USERS LIKED WHO LIKED REPLY */
$(function () {
    $('.comment-root').on('click', '.reply-like-number', (event) => {
        let currentUserLikes = event.currentTarget.classList[1];
        let replyID = event.currentTarget.parentElement.dataset.replyId;
        $.ajax({
            url: '/project/show_user_replylikes/' + '{{ user.username }}' + '/' + '{{ project.title }}' + '/' + replyID,
            type: 'GET',
            success: function(response) {
                let users = response;
                if (users) {
                    for (i = 0; i < (users).length; i++) {
                        $('.userlikes-modal-' + replyID)
                        .append($('<li>')
                            .attr('class', 'modal-likes-list')
                            .append($('<a>')
                                .attr('href', '/profile/' + users[i])
                                .css('text-decoration', 'none')
                                .text(users[i])
                            )
                        )
                    };
                };
            },
            error: function(response) {
                console.log(response);
            }
        });
    });

    /* REMOVES DYNAMICALLY ADDED USERS IN 'LIKES' MODAL */
    $('.modal-btn').on('click', () => {
        $('.modal-likes-list').remove();
    });
});

/* DELETE PROJECT FEATURES */
$(function () {
    // VERIFIES IF USER ENTERED CORRECT PROJECT TITLE BEFORE PROCEEDING TO DELETION
    $('.project-delete-input').on('keyup', () => {
        var deleteInput = $('.project-delete-input')[0].value;
        var projectTitle = "{{ project.title }}";
        if (deleteInput == projectTitle) {
            $('.project-del-btn').removeAttr('disabled');
        } else if (deleteInput != projectTitle) {
            $('.project-del-btn').attr('disabled', 'disabled');
        }
    });

    // PROJECT DELETION
    $('.project-del-btn').on('click', () => {
        var projectTitle = "{{ project.title }}"

        $.ajax({
            url: '{{ url_for("project.delete_project", title=project.title) }}',
            type: 'GET',
            success: function(response) {
                window.location.replace('{{ url_for("main.profile", username=current_user.username) }}')
            },
        });
    });

    $('.project-delclose-btn').on('click', () => {
        // REMOVES NAVLIST BUTTON EFFECTS
        $('.navlist-delete-project').attr('style', 'color: rgb(236, 33, 33); text-decoration: none;');
        // RESETS DELETE INPUT VALUE
        $('.project-delete-input')[0].value = '';
        $('.project-del-btn').attr('disabled', 'disabled');
    });
})

</script>
{% endblock scripts %}