@import '../../../__styles/commonstyles';


.blogContainer {
    font-family: "Inconsolata", monospace;
    font-feature-settings: "liga" 0;
    font-size: 100%;
    line-height: 1.6;
    background-color: #f8f9f9;
    
    a {
      color: $black !important;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
}

  @media (min-width: 20em) {
    .blogContainer {
      font-size: 102.5% !important;
    }
  }
  @media (min-width: 30em) {
    .blogContainer {
      font-size: 105% !important;
    }
  }
  @media (min-width: 54em) {
    .blogContainer {
      font-size: 107.5% !important;
    }
  }
  @media (min-width: 64em) {
    .blogContainer {
      font-size: 110% !important;
    }
  }
  @media (min-width: 76.5em) {
    .blogContainer {
      font-size: 115% !important;
    }
  }
  
  
  /**
   * Text Selection
   */
  ::selection {
    color: #fff;
    background-color: #9f8f68;
    text-shadow: none;
  }
  
  /**
   * Underline Slide from left and back
   */
  /**
   * Button Slide
   * Need to still add hover state in parent element
   * box-shadow: inset 175px 0 0 0 $color-alpha;
   * color: $color-white;
   */
  /**
   * Flex Grid
   */
  /**
   * Box Shadow
   */
  /**
   * Letter Spacing
   */
  .previewsContainer span, .previewMore, .cardMore, .footerArchive {
    font-family: "Space Mono", monospace;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
  
  /**
   * Black Color Overlay
   */
  .previews > :first-child:after, .cardImg:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(10, 10, 10, 0.2);
    transition: background-color 0.4s ease-in-out;
  }
  
  /**
   * Sections
   */
  .section {
    position: relative;
    font-family: "Inconsolata", monospace;
    font-feature-settings: "liga" 0;
    font-size: 100%;
    line-height: 1.6;
    background-color: #f8f9f9;
  }
  
  .sectionPadding {
    padding: 4em 0;
  }
  .sectionPaddingLG {
    padding: 6em 0;
  }
  .sectionPaddingSM {
    padding: 2em 0;
  }
  
  /**
   * Class Container (BEM)
   */
  [class*='__container'] {
    position: relative;
    z-index: 1;
  }
  
  /**
   * Blog page
   */
  @media (max-width: 54em) {
    .previews {
      display: flex;
      flex-direction: column;
    }
  }
  .previews > *:first-child {
    position: relative;
    height: 30em;
    background-color: #0a0a0a;
  }
  @media (min-width: 54em) {
    .previews > *:first-child {
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 45%;
    }
  }
  .previews > *:last-child {
    min-height: 100vh;

    @include media-breakpoint-down(md) {
      min-height: 100%;
      height: 100%;
    }
  }
  @media (min-width: 54em) {
    .previews > *:last-child {
      margin-left: 45%;
    }
  }
  
  
  .active {
    will-change: opacity;
    animation: fade-in 1s both;
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  /**
   * Blog Post Preview
   * On the Blog page
   */
  .previewsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 2em;
    color: #fff;
  }
  .previewsContainer span {
    font-family: "Inconsolata", monospace;
  }
  
  .preview {
    transition: background-color 0.2s ease-in-out;
    position: relative;

    .blogShare {
      position: absolute; 
      bottom: 0;
      right: 0.3rem;
      list-style: none;
      padding: 0;
      margin: 0;

      .tweetText {
        display: inline-block;

        &:hover i {
          transition: 300ms all ease;
          color: $blue;
        }
      }
    }
  }
  .preview:nth-child(even) {
    background-color: #fff;
  }
  .preview:hover {
    background-color: #f5f3ef;
  }
  .preview:hover .previewMore {
    box-shadow: inset 175px 0 0 0 #9f8f68;
    color: #fff;
  }
  .previewImg {
    will-change: opacity;
    animation: fadeIn 1s both;
    margin: 0;
  }
  .previewLink {
    display: block;
    padding: 2em 1em;
    transition: color 0.4s ease-in-out;
    text-decoration: none;

    &:hover, &:active, &:focus {
      color: #9f8f68;
    }
  }
  @media (min-width: 54em) {
    .previewLink {
      padding: 4em 8em;
    }
  }
  @media (min-width: 114em) {
    .previewLink {
      padding-left: 10em;
      padding-right: 10em;
    }
  }
  .previewDate {
    font-family: "Space Mono", monospace;
    color: #0a0a0a;
  }
  .previewHeader {
    color: #9f8f68;
    margin-bottom: 0.5rem;
    margin: 0;
    font-family: "Space Mono", monospace;
    
    @media (min-width: 54em) {
      font-size: 1.5rem;
    }
    @media (min-width: 76.5em) {
      font-size: 2rem;
    }
  }
  .previewExcerpt {
    color: #0a0a0a;
    height: 7rem;
    max-height: 10rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    margin: 2rem 0;
  }
  .previewMore {
    display: inline-block;
    padding: 0.5em;
    font-family: "Space Mono", monospace;
    color: #9f8f68;
    border: 3px solid #9f8f68;
    box-shadow: inset 0 0 0 0 #9f8f68;
    transition: all 0.4s ease-in-out;
  }

  /*
    Blog View
  */
  .blogViewContainer {
    font-family: 'Inconsolata', monospace;
    font-feature-settings: "liga" 0;
    font-size: 100%;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ecd69f;
    opacity: 0;
    visibility: hidden;
    will-change: opacity;
    transition: 500ms all ease;
    
    @include media-breakpoint-down(md) {
      margin-left: 0;
      width: 100%;
      height: 100%;
    }
  }
  .blogView {
    width: 100%;
    height: 100%;
    padding: 6rem 2rem 1rem 2rem;
    margin: 0;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    display: none;

    @include media-breakpoint-down(md) {
      margin-left: 0;
      padding: 3rem 1.5rem;
      width: 100%;
    }

    .closeBtn {
      color: red !important;
      text-align: right;
      cursor: pointer;
      margin: 0.5rem;
    }

    .blogViewTitle {
      font-family: 'Yanone Kaffeesatz', Helvetica, Arial, Lucida, sans-serif;
      font-size: 2.5rem;
      font-weight: 600;
      text-align: center;
    }

    .blogViewAuthor {
      font-family: 'Arimo', Helvetica, Arial, Lucida, sans-serif;
      text-align: left;
      color: $black;
      text-align: center;
    }

    .blogViewBody {
      height: 75%;
      color: $black;
      margin: 1rem 0;
      overflow: hidden;
      padding: 0;
      border: 1px solid $black;
      border-radius: 0.5rem;

      @include media-breakpoint-down(md) {
        height: 50%;
      }
    }
  }
  
  /**
   * Footer
   */
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-left: 2em;
    padding-right: 2em;

    .paginationBox {
      margin: 10% auto;
      width: 80px;
      display: inline-flex;
      position: relative;

      .paginationNum {
        align-self: center;
        margin: 0 1.5rem;
      }

      i {
        position: relative;
        display: block;
        overflow: hidden;
        color: #222222;
        text-decoration: none;
        -webkit-transition: all 0.4s ease 0s;
        -o-transition: all 0.4s ease 0s;
        transition: all 0.4s ease 0s;
        background-color: rgba(255,255,255,0);
        border-radius: 32px;
        line-height: 30px;
        z-index: 100;
        cursor: pointer;

        &::after {
          position: relative;
          color: #222;
          left: 7px;
          top: -7px;
        }

        &:hover {
          color: $secondary;
        }
      }

      &:hover > div.circle {
        background: #ebebeb;
        border-radius: 50%;
        transform: scale(1);
        transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
      }
    }
  }
  @media (min-width: 30em) {
    .footer {
      flex-direction: row;
    }
  }
  .footerArchive {
    position: relative;
    color: #0a0a0a;
    transition: 400ms all ease;

    &:hover {
        width: 100%;
        color: $secondary !important;
    }

    &:after {
        width: 100%;
    }
  }
  .footerArchive:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    border-bottom: 3px solid #9f8f68;
    transition: width 0.4s ease-in-out;
  }
  .footerSocial {
    display: flex;
    margin-top: 1em;

    .footerIcon:hover {
        transition: 400ms all ease;
        color: $secondary;
    }
  }
  @media (min-width: 30em) {
    .footerSocial {
      margin-top: 0;
    }
  }
  .footerSocial > *:not(:last-child) {
    margin-right: 1em;
  }
  
  /**
   * Animations
   */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .fadeIn {
    will-change: opacity;
    animation: fade-in 2s both;
  }
  
  /**
   * Absolute Background Cover
   */
  .absoluteBg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
  }
  
  /**
   * Color Helpers
   */
  .bgBlack {
    background-color: #0a0a0a;
  }
  
  .bgWhite {
    background-color: #fff;
  }