{% extends "base.html" %}

{% block css %}
{{ super() }}
<link rel='stylesheet' href="{{ url_for('static', filename='404.css') }}">
{% endblock css %}

{% block bodycontent %}
<div class="error-container">
    <h3 style="color: white;"><img src="{{ url_for('static', filename='error/404error.png') }}" style="width: 5em; height: auto; border-radius: 50%; margin-right: 0.5em;"><strong style="color: maroon">Oops!</strong> The page cannot be found!</h3>
    <p style="color: white;">Sorry for the inconvenience! Please send a message to our team regarding this.</p>
    <br>
    {% if current_user.is_authenticated %}
    <p style="color: white;">Back to your <a style="color: rgb(58, 58, 223);" href="{{ url_for('main.profile', username=current_user.username) }}">profile</a></p>
    {% endif %}
    <p style="color: white;">Back to <a style="color: rgb(58, 58, 223);" href="{{ url_for('auth.homepage') }}">homepage</a></p>
    <br>
    <p style="color: white;">Sincerely,</p>
    <p style="color: white;">The smallWorld team</p>
</div>
{% endblock bodycontent %}