{% extends "base.html" %}

{% block bodycontent %}
<div style="width: auto; height: 30em; background-color: rgb(182, 182, 182); padding: 1em; margin-right: 0.5em; border-radius: 1em;">
    <h3 style="color: white;"><img src="{{ url_for('static', filename='images/error/500error.jpg') }}" style="width: 5em; height: auto; border-radius: 1em; margin: 0 1em;"><strong style="color: maroon">Oops!</strong> There was an issue with the database!</h3>
    <p style="color: white;">Sorry for the inconvenience! Please send a message to our team regarding this.</p>
    <br>
    {% if current_user.is_authenticated %}
    <p style="color: white;">Back to your <a style="color: rgb(58, 58, 223);" href="{{ url_for('main.profile', username=current_user.username) }}">profile</a></p>
    {% endif %}
    <p style="color: white;">Back to <a style="color: rgb(58, 58, 223);" href="{{ url_for('auth.homepage') }}">homepage</a></p>
    <br>
    <p style="color: white;">Sincerely,</p>
    <p style="color: white;">The smallWorld team</p>
</div>
{% endblock bodycontent %}