
.navbarContainer {
    display: flex;
    background-color: #78C2AD;
}

.navbarTitle {
    color: rgba(255,255,255,0.9);
    font-size: 1.3rem;
    transition: 700ms all ease;

    &:hover {
        color: #007bff;
    }
}

.navbarLogin {
    color: black !important;
    border: 1px solid black;
    border-radius: 0.6rem;
    font-size: 0.9rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    letter-spacing: 0;
    transition: 300ms all ease;
    margin: 0 1rem;

    &:hover {
        color: white !important;
        background-color: #007bff;
    }
}

.activeItem {
    color: white;
    letter-spacing: 0.1rem;
    text-decoration: none;
}