.item-container {
    width: 100%;
    height: 100%;
    padding: 1em;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
}
.item-box {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 0.5em;
    margin-bottom: 4em;
}



.item-list {
    height: 90%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    color: black;
    margin: 0;
    padding: 2em 0.5em 2em 2em;
    font-size: 1.5em;
    font-weight: 600;
    border-bottom: 2px solid rgb(209, 209, 209);
    position: relative;
}
.item-list li {
    position: relative;
}
.input-group {
    margin-bottom: 1em;
    position: relative;
}

.item-name {
    width: 90%;
}
.item-del {
    position: absolute;
    right: 0.2em;
    top: 0.2em;
    cursor: pointer;
    color: rgb(175, 0, 0);
}
.item-del:hover {
    color: rgb(224, 0, 0);
}
.item-brand {
    width: 75%;
    float: left;
}
.item-quantity {
    width: 19%;
    float: right;
}
.item-notes {
    width: 100%;
    height: 4em;
    overflow: scroll;
    margin-bottom: 3em;
    position: relative;
}
.textarea-notes {
    resize: none;
    position: relative;
}



.item-add-box {
    display: grid;
    grid-template: 1fr / 2.5em 1fr;
    width: 20%;
    padding: 0 3%;
    margin: 0 auto;
}
.item-add-box:hover .item-add-btn {
    color: rgb(99, 99, 201);
}
.item-add-box:hover .item-add-text {
    color: rgb(190, 155, 89);
}
.item-add-btn {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    cursor: pointer;
    align-self: center;
    justify-self: center;
    transition: all 500ms ease;
}
.item-add-text {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
    color: black;
    cursor: pointer;
    font-size: 1.3em;
    align-self: center;
    justify-self: left;
    transition: all 500ms ease;
}

.item-save-btn {
    width: 4em;
    height: 2.25em;
    float: left;
    margin-left: 5%;
    margin-bottom: 1em;
}
.item-back-btn {
    width: 4em;
    height: 2.25em;
    margin-right: 5%;
    float: right;
}


/* ALERT MSG BOX */
.alert-box-wrapper {
    position: fixed;
    z-index: 5000;
    top: 10%;
    right: -10em;
    height: 1%;
}

#message-alert-box {
    width: 15em;
    height: auto;
    max-height: 6em;
    padding: 0.8em;
    text-align: center;
    right: -70em;
    top: 0;
    transition: all 1500ms ease;
    position: absolute;
}