/* FILE BOX */
.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
  display: none;
}
.box__button {
    visibility: hidden;
}
.box__uploading {
    font-style: italic;
    font-size: 1.5em;
}

.box.has-advanced-upload {
  background-color: #c8dadf;
  outline: 2px dashed black;
  outline-offset: -10px;
  transition: outline-offset .15s ease-in-out, background-color .15s linear;
}
.box.has-advanced-upload .box__dragndrop {
  display: inline;
}
.box__file {
    visibility: hidden;
}
#file_input label strong {
    cursor: pointer;
}

.box.is-dragover {
  background-color: white;
  outline-offset: -1.5em;
}

.box.is-uploading .box__input {
  visibility: visible;
}
.box.is-uploading .box__uploading {
  display: block;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.box.is-success .box__success {
    display: block;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.box.is-error .box__error {
    display: block;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

svg {
	fill: currentColor;
	pointer-events: none;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h2 {
    text-align: center;
    margin-top: 0.7em;
}

.edit-photo-back {
    position: absolute;
    right: 2em;
    top: 6em;
}

#file_box_input {
    width: 50%;
    height: 100%;
    height: 23em;
    margin: 2em auto 3em auto;
    position: relative;
}

#file_input {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.file-input-child {
    position: relative;
    display: inline-block;
}


/* PHOTO GALLERY */
#image-box {
    position: relative;
}
.image-thumb {
    width: 100%;
    height: auto;
    margin-top: 0.7em;
}
.picture-remove-btn {
    position: absolute;
    right: 0.3em;
    top: 0.3em;
    width: 1em;
    height: auto;
    opacity: 0.5;
    margin-top: 0.7em;
}
#image-box:hover .picture-remove-btn {
    opacity: 1;
}

/* MODAL POPUP */
.main-pic-modal {
    position: absolute;
    top: 30%;
    left: -5%;
}
.modal-content {
    height: 40em;
    width: 50em;
    padding: 1em;
    margin: 0 0;
}
.pic-modal {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
.modal img {
    width: auto;
    height: 100%;
    max-width: 40em;
    max-height: 25em;
    text-align: center;
    margin: 0 0;
}
.modal-header p {
    font-size: 1.2em;
    font-weight: 600;
    color: black;
    text-align: center;
    width: 100%;
}
.main-photo-text {
    color: maroon;
    float: left;
    background: rgb(150, 150, 150);
    padding: 0.3em;
    border: 1px solid rgb(167, 53, 53);
    border-radius: 1em;
}

/* MAIN PHOTO BORDER EFFECTS */
#main-box {
  width: 100%;
  height: 90%;
  color: white;
  font-family: 'Raleway';
  background: rgb(63, 67, 70);
}
.gradient-border {
  --borderWidth: 6px;
  background: #1D1F20;
  position: relative;
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* POPUP MODAL PRIMARY BTN */
.primary-btn {
    float: left;
}
.primary-btn-link {
    color: #20bf6b;
    text-transform: uppercase;
    background: #ffffff;
    padding: 1em;
    border: 4px solid #20bf6b;
    border-radius: 6px;
    display: inline-block;
    text-align: center;
    font-size: 0.7em;
    font-weight: 800;
}

.primary-btn-link:hover {
    color: #494949;
    border-radius: 50px;
    border-color: #494949;
    transition: all 0.5s ease 0s;
    text-decoration: none;
}