/* ANONYMOUS USERS */
.container {
  height: 100%;
  max-height: 94vh;
  width: 100%;
  max-width: 100%;
  position: relative;
  z-index: 10;
  background-image: url('homepage-background2.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.container-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 15;
}
.carousel-wrapper,
.homepage-login-wrapper {
  align-self: center;
  justify-self: center;
}
#carouselExampleIndicators {
    width: auto;
    height: auto;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    display: block;
    transition: all 500ms ease;
    position: relative;
    z-index: 500;
    opacity: 0.75;
    border-radius: 1.5em;
}
#carouselExampleIndicators:hover {
    opacity: 0.98;
}
.carousel-inner {
    height: 100%;
}
.carousel-item-zen {
    height: 100%;
    width: 100%;
    position: relative;
}
.carousel-item {
    height: 100%;
    position: relative;
}
.carousel-item img {
    width: auto;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}
.zen-text {
    font-family: 'Comic Sans MS', Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 2em;
    color: rgb(0, 119, 0);
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55%;
    height: 55%;
    text-align: center;
    padding: 1em 0;
    opacity: 0;
    transition: all 1200ms ease;
}
#carouselExampleIndicators:hover .zen-text {
    opacity: 1;
    color: rgb(206, 139, 14);
    background-color: rgba(78, 78, 78, 0.781);
    border-radius: 0.8em;
}
.signup-btn-link {
    position: absolute;
    z-index: 100;
    bottom: 6%;
    left: 52%;
    transform: translate(-50%, -50%);
    width: 15%;
    height: 7%;
    opacity: 0.75;
}
.signup-btn-link:hover {
    opacity: 1;
}

.homepage-login-container {
  height: 30em;
  width: 80%;
  overflow: visible;
  border-radius: 0.6em;
  background-color: rgb(230, 230, 230);
  position: relative;
  z-index: 500;
  opacity: 0.8;
  margin: 0;
  padding: 10% 0;
  text-align: center;
  transition: all 600ms ease;
}
.homepage-login-container:active, .homepage-login-container:hover {
  opacity: 1;
}


/* CREATE YOUR TERRARIUM */
.create-terrarium-container {
    top: 0;
    left: -1em;
    position: absolute;
    width: auto;
    height: auto;
    margin: auto auto;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border: 2px solid rgb(187, 187, 187);
    transform: scale(0.80, 0.80);
    display: none;
    overflow: hidden;
    z-index: 500;
}
.create-terrarium-text {
    position: absolute;
    cursor: pointer;
    font-size: 100%;
    font-family: "Comic Sans MS", helvetica, sans-serif;
    top: -10%;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    height: auto;
    color: rgb(22, 160, 22);
    text-align: center;
    border: 0.5px solid grey;
    background: rgb(224, 224, 224);
    border-radius: 0.5em;
    transition: all 500ms ease;
}
.create-terrarium-text:hover {
    color: rgb(204, 153, 58);
}
.create-terrarium-close {
    color: rgb(173, 0, 0);
    position: absolute;
    top: 0.5em;
    right: 13em;
    transition: all 500ms ease;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 600;
    z-index: 1000;
}
.create-terrarium-close:hover {
    color: rgb(228, 0, 0);
}

.tut-wrap {
  position: absolute;
  z-index: 999;
}
.tutorial {
  color: #fff;
  background: rgba(0,0,0,0.7);
  padding: 10px;
  margin: 10px 0 0 10px;
  text-decoration: none;
  font-size: 16px;
  border: 1px solid #fff;
  display: inline-block;
}
.tutorial:hover {
  background: rgba(0,0,0,0.96);
}
main {
  display: flex;
  width: 57.5em;
  margin: 0 auto;
}

.plant-drawer {
  padding: 20px 0;
  width: 0%;
  background: #DCEDC8;
  margin-right: 0px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  left: -100%;
  transition: 2s all;
}

.plant-drawer.open {
  left: 0;
  width: 40%;
  margin-right: 10px;
}

.plant-drawer div {
  width: 50%;
  text-align: center;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/160607/circle.svg) no-repeat;
  background-position: bottom;
  min-height: 120px;
  position: relative;
}

.plant-drawer div.tall {
  height: 230px;
}

.plant-drawer div.small .succulent {
  width: 50%;
}

.plant-drawer p {
  position: absolute;
  left: 105%;
  width: 200px;
  z-index: 10;
}

.succulent {
  position: absolute; 
  bottom: 3px;
  left: 50%;
  transform: translateX(-50%);
  max-height: 80%;
  max-width: 90%;
  opacity: 0.7;
  z-index: 20;
}

.succulent:hover {
  cursor: grab;
  opacity: 1;
}

.terrarium-container {
  width: 100%;
  background: #fff;
  position: relative;
  min-height: 100vh;
}

.terrarium-container p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.terrarium-container.shrink {
  width: 60%;
}

.terr-wrap {
  position: absolute;
  width: 30%;
  transition: 1s all;
}

.terr-wrap .soil,
.terr-wrap .frame {
  width: 100%;
  opacity: 0.8;
}

.terr-wrap .succulent {
  opacity: 1;
  z-index: 20;
  transform: scale(0.8);
}

.terr-wrap .succulent.smaller {
  transform: scale(0.6);
}

.frame {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 300;
  pointer-events: none;
}

.terr-wrap:hover {
  width: 33%;
  cursor: pointer;
}

.terr-wrap:hover img {
  opacity: 1;
}

.terr-wrap:first-child {
  left: 50%;
  transform: translateX(-50%);
}

.terr-wrap:nth-child(2),
.terr-wrap:nth-child(3) {
  top: 25%;
}

.terr-wrap:nth-child(3) {
  right: 0%;
}

.terr-wrap:nth-child(4),
.terr-wrap:nth-child(5) {
  bottom: 0%;
  left: 15%;
}

.terr-wrap:nth-child(5) {
  left: initial;
  right: 15%;
}

.context-menu {
  position: absolute;
  top: 10px; 
  right: 10px;
  display: none;
}
.thumb {
  width: 80px;
  height: 80px;
  position: absolute;
  right: 0;
  opacity:0.4;
}
.fa {
  font-size: 28px;
  margin: 0 5px;
  color: #ccc;
  position: relative;
}
.fa:after {
  font-size: 12px;
  position: absolute;
  bottom: -26px;
  left: 0px;
  opacity: 0;
}
.fa:hover {
  color: rgba(0,0,0,1);
  cursor: pointer;
}
.fa:hover:after {
  opacity: 1;
}
.fa-arrow-up:after {
  content: 'bring forward';
}
.fa-arrow-down:after {
  content: 'send back';
}
.fa-minus:after {
  content: 'shrink';
}
.fa-plus:after {
  content: 'grow';
}   
.fa-trash:after {
  content: 'delete';
}
.button-wrap {
  position:absolute;
  bottom: 20px;
  left: 10px;
  display:none;
}
.button {
  text-decoration: none;
  padding: 12px 22px;
  border: 1px solid #333;
  left: 10px;
  font-size: 13px;
  color: #333;
}
.button:hover {
  cursor: pointer;
  background: #333;
  color: #FFF;
}

.shrink .terr-wrap {
    position: absolute;
  width: 100%;
  bottom: initial;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.shrink .terr-wrap .soil,
.shrink .terr-wrap .frame {
  opacity: 1;
}

.shrink .button-wrap,
.shrink .context-menu {
  display: block;
}


/* AUTHENTICATED USERS */
.row {
  height: 100%;
}
.followed-wrapper {
  height: 100%;
}
.followed-feed-container,
.news-feed-container {
    height: 100%;
    width: 100%;
    padding: 1em;
    margin: 0;
    overflow: hidden;
    background-color: rgb(233, 233, 233);
    border-radius: 0.6em;
    opacity: 0.9;
    transition: all 500ms ease;
    position: relative;
}
.followed-feed-container:hover,
.news-feed-container:hover {
    opacity: 1;
}
.followed-feed-title {
    text-align: center;
    font-weight: 800;
    border-bottom: 1px solid black;
    padding-bottom: 0.5em;
}
.followed-update-list {
    list-style: none;
    margin: 0.5em 0;
    padding: 0 0;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 92%;
    width: 100%;
}
.projectfeed-container {
    display: grid;
    grid-template: 4em 2em / 6em 1fr 3em;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background-color: white;
    grid-gap: 0;
    padding: 0.5em;
    margin: 1em 0;
}
.projectfeed-avatar {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    align-self: center;
    justify-self: center;
    width: 3.3em;
    height: auto;
    border-radius: 50%;
}
.projectfeed-username {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
    text-align: center;
    justify-self: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 5.5em;
}
.title-border {
    grid-row: 1 / span 1;
    grid-column: 2 / span 2;
    display: grid;
    grid-template: 1fr / 1fr;
    width: 100%;
    height: 100%;
    border-left: 2px solid #78C2AD;
    border-bottom: 2px solid #78C2AD;
}
.projectfeed-title {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    align-self: center;
    margin: 0 0 0 0.5em;
    text-align: left;
    font-size: 1.3em;
}
.projectfeed-title-link {
    color: rgb(29, 29, 29);
    text-decoration: none;
    transition: all 500ms ease;
}
.projectfeed-title-link:hover {
    text-decoration: none;
}
/* PROJECT DROP DOWN */
.projectfeed-options {
    grid-row: 1 / span 1;
    grid-column: 3 / span 1;
    margin: 0 0;
    padding: 0 0;
    list-style: none;
}
.projectfeed-options li {
    padding: 0 0;
    margin: 0 0;
}
.projectfeed-options .nav-link {
    padding: 0 0 0.5em 0.5em;
    width: 2.5em;
    height: 2em;
    color: rgb(51, 51, 51);
    font-weight: 800;
    border: 0.5px solid rgba(168, 168, 168, 0.521);
    border-radius: 0.7em;
    background: rgba(238, 238, 238, 0.781);
}
.update-border {
    grid-row: 2 / span 1;
    grid-column: 2 / span 2;
    display: grid;
    grid-template: 1fr / 1fr;
    width: 100%;
    height: 100%;
    border-left: 2px solid #78C2AD;
}
.projectfeed-update {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    align-self: center;
    margin: 0 0 0 0.5em;
    text-align: left;
    font-size: 0.9em;
    font-family: 'Comic Sans MS', helvetica, sans-serif;
    color: rgb(67, 67, 197);
}

.followed-note-title {
    text-align: center;
    font-weight: 800;
    border-bottom: 1px solid black;
}
.followed-note-list {
    list-style: none;
    margin: 0.5em 0;
    padding: 0 0;
}


/* BLOCK USER POPUP MODAL */
#modalDel {
    top: 10em;
}
.modal-content {
    width: 40em;
}
.modal-body {
    overflow: hidden;
    background: rgb(218, 218, 218);
}
.block-title-1 {
    margin: 0;
    color: green;
}
.block-title-2 {
    margin: 0;
    color: darkred;
}
.block-1, .block-2 {
    color: black;
}
.block-note {
    margin: 0;
}
.modal-footer .user-block-btn, .user-close-btn {
    margin-right: 3em;
}

/* ANIMATED PLANTS */
.animated-plants-container {
    position: fixed;
    height: auto;
    width: auto;
    bottom: -10%;
    right: 0%;
    z-index: 13;
    opacity: 1;
}
.animated-plant-text {
    position: absolute;
    cursor: pointer;
    font-size: 0.85em;
    font-family: "Comic Sans MS", helvetica, sans-serif;
    bottom: 25%;
    left: -15%;
    width: 15em;
    height: auto;
    color: rgb(204, 153, 58);
}
.animated-plant-text:hover {
    color: rgb(22, 160, 22);
}

svg,
.animated-plants {
    height: 38vh;
    max-height: 38vh;
}
.no-fill, .cactus-prickle {
  fill: none;
}

.replay-text {
  fill: #ffffff;
  font-size: 24px;
  font-family: Helvetica, sans, monospace, sans-serif;
  user-select: none;
}

.back {
  fill: #b8c6d1;
}

.pot {
  fill: #e3e5e1;
}
.pot-lighter {
  fill: #edeeeb;
}
.pot-lightest {
  fill: #f6f6f4;
}
.pot-top-lightest {
  fill: #fff;
}
.pot-top-soil {
  fill: #afb4a6;
}
.pot-shadow {
  fill: #a1b4bd;
}

.haworthia {
  clip-path: url(#haworthia-clip-path);
  fill: #7ea981;
}
.haworthia-strip {
  fill: #c7e5ce;
}
.haworthia-ouline {
  fill: #709c74;
  opacity: 0.5;
}

.cactus {
  clip-path: url(#cactus-clip-path);
  fill: #5b9a7c;
}
.cactus-lighter {
  fill: #63a689;
}
.cactus-lightest {
  fill: #6fb293;
}
.cactus-prickle {
  stroke: #4c8165;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  stroke-width: 3px;
}
.flower-root {
  fill: #71d1a8;
}
.flower-lighter {
  fill: #efad96;
}
.flower {
  fill: #e19680;
}
.flower-back {
  fill: #d38570;
}

.echeveria {
  clip-path: url(#echeveria-clip-path);
  fill: #78b1b5;
}
.echeveria-darker {
  fill: #6ea8a8;
}
.echeveria-lighter {
  fill: #88bfbf;
}


/* PLANT GENERATOR */

#canvas_container_div {
  position: fixed;
  bottom: 27%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

#canvas {
  width: 100%;
  height: 100%;
    transform: scale(1.5);
}




/* ALERT MSG BOX */
.alert-box-wrapper {
  position: fixed;
  top: 12%;
  right: -10em;
  height: 1%;
  z-index: 5000;
}

#message-alert-box {
  width: 15em;
  height: auto;
  max-height: 6em;
  padding: 0.8em;
  text-align: center;
  right: -70em;
  top: 0;
  transition: all 1500ms ease;
  position: absolute;
}






.card {
  width: 50%;
  background-color: #F7F7F7;
  /* just in case there no content*/
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  /* shadows and rounded borders */
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  opacity: 0.8;
  transition: all 500ms ease;
}
.card:hover {
  opacity: 1;
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/*
* Form styles
*/
.profile-name-card {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 10px 0 0;
  min-height: 1em;
}

.reauth-email {
  display: block;
  color: #404040;
  line-height: 2;
  margin-bottom: 10px;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
  direction: ltr;
  height: 44px;
  font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  z-index: 1;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.form-signin .form-control:focus {
  border-color: rgb(104, 145, 162);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
  /*background-color: #4d90fe; */
  background-color: rgb(104, 145, 162);
  /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
  padding: 0px;
  font-weight: 700;
  font-size: 14px;
  height: 36px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: none;
  -o-transition: all 0.218s;
  -moz-transition: all 0.218s;
  -webkit-transition: all 0.218s;
  transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
  background-color: rgb(12, 97, 33);
}

.forgot-password {
  color: rgb(104, 145, 162);
  text-align: center;
  margin-top: 1%;
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
  color: rgb(12, 97, 33);
}

#remember {
  text-align: center;
}