@import '../../../__styles/commonstyles';


.ftcoSection {
	padding: 7em 0;
    position: relative;
	@include media-breakpoint-down(sm){
		padding: 6em 0;
	}
}

.ftcoServices{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    background: #f8f9fa!important;
    width: 100%;
	.navLinkWrap{
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
		background: $primary;
		// @include gradient-background();
		@include media-breakpoint-up(md){
			margin-bottom: -60px;
			z-index: 1;
		}
		@include media-breakpoint-down(sm){
			background: $primary;
			margin-top: 30px;
		}
	}
	.navPills{
		p{
			margin-bottom: 0;
		}
		.navLink{
            width: 100%;
            padding: 2rem;
            display: block;
            text-align: center;
			float: left;
			border-radius: 0;
			margin-bottom: 0;
			color: rgba(255,255,255,.8);
			font-size: 20px;
			font-weight: 400;
            position: relative;
            transition: 100ms all ease;
			&:after{
				position: absolute;
				top: 35px;
				bottom: 25px;
				right: 0;
				width: 0;
				height: 0;
				content: '';
				border-style: solid;
				border-width: 10px 10px 10px 0;
				border-color: transparent #fafafa transparent transparent;
				opacity: 0;
			}
			i {
                padding-left: 1rem;
				font-size: 1.5rem;
				margin-right: 0.5re;
                color: inherit;
                float: left;
            }
            
			&:hover {
				color: rgba(255, 218, 137, 1) !important;
				font-size: 20px;
				// background: #333644;
				@include transition(.3s);
				background: transparent;
				font-weight: 600 !important;
				&:after{
					opacity: 1;
				}
				@include media-breakpoint-down(sm){
					&:after{
						opacity: 0;
					}
                }
            }
            &:hover i {
                color: rgba(255, 218, 137, 1) !important;
            }
			@include media-breakpoint-down(sm){
				display: block;
				width: 100%;
			}
		}
    }
    
    .tabBox {
        padding: 2rem;
        display: flex;
        align-items: center;

        @include media-breakpoint-down(sm){
            position: absolute;
        }
        .tabContent{
            .tabPanel{
                display: none;
                visibility: hidden;
                opacity: 0;
                position: absolute;
                top: 10%;
                left: 20%;
                transition: 150ms all ease;
                @include media-breakpoint-down(sm){
                    background: rgba(43, 43, 43, 0.9);
                    color: $white;
                    padding: 0;
                    width: 90%;
                    text-align: center;
                    position: absolute;
                    top: 5%;
                    left: 0;
                }
                i {
                    text-align: left;
                    display: block;
                    margin-bottom: 1.5rem;
                    font-size: 100px;
                    color: $black;
                    line-height: 1.2;
                    @include gradient-background();
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    @include media-breakpoint-down(sm){
                        text-align: center;
                    }
                }
                h2 {
                    margin-bottom: 2rem;
                    @include media-breakpoint-down(sm){
                        color: $primary;
                    }
                }
                span {
                    display: none;
                    position: absolute;
                    top: 3%;
                    right: 3%;
                    color: rgb(196, 28, 28);
                    cursor: pointer;
                    @include media-breakpoint-down(sm){
                        display: block;
                    }
                }
            }
            .tabBtn {
                padding: 1.5rem 2rem;
            }
        }
    }
}