<p>Dear {{ user.firstname }},</p>
<p>
    Welcome to the smallWorld! Where you can proudly and easily share your great creative designs to others.
    <p>To get started, please verify your account by clicking the link below.</p>
    <a href="{{ url_for('auth.confirm_acct', token=token, _external=True) }}">
        click here
    </a>.
</p>
<p>Alternatively, you can paste the following link in your browser's address bar:</p>
<p>{{ url_for('auth.confirm_acct', token=token, _external=True) }}</p>
<p>If you have not created this account, please simply ignore this email.</p>
<p>Sincerely,</p>
<p>smallWorld</p>