@import '../../__styles/commonstyles';


.containerWrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-image: url('../../images/homepage-background.jpg');
    background-size: cover;

    .cardStyles {
        background-color: rgb(214, 214, 214);
        opacity: 0.85;
        transition: 300ms all ease;

        &:focus-within {
            background-color: white;
            opacity: 1;
        }
    }

    .signUpTitle {
        font-size: 1.2rem;
        color: rgb(104, 104, 104);
        text-align: center;
        width: 100%;
        margin-bottom: 3rem;
    }
    .signUpBtn {
        background-color: white;
        color: $primary;
        border-color: $primary;
        position: absolute;
        top: 1rem;
        right: 1rem;
        transition: 300ms all ease;

        &:hover {
            background-color: $blue;
            border-color: $blue;
            color: white;
        }
    }
}