/* REGISTRATION STYLES */
.front-banner {
    width: 100%;
    height: auto;
}

.cover-photo {
    position: relative;
    z-index: 15;
    background-image: url('homepage-aquarium-trees.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: auto;
    max-height:18em;
}

.register-alert {
    text-align: center;
}

#register-container {
    height: 37rem;
    width: 100%;
    overflow-y: scroll;
    padding-top: 1rem;
    padding-bottom: 4rem;
}

#signupform-container-override {
    width: 100%;
    height: 100%;
    margin: auto auto;
}

#signupform-override {
    width: 100%;
    margin: auto auto;
}

.message {
    border-radius: 20px;
    clear: both;
    margin-top: 2em;
    padding: 10px 15px;
}
.receive {
    font-weight: 600;
    background: #2d8cfa;
    color: #fff;
}

/* ACCT CONFIRMATION STYLES */
.jumbotron-wrapper {
    width: 100%;
}

#acct-confirm-jumbotron {
    width: 40em;
    margin: 5em auto 15em auto;
    text-align: center;
}

/* PASSWORD RESET REQUEST STYLES */
#reset-pw-req-header {
    font-size: 1.5em;
    width: 14em;
    text-align: center;
    padding-bottom: 2em;
}

#reset-pw-req-input {
    padding-bottom: 1em;
}

#reset-pw-link {
    text-decoration: underline;
}