.project-container {
    width: 100%;
    height: 85vh;
    text-align: center;
    overflow: scroll;
    position: relative;
}
.container {
    width: 100%;
    height: 100%;
}
.row {
    width: 100vw;
    margin-bottom: 2rem;
}

.description-textarea {
    max-height: 15em;
}
.text-muted {
    text-align: left;
}
.tag-btn {
    background-color: #78C2AD;
    border-color: #78C2AD;
}