@import '../../../pages/__styles/commonstyles';


.recaptchaContainer {
    display: flex;
    justify-content: center;

    @include media-breakpoint-down(md) {
        transform: scale(0.8);
    }
}