@import '../../../__styles/commonstyles';


.ftcoSection {
	padding: 7em 0;
    position: relative;
	@include media-breakpoint-down(sm){
		padding: 6em 0;
	}
}

.subheading {
	font-size: 16px;
	display: block;
	margin-bottom: 5px;
	text-transform: uppercase;
	color: rgba(0,0,0,.3);
	letter-spacing: 2px;
	@include gradient-background();
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

.heading {
	font-size: 40px;
	font-weight: 600;
	text-transform: uppercase;
	@include media-breakpoint-down(sm){
		font-size: 28px;
	}
}

.aboutText {
	color: rgba(129, 129, 129, 0.9);
}


.staff {
	overflow: hidden;
    @include transition(.3s);
    .imgWrap {
        align-items: stretch;
    }
	.img{
        background-image: url('../../images/relax.jpg');
        align-self: stretch;
		height: 200px;
		width: 200px;
		display: block;
		margin: 0 auto;
		background-position: top center;
		@include border-radius(50%);
		@include transition(.3s);
	}
	.text{
        align-items: center;
        text-align: center;
        padding-top: 1.5rem;
		width: 100%;
		opacity: 1;
		color: rgba(0,0,0,.6);
		@include transition(.3s);
		> div{
			width: 100%;
			padding: 0 1em;
			@include transition(.3s);
		}
		h3{
            margin-bottom: 1rem;
			font-size: 24px;
			font-weight: 400;
			margin-bottom: 0;
			@include transition(.3s);
		}
		.position{
			text-transform: uppercase;
			color: rgba(0,0,0,1);
			color: $primary;
			display: block;
            letter-spacing: 1px;
            margin-bottom: 2rem;
		}
		.faded{
			opacity: 1;
			width: 100%;
		}
	}
	.ftcoSocial{
        padding: 0;
        text-align: center;
		opacity: 1;
		@include transition(.3s);
		li{
            list-style: none;
            margin-right: 10px;
		    display: inline-block;
			a{
				color: $black;
			}
		}
	}
}