<link rel="stylesheet" href="{{ url_for('static', filename='_chatbox.css') }}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700">

<!-- MEDIA QUERIES -->
<style>
/* ----------- iPhone 6, 6S, 7, 8 and X ----------- */
/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    .chatlist-wrapper {
        bottom: 0;
    }
    #live-chat {
        bottom: 0;
        right: 0;
        z-index: 2000;
    }
}
/* ----------- iPhone 6, 6S, 7, and 8 ----------- */
/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
    .chatlist-wrapper {
        height: 85vh;
        bottom: 0;
    }
    .chat-history {
        height: 225px;
    }
}
/* ----------- iPhone X ----------- */
/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    .chatlist-wrapper {
        height: 85vh;
        bottom: 0;
    }
    .chat-history {
        height: 225px;
    }
}
</style>

<!-- CHATLIST BOX -->
<div class="chatlist-wrapper">
    <div class="users-list-card mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
        <p class="mdl-card__title-text chatlist-title">Users</p><i class="far fa-question-circle chatlist-info" style="position: absolute; top: 1.4em; right: 3em; cursor: pointer;" data-toggle="popover" data-popover="true" data-html="true" data-content="<div class='popover-container' style='padding: 1em;'><p class='popover-description' style='font-size: 0.8em; font-weight: 600;'>Chat list users are automatically added if both users are following each other or removed if one or the other unfollows. Otherwise if one or the other is only following, both users will not appear in their respective list.</p></div>"></i>
        </div>
        <div class="mdl-card__menu">
        <a class="chatbox-expand-btn" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <img class="expand-icons" src="{{ url_for('static', filename='dots-expand.png') }}">
            <div class="dropdown-menu chat-dropdown" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 42px, 0px);">
                <a class="dropdown-item dropdown-minimize" href="#">Minimize</a>
                <a class="dropdown-item dropdown-offline" href="#">Go offline</a>
                <a class="dropdown-item dropdown-online" href="#">Go online</a>
                <a class="dropdown-item dropdown-invisible" href="#">Invisible<i class="far fa-question-circle invisible-info" style="position: absolute; cursor: pointer;" data-toggle="popover" data-popover="true" data-html="true" data-content="<div class='popover-container' style='padding: 1em;'><p class='popover-description' style='font-size: 0.8em; font-weight: 600;'>While in Invisible Mode, you may see others online while others cannot see you online. All chat features will still be available. If you are experiencing any issues or bugs, please let the me know :)</p></div>"></i></a>
            </div>
        </a>
        </div>
        <div class="mdl-menu__item--full-bleed-divider"></div>
        <ul class="mdl-list">
            <li class="mdl-list__item">
                <span class="mdl-list__item-primary-content">
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input search" type="text" id="sample1" placeholder="Search a user...">
                    </div>
                </span>
            </li>
        </ul>
        <div class="mdl-menu__item--full-bleed-divider"></div>
        <div class="mdl-card__supporting-text custom-scrollbar">
        <ul class="mdl-list fav-chatlist">
            <!-- DYNAMIC USERS ADDED HERE -->
        </ul>
        <ul class="mdl-list unfav-chatlist">
            <!-- DYNAMIC USERS ADDED HERE -->
        </ul>
        </div>
    </div>
</div>

<!-- MINIMIZED CHATLIST -->
<div class="chatbox-minimized-container">
    <div class="online-wrapper" style="{% if current_user.online == True %}display: block;{% else %}display: none;{% endif %}">
        <span class="minimized-online-icon" style="background: rgb(66, 183, 42); border-radius: 50%; height: 10px; width: 10px; display: block; position: absolute; top: 50%; left: 8%; transform: translate(-50%, -50%);"></span>
        <span class="minimized-online-text">Online</span>
    </div>
    <div class="offline-wrapper" style="{% if current_user.online == False %}display: block;{% else %}display: none;{% endif %}">
        <img class="minimized-offline-icon" style="background: rgb(179, 179, 179); border-radius: 50%; display: block; position: absolute; height: 10px; width: 10px; top: 50%; left: 8%; transform: translate(-50%, -50%);">
        <span class="minimized-offline-text">Offline</span>
    </div>
    <div class="invisible-wrapper" style="{% if current_user.online == False %}display: block;{% else %}display: none;{% endif %}">
        <i class="fas fa-ghost minimized-invisible-icon" style="display: block; color: rgb(75, 75, 75); height: 10px; width: 10px; position: absolute; top: 50%; left: 8%; transform: translate(-50%, -50%);"></i>
        <span class="minimized-invisible-text">Invisible Mode</span>
    </div>
</div>

<!-- CHAT MSG BOX -->
<div id="live-chat">
        <header class="clearfix">
            <a href="#" class="chat-close">x</a>
            <h4 class="chat-message-username-title"></h4>
            <span class="chatbox-active-icon"></span>
        </header>

        <div class="chat">
            <div class="chat-history">
                <!-- DYNAMICALLY ADD CHAT MSGS HERE -->
            </div> <!-- end chat-history -->

            <p class="chat-feedback"></p>
            <div class="chat-input-wrapper">
                <input class="chat-message-input" type="text" maxlength="200" placeholder="Type your message…" autofocus>
            </div>
        </div> <!-- end chat -->
</div> <!-- end live-chat -->

<!-- SOCKETIO -->
<script src='{{ url_for("static", filename="plugins/socket.io.js") }}'></script>
<!-- Chat Box JS -->
<script src='{{ url_for("static", filename="plugins/material.min.js") }}'></script>
<!-- Moment JS -->
<script src='{{ url_for("static", filename="plugins/moment-js.min.js") }}'></script>
<!-- When locally JS fails, load CDN -->
<script>
    if (!window.moment) { document.write('<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"><\/script>'); }
</script>

<script type="text/javascript">
/* SOCKETIO SCRIPTS */
$(document).ready(function() {
    var socket = io.connect();
    var chatRequest;
    
    // LISTENS TO SERVER TO DETERMINE USER'S CHAT STATUS
    socket.on('connect', function(status) {
        if (status == 'online') {
            // DISPLAYS MINIMIZED CHATBOX AS ONLINE
            $('.chatlist-title').css('font-style', 'normal').css('font-weight', '400').css('padding', '0 5em').css('color', 'black').css('opacity', '1');
            $('.chatlist-title').text('Users');
            $('.chatlist-wrapper').css('display', 'none');
            $('.chatbox-minimized-container').css('display', 'block');
            $('.online-wrapper').css('display', 'block');
            $('.offline-wrapper').css('display', 'none');
            $('.invisible-wrapper').css('display', 'none');

            socket.emit('chatlist', []);
        } else if (status == 'offline') {
            $('.chatlist-wrapper').css('display', 'none');
            $('.chatbox-minimized-container').css('display', 'block');
            $('.online-wrapper').css('display', 'none');
            $('.offline-wrapper').css('display', 'block');
            $('.invisible-wrapper').css('display', 'none');
        } else if (status == 'invisible') {
            $('.chatlist-title').css('font-style', 'italic').css('font-weight', '600').css('padding', '0 2.5em').css('color', 'lightgrey').css('opacity', '0.75');
            $('.chatlist-title').text('Invisible Mode');
            $('.chatlist-wrapper').css('display', 'none');
            $('.chatbox-minimized-container').css('display', 'block');
            $('.online-wrapper').css('display', 'none');
            $('.offline-wrapper').css('display', 'none');
            $('.invisible-wrapper').css('display', 'block');
            $('.dropdown-invisible').css('display', 'none');
            $('.dropdown-offline').css('display', 'none');
            $('.dropdown-online').css('display', 'block');

            socket.emit('chatlist', []);
            socket.emit('fav_users');
        }
    });
    // LISTENS TO SERVER FOR ESTABLISHED CONNECTION AND LOADS CHAT LIST
    socket.on('chatlist', function(userslist) {
        var existing_list = [];
        for (i=0; i < userslist.length; i++) {
            var username = userslist[i]['username'];
            var avatar = userslist[i]['avatar'];
            var userid = userslist[i]['id'];
            var condition = userslist[i]['condition'];
            var online_status = String(userslist[i]['online']);
            var unread_ct = userslist[i]['unread_msg_ct'];
            var favorite = userslist[i]['favorite'];
            if (condition == 'add') {
                var newuser = {'username': username, 'avatar': avatar, 'id': userid}
                existing_list.push(newuser);
                // SETTING DEFAULT AVATAR IMG WITHOUT COMPROMISING WEBSOCKET CONFIG
                if (online_status == 'true') {
                    if (favorite == true) {
                        $('.fav-chatlist').append($('<li>')
                        .prop('class', 'mdl-list__item')
                        .prop('id', 'userlist-' + userid)
                        .append($('<span>')
                            .prop('class', 'mdl-list__item-primary-content')
                            .css('position', 'relative')
                            .append($('<i>')
                                .prop('class', 'fas fa-star favorite favorite-' + userid)
                                .attr('data-userid', userid)
                                .attr('data-fav', true))
                            .append($('<img>')
                                .prop('class', 'chatlist-avatar')
                                .attr('src', avatar))
                            .append($('<span>')
                                .text(username)
                                .prop('class', 'chatlist-username chatlist-username-' + userid)
                                .attr('data-userid', userid)
                                .attr('data-username', username))
                            .append($('<i>')
                                .prop('class', 'far fa-comment fa-2x chatlist-bubble chatlist-bubble-' + userid)
                                .append($('<span>')
                                    .prop('class', 'chatlist-counter chatlist-counter-' + userid)
                                    .text(unread_ct)))
                            .append($('<span>')
                                .prop('class', 'chatlist-active-icon chatlist-active-icon-' + userid)
                                .attr('style', 'background: rgb(66, 183, 42); border-radius: 50%; display: inline-block; height: 10px; margin-left: 10px; width: 10px; position: absolute; right: -1em; top: 0.85em;')
                                .attr('data-online', 'true'))))
                    } else {
                        $('.unfav-chatlist').append($('<li>')
                        .prop('class', 'mdl-list__item')
                        .prop('id', 'userlist-' + userid)
                        .append($('<span>')
                            .prop('class', 'mdl-list__item-primary-content')
                            .css('position', 'relative')
                            .append($('<i>')
                                .prop('class', 'far fa-star favorite favorite-' + userid)
                                .attr('data-userid', userid)
                                .attr('data-fav', false))
                            .append($('<img>')
                                .prop('class', 'chatlist-avatar')
                                .attr('src', avatar))
                            .append($('<span>')
                                .text(username)
                                .prop('class', 'chatlist-username chatlist-username-' + userid)
                                .attr('data-userid', userid)
                                .attr('data-username', username))
                            .append($('<i>')
                                .prop('class', 'far fa-comment fa-2x chatlist-bubble chatlist-bubble-' + userid)
                                .append($('<span>')
                                    .prop('class', 'chatlist-counter chatlist-counter-' + userid)
                                    .text(unread_ct)))
                            .append($('<span>')
                                .prop('class', 'chatlist-active-icon chatlist-active-icon-' + userid)
                                .attr('style', 'background: rgb(66, 183, 42); border-radius: 50%; display: inline-block; height: 10px; margin-left: 10px; width: 10px; position: absolute; right: -1em; top: 0.85em;')
                                .attr('data-online', 'true'))))
                    }
                } else {
                    if (favorite == true) {
                        $('.fav-chatlist').append($('<li>')
                        .prop('class', 'mdl-list__item')
                        .prop('id', 'userlist-' + userid)
                        .append($('<span>')
                            .prop('class', 'mdl-list__item-primary-content')
                            .css('position', 'relative')
                            .append($('<i>')
                                .prop('class', 'fas fa-star favorite favorite-' + userid)
                                .attr('data-userid', userid)
                                .attr('data-fav', true))
                            .append($('<img>')
                                .prop('class', 'chatlist-avatar')
                                .attr('src', avatar))
                            .append($('<span>')
                                .text(username)
                                .prop('class', 'chatlist-username chatlist-username-' + userid)
                                .attr('data-userid', userid)
                                .attr('data-username', username)
                                .css('font-style', 'italic')
                                .css('color', 'rgb(168, 168, 168)'))
                            .append($('<i>')
                                .prop('class', 'far fa-comment fa-2x chatlist-bubble chatlist-bubble-' + userid)
                                .append($('<span>')
                                    .prop('class', 'chatlist-counter chatlist-counter-' + userid)
                                    .text(unread_ct)))
                            .append($('<span>')
                                .prop('class', 'chatlist-active-icon chatlist-active-icon-' + userid)
                                .attr('style', 'background: rgb(168, 168, 168); border-radius: 50%; display: inline-block; height: 10px; margin-left: 10px; width: 10px; position: absolute; right: -1em; top: 0.85em;')
                                .attr('data-online', 'true'))))
                    } else {
                         $('.unfav-chatlist').append($('<li>')
                        .prop('class', 'mdl-list__item')
                        .prop('id', 'userlist-' + userid)
                        .append($('<span>')
                            .prop('class', 'mdl-list__item-primary-content')
                            .css('position', 'relative')
                            .append($('<i>')
                                .prop('class', 'far fa-star favorite favorite-' + userid)
                                .attr('data-userid', userid)
                                .attr('data-fav', false))
                            .append($('<img>')
                                .prop('class', 'chatlist-avatar')
                                .attr('src', avatar))
                            .append($('<span>')
                                .text(username)
                                .prop('class', 'chatlist-username chatlist-username-' + userid)
                                .attr('data-userid', userid)
                                .attr('data-username', username)
                                .css('font-style', 'italic')
                                .css('color', 'rgb(168, 168, 168)'))
                            .append($('<i>')
                                .prop('class', 'far fa-comment fa-2x chatlist-bubble chatlist-bubble-' + userid)
                                .append($('<span>')
                                    .prop('class', 'chatlist-counter chatlist-counter-' + userid)
                                    .text(unread_ct)))
                            .append($('<span>')
                                .prop('class', 'chatlist-active-icon chatlist-active-icon-' + userid)
                                .attr('style', 'background: rgb(168, 168, 168); border-radius: 50%; display: inline-block; height: 10px; margin-left: 10px; width: 10px; position: absolute; right: -1em; top: 0.85em;')
                                .attr('data-online', 'false'))))
                    }
                };
            } else if (condition == 'remove') {
                var userlistid = '#userlist-' + userid;
                // BINDS & UNBINDS EVENT LISTENER TO REMOVE DYNAMIC USERS
                $(document).mousemove(userlistid, () => {
                    $(userlistid).remove();
                    $(document).unbind("mousemove");
                });
            } else if (condition == 'none') {
                var olduser = {'username': username, 'avatar': avatar, 'id': userid};
                existing_list.push(olduser);

                // DYNAMICALLY UPDATING STATUS ICON
                if (online_status == 'false') {
                    $('.chatlist-username-' + userid).css('font-style', 'italic').css('color', 'rgb(168, 168, 168)');
                    $('.chatlist-active-icon-' + userid).css('background', 'rgb(168, 168, 168)');
                    $('.chatlist-active-icon-' + userid).attr('data-online', 'false');
                } else {
                    $('.chatlist-username-' + userid).css('font-style', 'normal').css('color', 'black');
                    $('.chatlist-active-icon-' + userid).css('background', 'rgb(66, 183, 42)');
                    $('.chatlist-active-icon-' + userid).attr('data-online', 'true');
                }
            };
            // DYNAMICALLY ADD NOTIFICATION COUNTER FOR UNREAD MSGS
            if (unread_ct > 0) {
                $('.chatlist-bubble-' + userid).css('display', 'block');
                $('.chatlist-counter-' + userid).text(unread_ct);
            }
        }
        
        chatRequest = setTimeout(function(){ socket.emit('chatlist', existing_list); }, 5000);
    });
    
    
    // OPENS CHATBOX AND CONNECTS WITH USER
    $('.mdl-list').on('click', '.chatlist-username', (event) => {
        var username = event.currentTarget.dataset.username;
        var userid = parseInt(event.currentTarget.dataset.userid);
        var current_userid = parseInt("{{ current_user.id }}");
        var sorted_combined_ids = [userid, current_userid].sort(function(a, b){return a-b});
        var room = sorted_combined_ids[0] + '-' + sorted_combined_ids[1];
        // DISPLAYS CHAT BOX
        $('.chat-msg-container').css('display', 'block');
        $('.chat-message-username-title').text(username);
        $("#live-chat").fadeOut(300);
        // CLEARS ALL PREVIOUS MSGS AND INPUT
        $('.chat-history').empty();
        $('.chat-message-input').val('');
        // TRANSFER DATA TO CHATBOX TO BE USED LOCALLY
        $('.chat-message-input').attr('data-userid', userid);
        $('.chat-message-input').attr('data-username', username);
        $('.chat-close').attr('data-userid', userid);
        $('.chat-close').attr('data-username', username);
        // HIDES THE UNREAD MSGS BUBBLE
        $('.chatlist-bubble-' + userid).css('display', 'none');
        
        var online_status = $('.chatlist-active-icon-' + userid)[0].dataset.online;
        if (online_status == 'false') {
            $('#live-chat .chatbox-active-icon').addClass('icon-offline');
        };

        // PREPARES DATA TO JOIN THE ROOM
        var data = {'username': username, 'userid': userid, 'room': room};
        socket.emit('join', data);
    });
    // LISTENS TO SERVER TO POPULATE ALL CHAT LOGS
    socket.on('join', function(chat_data) {
        var logLength = (chat_data).length;
        var datetime = null, date = null;
        $("#live-chat").fadeIn(300);

        /* UNNECESSARY AUTO UPDATE TIMESTAMP ON EACH CHAT MSGS. MAY SLOW DOWN CLIENT EXP
        var update = function () {
            date = moment(timestamp);
           (date.format('dddd, MMMM Do YYYY, h:mm:ss a'));
        };

        $(document).ready(function(){
            datetime = $('#datetime')
            update();
            setInterval(update, 60000);
        });
        */
        
        for (i=0; i < logLength; i++) {
            var username = chat_data[i]['username'];
            var avatar = chat_data[i]['avatar'];
            var message = chat_data[i]['message'];
            var raw_timestamp = chat_data[i]['timestamp'];
            var timestamp = moment(raw_timestamp).calendar('');
            var current_user = '{{ current_user.username }}';
            if (username == current_user) {
                $('.chat-history')
                .prepend($('<div>')
                    .prop('class', 'chat-message clearfix')
                    .append($('<img>')
                        .prop('class', 'chat-message-avatar')
                        .attr('src', avatar)
                        .attr('width', '32')
                        .attr('height', '32'))
                    .append($('<div>')
                        .prop('class', 'chat-message-content-container clearfix')
                        .append($('<span>')
                            .prop('class', 'chat-time')
                            .text(timestamp))
                        .append($('<p>')
                            .prop('class', 'chat-message-username')
                            .text(username))
                        .append($('<p>')
                            .prop('class', 'chat-message-content')
                            .css('font-style', 'italic')
                            .css('color', 'rgb(163, 163, 163)')
                            .text(message)))
                    .append($('<hr>')))
            } else if (username != current_user) {
                $('.chat-history')
                .prepend($('<div>')
                    .prop('class', 'chat-message clearfix')
                    .append($('<img>')
                        .prop('class', 'chat-message-avatar')
                        .attr('src', avatar)
                        .attr('width', '32')
                        .attr('height', '32'))
                    .append($('<div>')
                        .prop('class', 'chat-message-content-container clearfix')
                        .append($('<span>')
                            .prop('class', 'chat-time')
                            .text(timestamp))
                        .append($('<p>')
                            .prop('class', 'chat-message-username')
                            .text(username))
                        .append($('<p>')
                            .prop('class', 'chat-message-content')
                            .css('color', 'rgb(163, 163, 163)')
                            .css('font-style', 'italic')
                            .text(message)))
                    .append($('<hr>'))
                )
            }    
        };
        // AUTO SCROLLS TO BOTTOM (LATEST MSG)
        $('.chat-history').animate({
            scrollTop: $('.chat-history').get(0).scrollHeight
        }, 500);
    });

    // USER FAVORITE FEATURE
    $('.unfav-chatlist, .fav-chatlist').on('click', '.favorite', (event) => {
        var userid = event.currentTarget.dataset.userid;
        var favtype = event.currentTarget.dataset.fav;
        if (favtype == 'true') {
            socket.emit('unfavorite', userid);
        } else if (favtype == 'false') {
            socket.emit('favorite', userid);
        }
    });
    // LISTENS TO SERVER FOR FAVORITE SUCCESS
    socket.on('favorite', function(userid) {
        $('.favorite-' + userid).removeClass('far fa-star');
        $('.favorite-' + userid).addClass("fas fa-star");
        $('.favorite-' + userid).attr('data-fav', 'true');
    });
    // LISTENS TO SERVER FOR UNFAVORITE SUCCESS
    socket.on('unfavorite', function(userid) {
        $('.favorite-' + userid).removeClass('fas fa-star');
        $('.favorite-' + userid).addClass("far fa-star");
        $('.favorite-' + userid).attr('data-fav', 'false');
    });

    // CLOSES CHATBOX AND DISCONNECTS SESSION WITH USER
    $('.chat-close').on('click', function(event) {
        var username = event.currentTarget.dataset.username;
        var userid = parseInt(event.currentTarget.dataset.userid);
        var current_userid = parseInt("{{ current_user.id }}");
        var sorted_combined_ids = [userid, current_userid].sort(function(a, b){return a-b});
        var room = sorted_combined_ids[0] + '-' + sorted_combined_ids[1];
        
        $(".chat").slideToggle(300, "swing");
        $(".chat-message-counter").fadeToggle(300, "swing");
        $("#live-chat").fadeOut(300);
        $('.chat-history').empty();
        $('.chat-message-input').val('');
        $('.chatlist-bubble-' + userid).css('display', 'none');
        var data = {'username': username, 'userid': userid, 'room': room};
        socket.emit('leave', data);
    });

    // SEND MESSAGE TO ROOM/CLIENT
    $('.chat-message-input').on('keyup', (event) => {
        var message = $('.chat-message-input').val();
        var message_length = message.length;
        if (event.which == 13 && message_length > 0) {
            var userid = event.currentTarget.dataset.userid;
            var current_userid = parseInt("{{ current_user.id }}");
            var sorted_combined_ids = [userid, current_userid].sort(function(a, b){return a-b});
            var room = sorted_combined_ids[0] + '-' + sorted_combined_ids[1];
            var message_data = {'message': message, 'room': room, 'userid': userid};
            $('.chat-message-input').val('');
            
            socket.emit('message', message_data);
        }
    });
    // LISTENS FOR SERVER INPUT AND LOADS THE SENT MSG
    socket.on('message', function(data) {
        var username = data['username'];
        var userAvatar = data['avatar'];
        var message = data['message'];
        var raw_timestamp = data['timestamp'];
        var timestamp = moment(raw_timestamp).calendar('');
        var current_username = '{{ current_user.username }}';
        if (username == current_username) {
            $('.chat-history')
            .append($('<div>')
                .prop('class', 'chat-message clearfix')
                .append($('<img>')
                    .prop('class', 'chat-message-avatar')
                    .attr('src', userAvatar)
                    .attr('width', '32')
                    .attr('height', '32'))
                .append($('<div>')
                    .prop('class', 'chat-message-content-container clearfix')
                    .append($('<span>')
                        .prop('class', 'chat-time')
                        .text(timestamp))
                    .append($('<p>')
                        .prop('class', 'chat-message-username')
                        .text(username))
                    .append($('<p>')
                        .prop('class', 'chat-message-content')
                        .text(message)
                        .css('color', 'black')))
                .append($('<hr>')))
        } else if (username != current_username) {
            $('.chat-history')
            .append($('<div>')
                .prop('class', 'chat-message clearfix')
                .append($('<img>')
                    .prop('class', 'chat-message-avatar')
                    .attr('src', userAvatar)
                    .attr('width', '32')
                    .attr('height', '32'))
                .append($('<div>')
                    .prop('class', 'chat-message-content-container clearfix')
                    .append($('<span>')
                        .prop('class', 'chat-time')
                        .text(timestamp))
                    .append($('<p>')
                        .prop('class', 'chat-message-username')
                        .text(username))
                    .append($('<p>')
                        .prop('class', 'chat-message-content')
                        .text(message)
                        .css('color', 'black')))
                .append($('<hr>')))
        }
        // AUTO SCROLLS TO BOTTOM (LATEST MSG)
        $('.chat-history').animate({
            scrollTop: $('.chat-history').get(0).scrollHeight
        }, 500);
    });

    // NOTIFIES OTHER USER THAT YOU ARE TYPING
    $('.chat-message-input').on('keypress', (event) => {
        var userid = event.currentTarget.dataset.userid;
        var username = event.currentTarget.dataset.username;
        var current_userid = parseInt("{{ current_user.id }}");
        var sorted_combined_ids = [userid, current_userid].sort(function(a, b){return a-b});
        var room = sorted_combined_ids[0] + '-' + sorted_combined_ids[1];
        var data = {'username': username, 'room': room};
        if (event.which != 13) {
            socket.emit('chat_typing', data);
        }
    });
    // LISTENS FOR TYPING NOTIFICATION
    socket.on('chat_typing', function(data) {
        var username = data['username'];
        var current_username = '{{ current_user.username }}';
        var notification = data['note'];
        var timeout;
        if (username != current_username) {
            var feedbackValue = $('.chat-feedback').text();
            var feedbackLength = (feedbackValue).length;
            $('.chat-feedback').text(notification);
            if (feedbackValue == '' || feedbackLength == 0) {
                timeout = setInterval(function() {
                    $('.chat-feedback').text('');
                }, 10000);
            }
            else if (feedbackValue != '' && feedbackLength != 0) {
                clearInterval(timeout);
            };
        };
    });

    // MINIMIZES CHATLIST & GO OFFLINE
    $('.dropdown-offline').on('click', function() {
        $('.chatlist-wrapper').css('display', 'none');
        $('.chatbox-minimized-container').css('display', 'block');
        $('.online-wrapper').css('display', 'none');
        $('.offline-wrapper').css('display', 'block');

        // CLEARS CHATLIST
        $('.fav-chatlist, .unfav-chatlist').empty();
        clearTimeout(chatRequest);
        socket.emit('offline');
    });

    // MAXIMIZES OFFLINE CHATLIST & GO ONLINE
    $('.offline-wrapper').on('click', () => {
        $('.chatlist-wrapper').css('display', 'block');
        $('.chatbox-minimized-container').css('display', 'none');
        $('.online-wrapper').css('display', 'none');
        $('.offline-wrapper').css('display', 'none');
        $('.invisible-wrapper').css('display', 'none');

        socket.emit('online');
    });

    // GO INVISIBLE MODE
    $('.dropdown-invisible').on('click', () => {
        $('.chatlist-title').text('Invisible Mode');
        $('.chatlist-title').css('font-style', 'italic').css('font-weight', '600').css('padding', '0 2.5em').css('color', 'lightgrey').css('opacity', '0.75');
        $('.dropdown-offline').css('display', 'none');
        $('.dropdown-online').css('display', 'block');
        $('.dropdown-invisible').css('display', 'none');

        socket.emit('invisible');
    });

    // SWITCH TO ONLINE MODE FROM INVISIBLE
    $('.dropdown-online').on('click', () => {
        $('.chatlist-title').text('Users');
        $('.chatlist-title').css('font-style', 'normal').css('font-weight', '400').css('padding', '0 5em').css('color', 'black').css('opacity', '1');
        $('.dropdown-offline').css('display', 'block');
        $('.dropdown-invisible').css('display', 'block');
        $('.dropdown-online').css('display', 'none');

        socket.emit('online');
    });

});
</script>

<script>
/* CHAT MESSAGE BOX */
$(function() {
    // MINIMIZE-MAXIMIZE CHAT MSG BOX
    $("#live-chat header").on("click", function() {
        $(".chat").slideToggle(300, "swing");
        $(".chat-message-counter").fadeToggle(300, "swing");
    });

    // MINIMIZES CHATLIST WHILE ONLINE OR INVISIBLE MODE
    $('.dropdown-minimize').on('click', function() {
        var chatmode = $('.chatlist-title').text();
        if (chatmode == 'Users') {
            $('.chatlist-wrapper').css('display', 'none');
            $('.chatbox-minimized-container').css('display', 'block');
            $('.online-wrapper').css('display', 'block');
            $('.offline-wrapper').css('display', 'none');
            $('.invisible-wrapper').css('display', 'none');
        } else {
            $('.chatlist-wrapper').css('display', 'none');
            $('.chatbox-minimized-container').css('display', 'block');
            $('.online-wrapper').css('display', 'none');
            $('.offline-wrapper').css('display', 'none');
            $('.invisible-wrapper').css('display', 'block');
        }
    });

    // MAXIMIZES CHATLIST WHILE ONLINE
    $('.online-wrapper').on('click', () => {
        $('.chatlist-wrapper').css('display', 'block');
        $('.chatbox-minimized-container').css('display', 'none');
        $('.online-wrapper').css('display', 'none');
        $('.offline-wrapper').css('display', 'none');
        $('.invisible-wrapper').css('display', 'none');
    });

    // MAXIMIZES CHATLIST WHILE INVISIBLE
    $('.invisible-wrapper').on('click', () => {
        $('.chatlist-wrapper').css('display', 'block');
        $('.chatbox-minimized-container').css('display', 'none');
        $('.online-wrapper').css('display', 'none');
        $('.offline-wrapper').css('display', 'none');
        $('.invisible-wrapper').css('display', 'none');
    });

});

/* POPOVER EFFECTS - INVISIBLE MODE */
$(function() {
    // SETTING CLEAR TIMEOUT VARIABLE GLOBALLY
    var popoverShow;
    $("[data-toggle=popover]").each(function(i, obj) {
        $(this)
            .popover({
                html: true,
                container: 'body',
                viewport: {selector: '.chatlist-wrapper'},
                selector: '[data-popover]',
                trigger: 'hover',
                placement: 'left',
            })
            .on("mouseenter", function() {
                var _this = this;
                // SETTING 'SHOW' ON POPOVER AS VARIABLE AND TRIGGER
                popoverShow = setTimeout(function() {
                    $(_this).popover("show");
                }, 600);
                $(".popover").on("mouseleave", function() {
                    $(_this).popover("hide");
                });
            })
            .on("mouseleave", function() {
                var _this = this;
                // CLEARS ANY EXISTING POPOVER 'SHOW' TIMEOUT TO PREVENT UNWANTED POPOVER DISPLAYS
                clearTimeout(popoverShow);
                setTimeout(function() {
                    if (!$(".popover:hover").length) {
                    $(_this).popover("hide");
                    }
                }, 400);
            });
        });
});

</script>