{% extends "base.html" %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='explore.css') }}">
{% endblock css %}

{% block bodycontent %}
<div class="explore-main-container">
    <div class="row">
        <!----- MOST POPULAR CARD ----->
        <div class="col-md-4">
            <div class="card">
                <div class="card-content">
                    <div class="card-header-most-popular">
                        <h1 class="card-heading">Most Popular</h1>
                    </div>
                    <div class="card-body">
                        <div class="card-p">
                            {% if most_popular_projects %}
                            <ul class="card-ul">
                                {% for project in most_popular_projects %}
                                <li>
                                    <p class="project-title"><a class="project-title-link project-title-link-{{ project.id }}" href="{{ url_for('project.project', username=project.username, title=project.title) }}" data-toggle="popover" data-popover="true" data-html="true" data-content="<div class='popover-container popover-container-{{ project.id }}'><img class='popover-avatar' src='{{ project.author.avatar(40) }}'><a class='popover-userlink' href='{{ url_for('main.profile', username=project.username) }}' target='blank'>{{ project.username }}</a><p class='popover-description'>{{ project.description }}</p></div>">{{ project.title }}</a></p>
                                    <span class="project-likes">{{ project.likes }} Likes</span>
                                    <hr>
                                    <p class="project-tags">Tags:
                                        {% if project.aquariums == True %}<a href="{{ url_for('project.tagsearch', tag='aquariums') }}"> Aquariums</a>,{% endif %}
                                        {% if project.saltwater == True %}<a href="{{ url_for('project.tagsearch', tag='saltwater') }}"> Saltwater</a>,{% endif %}
                                        {% if project.freshwater == True %}<a href="{{ url_for('project.tagsearch', tag='freshwater') }}"> Freshwater</a>,{% endif %}
                                        {% if project.terrariums == True %}<a href="{{ url_for('project.tagsearch', tag='terrariums') }}"> Terrariums</a>,{% endif %}
                                        {% if project.enclosedtropical == True %}<a href="{{ url_for('project.tagsearch', tag='enclosedtropical') }}"> Enclosed Tropical</a>,{% endif %}
                                        {% if project.opentropical == True %}<a href="{{ url_for('project.tagsearch', tag='opentropical') }}"> Open Tropical</a>,{% endif %}
                                        {% if project.carnivorous == True %}<a href="{{ url_for('project.tagsearch', tag='carnivorous') }}"> Carnivorous</a>,{% endif %}
                                        {% if project.desert == True %}<a href="{{ url_for('project.tagsearch', tag='desert') }}"> Desert</a>,{% endif %}
                                        {% if project.reptiles == True %}<a href="{{ url_for('project.tagsearch', tag='reptiles') }}"> Reptiles</a>,{% endif %}
                                        {% if project.vivariumpaludarium == True %}<a href="{{ url_for('project.tagsearch', tag='vivariumpaludarium') }}"> Vivarium/Paludarium</a>,{% endif %}
                                        {% if project.waterreptiles == True %}<a href="{{ url_for('project.tagsearch', tag='waterreptiles') }}"> Water Reptiles</a>,{% endif %}
                                        {% if project.plantsonly == True %}<a href="{{ url_for('project.tagsearch', tag='plantsonly') }}"> Plants only</a>,{% endif %}
                                        {% if project.difficulty < 4 %}<a href="{{ url_for('project.tagsearch', tag='difficulty', value='easy') }}"> Easy</a>,{% elif project.difficulty > 7 %}<a href="{{ url_for('project.tagsearch', tag='difficulty', value='hard') }}"> Hard</a>,{% else %}<a href="{{ url_for('project.tagsearch', tag='difficulty', value='medium') }}"> Medium</a>,{% endif %}
                                        {% if project.cost < 100 %}<a href="{{ url_for('project.tagsearch', tag='cost', value='$') }}"> $</a>,{% elif project.cost > 100 %}<a href="{{ url_for('project.tagsearch', tag='cost', value='$$') }}"> $$</a>,{% elif project.cost > 300 %}<a href="{{ url_for('project.tagsearch', tag='cost', value='$$$') }}"> $$$</a>,{% elif project.cost > 600 %}<a href="{{ url_for('project.tagsearch', tag='cost', value='$$$$') }}"> $$$$</a>,{% elif project.cost > 1000 %}<a href="{{ url_for('project.tagsearch', tag='cost', value='$$$$$') }}"> $$$$$</a>,{% endif %}
                                    </p>
                                </li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!----- TRENDING NOW CARD ----->
        <div class="col-md-4">
        	<div class="card">
                    <div class="card-content">
                    	<div class="card-header-trending-now">
                           <h1 class="card-heading">Trending Now</h1>
                       	</div>
                       	<div class="card-body">
                     	    <div class="card-p">
                                {% if trending_projects %}
                                <ul class="card-ul">
                                    {% for project in trending_projects %}
                                    <li>
                                        <p class="project-title"><a class="project-title-link project-title-link-{{ project.id }}" href="{{ url_for('project.project', username=project.username, title=project.title) }}" data-toggle="popover" data-popover="true" data-html="true" data-content="<div class='popover-container popover-container-{{ project.id }}'><img class='popover-avatar' src='{{ project.author.avatar(40) }}'><a class='popover-userlink' href='{{ url_for('main.profile', username=project.username) }}' target='blank'>{{ project.username }}</a><p class='popover-description'>{{ project.description }}</p></div>">{{ project.title }}</a></p>
                                        <span class="project-likes">{{ project.likes }} Likes</span>
                                        <hr>
                                        <p class="project-tags">Tags:
                                            {% if project.aquariums == True %}<a href="{{ url_for('project.tagsearch', tag='aquariums') }}"> Aquariums</a>,{% endif %}
                                            {% if project.saltwater == True %}<a href="{{ url_for('project.tagsearch', tag='saltwater') }}"> Saltwater</a>,{% endif %}
                                            {% if project.freshwater == True %}<a href="{{ url_for('project.tagsearch', tag='freshwater') }}"> Freshwater</a>,{% endif %}
                                            {% if project.terrariums == True %}<a href="{{ url_for('project.tagsearch', tag='terrariums') }}"> Terrariums</a>,{% endif %}
                                            {% if project.enclosedtropical == True %}<a href="{{ url_for('project.tagsearch', tag='enclosedtropical') }}"> Enclosed Tropical</a>,{% endif %}
                                            {% if project.opentropical == True %}<a href="{{ url_for('project.tagsearch', tag='opentropical') }}"> Open Tropical</a>,{% endif %}
                                            {% if project.carnivorous == True %}<a href="{{ url_for('project.tagsearch', tag='carnivorous') }}"> Carnivorous</a>,{% endif %}
                                            {% if project.desert == True %}<a href="{{ url_for('project.tagsearch', tag='desert') }}"> Desert</a>,{% endif %}
                                            {% if project.reptiles == True %}<a href="{{ url_for('project.tagsearch', tag='reptiles') }}"> Reptiles</a>,{% endif %}
                                            {% if project.vivariumpaludarium == True %}<a href="{{ url_for('project.tagsearch', tag='vivariumpaludarium') }}"> Vivarium/Paludarium</a>,{% endif %}
                                            {% if project.waterreptiles == True %}<a href="{{ url_for('project.tagsearch', tag='waterreptiles') }}"> Water Reptiles</a>,{% endif %}
                                            {% if project.plantsonly == True %}<a href="{{ url_for('project.tagsearch', tag='plantsonly') }}"> Plants only</a>,{% endif %}
                                            {% if project.difficulty < 4 %}<a href="{{ url_for('project.tagsearch', tag='difficulty', value='easy') }}"> Easy</a>,{% elif project.difficulty > 7 %}<a href="{{ url_for('project.tagsearch', tag='difficulty', value='hard') }}"> Hard</a>,{% else %}<a href="{{ url_for('project.tagsearch', tag='difficulty', value='medium') }}"> Medium</a>,{% endif %}
                                            {% if project.cost < 100 %}<a href="{{ url_for('project.tagsearch', tag='cost', value='$') }}"> $</a>,{% elif project.cost > 100 %}<a href="{{ url_for('project.tagsearch', tag='cost', value='$$') }}"> $$</a>,{% elif project.cost > 300 %}<a href="{{ url_for('project.tagsearch', tag='cost', value='$$$') }}"> $$$</a>,{% elif project.cost > 600 %}<a href="{{ url_for('project.tagsearch', tag='cost', value='$$$$') }}"> $$$$</a>,{% elif project.cost > 1000 %}<a href="{{ url_for('project.tagsearch', tag='cost', value='$$$$$') }}"> $$$$$</a>,{% endif %}
                                        </p>
                                    </li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </div>
                     	</div>
                    </div>
                </div>
        </div>
        <!----- NEWEST PROJECT CARD ----->
        <div class="col-md-4">
        	<div class="card">
                    <div class="card-content">
                    	<div class="card-header card-header-new-projects">
                           <h1 class="card-heading">Newest Projects</h1>
                       	</div>
                       	<div class="card-body">
                     	    <div class="card-p">
                                {% if new_projects %}
                                <ul class="card-ul">
                                    {% for project in trending_projects %}
                                    <li>
                                        <p class="project-title"><a class="project-title-link project-title-link-{{ project.id }}" href="{{ url_for('project.project', username=project.username, title=project.title) }}" data-toggle="popover" data-popover="true" data-html="true" data-content="<div class='popover-container popover-container-{{ project.id }}'><img class='popover-avatar' src='{{ project.author.avatar(40) }}'><a class='popover-userlink' href='{{ url_for('main.profile', username=project.username) }}' target='blank'>{{ project.username }}</a><p class='popover-description'>{{ project.description }}</p></div>">{{ project.title }}</a></p>
                                        <span class="project-likes">{{ project.likes }} Likes</span>
                                        <hr>
                                        <p class="project-tags">Tags:
                                            {% if project.aquariums == True %}<a href="{{ url_for('project.tagsearch', tag='aquariums') }}"> Aquariums</a>,{% endif %}
                                            {% if project.saltwater == True %}<a href="{{ url_for('project.tagsearch', tag='saltwater') }}"> Saltwater</a>,{% endif %}
                                            {% if project.freshwater == True %}<a href="{{ url_for('project.tagsearch', tag='freshwater') }}"> Freshwater</a>,{% endif %}
                                            {% if project.terrariums == True %}<a href="{{ url_for('project.tagsearch', tag='terrariums') }}"> Terrariums</a>,{% endif %}
                                            {% if project.enclosedtropical == True %}<a href="{{ url_for('project.tagsearch', tag='enclosedtropical') }}"> Enclosed Tropical</a>,{% endif %}
                                            {% if project.opentropical == True %}<a href="{{ url_for('project.tagsearch', tag='opentropical') }}"> Open Tropical</a>,{% endif %}
                                            {% if project.carnivorous == True %}<a href="{{ url_for('project.tagsearch', tag='carnivorous') }}"> Carnivorous</a>,{% endif %}
                                            {% if project.desert == True %}<a href="{{ url_for('project.tagsearch', tag='desert') }}"> Desert</a>,{% endif %}
                                            {% if project.reptiles == True %}<a href="{{ url_for('project.tagsearch', tag='reptiles') }}"> Reptiles</a>,{% endif %}
                                            {% if project.vivariumpaludarium == True %}<a href="{{ url_for('project.tagsearch', tag='vivariumpaludarium') }}"> Vivarium/Paludarium</a>,{% endif %}
                                            {% if project.waterreptiles == True %}<a href="{{ url_for('project.tagsearch', tag='waterreptiles') }}"> Water Reptiles</a>,{% endif %}
                                            {% if project.plantsonly == True %}<a href="{{ url_for('project.tagsearch', tag='plantsonly') }}"> Plants only</a>,{% endif %}
                                            {% if project.difficulty < 4 %}<a href="{{ url_for('project.tagsearch', tag='difficulty', value='easy') }}"> Easy</a>,{% elif project.difficulty > 7 %}<a href="{{ url_for('project.tagsearch', tag='difficulty', value='hard') }}"> Hard</a>,{% else %}<a href="{{ url_for('project.tagsearch', tag='difficulty', value='medium') }}"> Medium</a>,{% endif %}
                                            {% if project.cost < 100 %}<a href="{{ url_for('project.tagsearch', tag='cost', value='$') }}"> $</a>,{% elif project.cost > 100 %}<a href="{{ url_for('project.tagsearch', tag='cost', value='$$') }}"> $$</a>,{% elif project.cost > 300 %}<a href="{{ url_for('project.tagsearch', tag='cost', value='$$$') }}"> $$$</a>,{% elif project.cost > 600 %}<a href="{{ url_for('project.tagsearch', tag='cost', value='$$$$') }}"> $$$$</a>,{% elif project.cost > 1000 %}<a href="{{ url_for('project.tagsearch', tag='cost', value='$$$$$') }}"> $$$$$</a>,{% endif %}
                                        </p>
                                    </li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </div>
                     	</div>
                    </div>
                </div>
        </div>
        </div>
</div>
{% endblock bodycontent %}

{% block scripts %}
{{ super() }}
<script>
/* ADDS 'ACTIVE' CLASS TO NAV BAR ITEM */
$(function() {
    $('#nav-item-explore').addClass('active');

});

/* POPOVER EFFECTS */
$(function() {
    // SETTING CLEAR TIMEOUT VARIABLE GLOBALLY
    var popoverShow;
    $("[data-toggle=popover]").each(function(i, obj) {
        $(this)
            .popover({
                html: true,
                container: 'body',
                viewport: {selector: '.explore-main-container'},
                selector: '[data-popover]',
                trigger: 'hover',
                placement: 'top',
            })
            .on("mouseenter", function() {
                var _this = this;
                // SETTING 'SHOW' ON POPOVER AS VARIABLE AND TRIGGER
                popoverShow = setTimeout(function() {
                    $(_this).popover("show");
                }, 600);
                $(".popover").on("mouseleave", function() {
                    $(_this).popover("hide");
                });
            })
            .on("mouseleave", function() {
                var _this = this;
                // CLEARS ANY EXISTING POPOVER 'SHOW' TIMEOUT TO PREVENT UNWANTED POPOVER DISPLAYS
                clearTimeout(popoverShow);
                setTimeout(function() {
                    if (!$(".popover:hover").length) {
                    $(_this).popover("hide");
                    }
                }, 400);
            });
        });
});

/* UNIVERSALLY CLOSES ANY STUCK POPOVERS */
$(function() {
    $('.card-body, .explore-main-container').on('mouseenter', () => {
        $('.project-title-link').popover('hide');
    });
});

</script>
{% endblock scripts %}