{% extends "base.html" %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='message-center.css') }}">
{% endblock css %}

{% block mediaquery %}
{{ super() }}
<style>
/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .message-viewer-box {
        display: none;
    }
    .message-mobile-msgbox {
        display: block;
        height: 100%;
    }
    .mesgs {
        padding: 0;
    }
    .message-reply-msg {
        position: absolute;
        left: 0;
        top: 0;
        margin: 0;
    }
    .message-del-msg {
        position: absolute;
        left: 17%;
        top: 0;
        margin: 0;
    }
    .message-restore-msg {
        position: absolute;
        left: 17%;
        top: 0;
        margin: 0;
    }
}
/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .message-viewer-box {
        display: none;
    }
    .message-mobile-msgbox {
        display: block;
        height: 100vh;
    }
    .message-viewer-box {
        display: none;
    }
    .mesgs {
        padding: 0;
    }
    .message-reply-msg {
        position: absolute;
        left: 0;
        top: 0;
        margin: 0;
    }
    .message-del-msg {
        position: absolute;
        left: 20%;
        top: 0;
        margin: 0;
    }
    .message-restore-msg {
        position: absolute;
        left: 20%;
        top: 0;
        margin: 0;
    }
}

/* ----------- iPhone 6, 6S, 7, and 8 ----------- */
/* Portrait */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
    .message-viewer-box {
        display: none;
    }
    .message-mobile-msgbox {
        display: block;
        height: 100%;
    }
    .mesgs {
        padding: 0;
    }
    .message-reply-msg {
        position: absolute;
        left: 0;
        top: 0;
        margin: 0;
    }
    .message-del-msg {
        position: absolute;
        left: 17%;
        top: 0;
        margin: 0;
    }
    .message-restore-msg {
        position: absolute;
        left: 17%;
        top: 0;
        margin: 0;
    }
}
/* Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
    .message-viewer-box {
        display: none;
    }
    .message-mobile-msgbox {
        display: block;
        height: 100vh;
    }
    .message-viewer-box {
        display: none;
    }
    .mesgs {
        padding: 0;
    }
    .message-reply-msg {
        position: absolute;
        left: 0;
        top: 0;
        margin: 0;
    }
    .message-del-msg {
        position: absolute;
        left: 20%;
        top: 0;
        margin: 0;
    }
    .message-restore-msg {
        position: absolute;
        left: 20%;
        top: 0;
        margin: 0;
    }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */
/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .message-viewer-box {
        display: none;
    }
    .message-mobile-msgbox {
        display: block;
        height: 100%;
    }
    .mesgs {
        padding: 0;
    }
    .message-reply-msg {
        position: absolute;
        left: 0;
        top: 0;
        margin: 0;
    }
    .message-del-msg {
        position: absolute;
        left: 17%;
        top: 0;
        margin: 0;
    }
    .message-restore-msg {
        position: absolute;
        left: 17%;
        top: 0;
        margin: 0;
    }
}
/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    .message-viewer-box {
        display: none;
    }
    .message-mobile-msgbox {
        display: block;
        height: 100vh;
    }
    .message-viewer-box {
        display: none;
    }
    .mesgs {
        padding: 0;
    }
    .message-reply-msg {
        position: absolute;
        left: 0;
        top: 0;
        margin: 0;
    }
    .message-del-msg {
        position: absolute;
        left: 20%;
        top: 0;
        margin: 0;
    }
    .message-restore-msg {
        position: absolute;
        left: 20%;
        top: 0;
        margin: 0;
    }
}

/* ----------- iPhone X ----------- */
/* Portrait */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: portrait) {
    .message-viewer-box {
        display: none;
    }
    .message-mobile-msgbox {
        display: block;
        height: 100%;
    }
    .mesgs {
        padding: 0;
    }
    .message-reply-msg {
        position: absolute;
        left: 0;
        top: 0;
        margin: 0;
    }
    .message-del-msg {
        position: absolute;
        left: 17%;
        top: 0;
        margin: 0;
    }
    .message-restore-msg {
        position: absolute;
        left: 17%;
        top: 0;
        margin: 0;
    }
}
/* Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 3)
and (orientation: landscape) {
    .message-viewer-box {
        display: none;
    }
    .message-mobile-msgbox {
        display: block;
        height: 100vh;
    }
    .message-viewer-box {
        display: none;
    }
    .mesgs {
        padding: 0;
    }
    .message-reply-msg {
        position: absolute;
        left: 0;
        top: 0;
        margin: 0;
    }
    .message-del-msg {
        position: absolute;
        left: 20%;
        top: 0;
        margin: 0;
    }
    .message-restore-msg {
        position: absolute;
        left: 20%;
        top: 0;
        margin: 0;
    }
}

/* ----------- Galaxy S4, S5 and Note 3 ----------- */
/* Portrait */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {
    .message-viewer-box {
        display: none;
    }
    .message-mobile-msgbox {
        display: block;
        height: 100%;
    }
    .mesgs {
        padding: 0;
    }
    .message-reply-msg {
        position: absolute;
        left: 0;
        top: 0;
        margin: 0;
    }
    .message-del-msg {
        position: absolute;
        left: 17%;
        top: 0;
        margin: 0;
    }
    .message-restore-msg {
        position: absolute;
        left: 17%;
        top: 0;
        margin: 0;
    }
}
/* Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {
    .message-viewer-box {
        display: none;
    }
    .message-mobile-msgbox {
        display: block;
        height: 100vh;
    }
    .message-viewer-box {
        display: none;
    }
    .mesgs {
        padding: 0;
    }
    .message-reply-msg {
        position: absolute;
        left: 0;
        top: 0;
        margin: 0;
    }
    .message-del-msg {
        position: absolute;
        left: 20%;
        top: 0;
        margin: 0;
    }
    .message-restore-msg {
        position: absolute;
        left: 20%;
        top: 0;
        margin: 0;
    }
}

/* ----------- Galaxy S6 ----------- */
/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: portrait) {
    .message-viewer-box {
        display: none;
    }
    .message-mobile-msgbox {
        display: block;
        height: 100%;
    }
    .mesgs {
        padding: 0;
    }
    .message-reply-msg {
        position: absolute;
        left: 0;
        top: 0;
        margin: 0;
    }
    .message-del-msg {
        position: absolute;
        left: 17%;
        top: 0;
        margin: 0;
    }
    .message-restore-msg {
        position: absolute;
        left: 17%;
        top: 0;
        margin: 0;
    }
}
/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: landscape) {
    .message-viewer-box {
        display: none;
    }
    .message-mobile-msgbox {
        display: block;
        height: 100vh;
    }
    .message-viewer-box {
        display: none;
    }
    .mesgs {
        padding: 0;
    }
    .message-reply-msg {
        position: absolute;
        left: 0;
        top: 0;
        margin: 0;
    }
    .message-del-msg {
        position: absolute;
        left: 20%;
        top: 0;
        margin: 0;
    }
    .message-restore-msg {
        position: absolute;
        left: 20%;
        top: 0;
        margin: 0;
    }
}
</style>
{% endblock mediaquery %}

{% block bodycontent %}
<div class="message-center-container">
    {% include "_message-list.html" %}
    {% include "_message-preview.html" %}
    {% include "_message-popup.html" %}
</div>
<div class="message-mobile-msgbox">
    
    <div class="alert-box-wrapper">
        <div id="message-alert-box" class="alert alert-dismissible alert-success">
            <strong class="message-success-msg"></strong>
        </div>
    
        <div id="message-alert-box" class="alert alert-dismissible alert-secondary">
            <strong class="message-fail-msg"></strong>
        </div>
    </div>
        
    <div class="messaging">
        <div class="mesgs">
            <div class="msg_history">
                <div class="message-info-bar">
                    <a class="message-reply-msg" href="#"><span class="badge badge-info">Reply</span></a>
                    <a class="message-del-msg" href="#"><span class="badge badge-pill badge-secondary">Delete</span></a>
                    <a class="message-restore-msg" href="#"><span class="badge badge-pill badge-secondary">Restore</span></a>
                    <a class="message-close-mobile" href="#"><span class="badge badge-pill badge-secondary">Close</span></a>
                    <img class="message-user-avatar" width="50"> <a class="message-other-username"></a>
                </div>

                <!-- DYNAMIC RECEIVED MSGS LOADED HERE -->
                
                <!-- DYNAMIC SENT MSGS LOADED HERE -->
                
            </div>
            <form id="message-reply-box" class="type_msg reply-form-mobile" action="#">
                <div class="input_msg_write">
                    <input type="text" class="write_msg write-msg-mobile" name="replymsg" autocomplete="off" placeholder="Type a message" maxlength="1495">
                    <button id="message-reply-close-box" type="button" class="close">&times;</button>
                </div>
            </form>
        </div>
        
    </div>
</div>
{% endblock bodycontent %}

{% block scripts %}
{{ super() }}
<script>
/* MESSAGES LIST */
$(function() {
    // SHOWS ALL RECEIVED MSGS
    $('.dropdown-item-received').on('click', (event) => {
        $('.message-list').removeClass('is-active');
        $('.message-list-received').addClass('is-active');
        $('.main-dropdown-btn').text('Received');
        // HIDES REPLY AND DELETE BUTTON
        $('.message-reply-msg').css('display', 'none');
        $('.message-del-msg').css('display', 'none');
        $('.message-restore-msg').css('display', 'none');
        $('.message-reply-msg').css('visibility', 'visible');
        $('.message-del-msg').css('visibility', 'visible');
        $('.message-restore-msg').css('visibility', 'hidden');
        // REMOVES EXISTING USER'S AVATAR AND NAME
        $('.message-other-username').text('');
        $('.message-other-username').removeAttr('href');
        $('.message-user-avatar').removeAttr('src');
        /* REMOVES ANY EXISTING DYNAMICALLY LOADED MSGS */
        $('.received_msg').remove();
        $('.outgoing_msg').remove();
    });
    // SHOWS SENT MSGS
    $('.dropdown-item-sent').on('click', (event) => {
        $('.message-list').removeClass('is-active');
        $('.message-list-sent').addClass('is-active');
        $('.main-dropdown-btn').text('Sent');
        // HIDES REPLY AND DELETE BUTTON
        $('.message-reply-msg').css('display', 'none');
        $('.message-del-msg').css('display', 'none');
        $('.message-restore-msg').css('display', 'none');
        $('.message-reply-msg').css('visibility', 'hidden');
        $('.message-del-msg').css('visibility', 'hidden');
        $('.message-restore-msg').css('visibility', 'hidden');
        // REMOVES EXISTING USER'S AVATAR AND NAME
        $('.message-other-username').text('');
        $('.message-other-username').removeAttr('href');
        $('.message-user-avatar').removeAttr('src');
        /* REMOVES ANY EXISTING DYNAMICALLY LOADED MSGS */
        $('.received_msg').remove();
        $('.outgoing_msg').remove();
    });
    // SHOWS DELETED MSGS
    $('.dropdown-item-deleted').on('click', (event) => {
        $('.message-list').removeClass('is-active');
        $('.message-list-deleted').addClass('is-active');
        $('.main-dropdown-btn').text('Deleted');
        // HIDES REPLY AND DELETE BUTTON
        $('.message-reply-msg').css('display', 'none');
        $('.message-del-msg').css('display', 'none');
        $('.message-restore-msg').css('display', 'none');
        $('.message-reply-msg').css('visibility', 'hidden');
        $('.message-del-msg').css('visibility', 'hidden');
        $('.message-restore-msg').css('visibility', 'visible');
        // REMOVES EXISTING USER'S AVATAR AND NAME
        $('.message-other-username').text('');
        $('.message-other-username').removeAttr('href');
        $('.message-user-avatar').removeAttr('src');
        // REMOVES ANY EXISTING DYNAMICALLY LOADED MSGS
        $('.received_msg').remove();
        $('.outgoing_msg').remove();
    });
});

/* LOAD EACH RECEIVED MSGS DYNAMICALLY */
$(function() {
    $('.list-group-item').on('click', (event) => {
        let current_msg_dataid = event.currentTarget.dataset.msgId;
        let current_msg_name = event.currentTarget.children[0].classList[0];
        let current_msg_sub = event.currentTarget.children[1].classList[0];
        let current_msg_icon = event.currentTarget.children[2].id;
        let current_msg_subj_name = event.currentTarget.children[1].textContent;
        let sender_username = $('.message-msg-username-' + current_msg_dataid)[0].textContent;
        let current_msg_id = event.currentTarget.id;
        /* REMOVES PREVIOUSLY READ MSG BACKGROUND COLOR */
        $('.message-list li').removeClass('current-msg');
        $('.message-mobile-msgbox').css('visibility', 'visible');
        
        $.ajax({
            url: "/view_message/" + sender_username + "/" + current_msg_dataid,
            type: 'GET',
            contentType: 'application/json',
            success: function(response) {
                /* REMOVES ANY EXISTING DYNAMICALLY LOADED MSGS */
                $('.received_msg').remove();
                $('.outgoing_msg').remove();

                /* DYNAMICALLY UPDATES UNREAD MSG UPON CLICK */
                $('.' + current_msg_name).attr('style','font-weight: 400;');
                $('.' + current_msg_sub).attr('style', 'font-weight: 400; font-style: italic;')
                $('#' + current_msg_icon).attr('class', 'fas fa-envelope-open message-msg-icon');

                /* SHOWS WHICH MSG IS BEING CURRENTLY READ ON LIST */
                $('#' + current_msg_id).addClass('current-msg');

                /* SHOWS REPLY/DEL BUTTONS */
                $('.message-reply-msg').css('display', 'block');
                $('.message-del-msg').css('display', 'block');
                $('.message-restore-msg').css('display', 'block');

                /* REMOVES EXISTING REPLY TEXT AND BOX BETWEEN MSG CHANGE */
                $("#reply_msg")[0].value = "";
                
                /* LOOPS TO ADD EACH INDIVIDUAL MSGS PER SUBJECT */
                for (i = 0; i < response.length; i ++) {
                    let each_msg = response[i];
                    let sender_avatar = each_msg.other_avatar;
                    let sender_username = each_msg.username;
                    let each_msg_text = each_msg.body;
                    let each_msg_timestamp = each_msg.time;

                    if (sender_username != "{{ current_user.username }}") {
                        $('.message-other-username').text(sender_username);
                        $('.message-other-username').attr('href', "/profile/" + sender_username);
                        $('.message-user-avatar').attr('src', sender_avatar);

                        $('.msg_history')
                            .append($('<div>').attr('class', 'received_msg')
                            .append($('<div>').attr('class', 'received_withd_msg')
                                .append($('<p>')
                                    .attr('class', 'message-msg-received-body')
                                    .text(each_msg_text))
                                .append($('<span>')
                                    .attr('class', 'time_date')
                                    .attr('id', 'message-inc-timestamp')
                                    .text(each_msg_timestamp))
                            )
                        );
                    } else {
                        $('.msg_history')
                            .append($('<div>').attr('class', 'outgoing_msg')
                            .append($('<div>').attr('class', 'sent_msg')
                                .append($('<p>')
                                    .attr('class', 'message-msg-sent-body')
                                    .text(each_msg_text))
                                .append($('<span>')
                                    .attr('class', 'time_date')
                                    .attr('id', 'message-outgoing-timestamp')
                                    .text(each_msg_timestamp))
                            )
                        );
                    };
                }
            },
        });
    });
});

/* OPEN MESSAGE FORM */
$(function() {
    // OPENS MSGS BOX
    $('.message-list-newmsg').on('click', (event) => {
        $('#myForm').css('display', 'block');
    });
});

/* CLOSE REPLY BOX */
$(function() {
    $('#message-reply-close-box').on('click', () => {
        // FOR PC & DESKTOP
        $('#message-reply-box').slideToggle(300, function() {
            $('#reply_msg').val('');
        });
        // FOR MOBILE DEVICES
        $('.reply-form-mobile').slideToggle(300, function() {
            $('.write-msg-mobile').val('');
        });
    });
});

/* OPEN REPLY BOX */
$(function() {
    $('.message-reply-msg').on('click', () => {
        // FOR PC & DESKTOP
        $('#message-reply-box').slideToggle(300, function() {
            $('#reply_msg').val('');
        });
        // FOR MOBILE DEVICES
        $('.reply-form-mobile').slideToggle(300, function() {
            $('.write-msg-mobile').val('');
        });
    });
})

/* MSG REPLY FEATURE FOR DESKTOP */
$(function () {
    $('#reply_msg').keypress(function (event) {
        let replylen = ($('#reply_msg')[0].value).length;
        if (event.which == 13 && replylen > 0) {
            let csrf_token = "{{ csrf_token() }}";
            let recipient_name = $('.message-other-username')[0].textContent;
            let msg_subj = $('.current-msg').data('msgSub');
            let replymsg = $('#reply_msg')[0].value;
            event.preventDefault();
            
            // Inject our CSRF token into our AJAX request.
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrf_token)
                    }
                }
            });
            $.ajax({
                url: "/reply_message/" + msg_subj + "/" + recipient_name,
                data: JSON.stringify(replymsg),
                type: 'POST',
                contentType: 'application/json',
                success: function(response) {
                    $('#message-reply-box').slideToggle(300);
                    $("#reply_msg")[0].value = "";
                    $('.message-success-msg')[0].textContent = response;
                    $('.alert-success').attr('style','right: 13em;');
                    setTimeout(function () {
                        $('.alert-success').attr('style','right: -70em;');
                    }, 4000);
                },
                error: function(response) {
                    console.log(response);
                }
            });
        };
    });
});

/* MSG REPLY FEATURE FOR MOBILE */
$(function() {
    var replySent = function() {
        let csrf_token = "{{ csrf_token() }}";
        let recipient_name = $('.message-other-username')[0].textContent;
        let msg_subj = $('.current-msg').data('msgSub');
        let replymsg = $('.write-msg-mobile')[0].value;
        
        // Inject our CSRF token into our AJAX request.
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrf_token)
                }
            }
        });

        $.ajax({
            url: "/reply_message/" + msg_subj + "/" + recipient_name,
            data: JSON.stringify(replymsg),
            type: 'POST',
            contentType: 'application/json',
            success: function(response) {
                $('.alert-success').fadeIn(300);
                $('.reply-form-mobile').slideToggle(300);
                $('.write-msg-mobile').blur();
                $('.write-msg-mobile')[0].value = "";

                $('.message-success-msg')[1].textContent = response;
                $('.alert-success').attr('style','right: 13em;');
                setTimeout(function () {
                    $('.alert-success').attr('style','right: -70em;');
                    $('.alert-success').fadeOut(800);
                }, 4000);
            },
            error: function(response) {
                console.log(response);
            }
        });
    }
    $('.reply-form-mobile').submit(function(event) {
        event.preventDefault();
        replySent();
    });
});

/* MSG DELETE FEATURE */
$('.message-del-msg').on('click', () => {
    let sender_name = $('.message-other-username')[0].textContent;
    let msg_subj = $('.current-msg').data('msgSub');
    if (sender_name && msg_subj) {
        $.ajax({
            url: "/delete_message/" + msg_subj + '/' + sender_name,
            type: 'GET',
            success: function(response) {
                if (response == 'Message successfully deleted!') {
                    // REMOVES THE MSG FROM MSG LIST
                    $('.list-group-item[data-msg-sub="' + msg_subj + '"]').remove();
                    $('.message-mobile-msgbox').css('visibility', 'hidden');
                    
                    // HIDES REPLY/DEL BUTTONS
                    $('.message-reply-msg').css('display', 'none');
                    $('.message-del-msg').css('display', 'none');
                    // REMOVES ANY EXISTING DYNAMICALLY LOADED MSGS
                    $('.received_msg').remove();
                    $('.outgoing_msg').remove();
                    // REMOVES EXISTING USER'S AVATAR AND NAME
                    $('.message-other-username').text('');
                    $('.message-other-username').removeAttr('href');
                    $('.message-user-avatar').removeAttr('src');

                    // REMOVES EXISTING REPLY TEXT AND BOX BETWEEN MSG CHANGE
                    $('#message-reply-box').css('bottom', '-10em');
                    $('#reply_msg')[0].value = "";
                }
            }
        });
    }
});

/* MSG RESTORE FEATURE */
$('.message-restore-msg').on('click', () => {
    let sender_name = $('.message-other-username')[0].textContent;
    let msg_subj = $('.current-msg').data('msgSub');
    if (sender_name && msg_subj) {
        $.ajax({
            url: "/restore_message/" + msg_subj + '/' + sender_name,
            type: 'GET',
            success: function(response) {
                if (response == 'Message successfully restored!') {
                    // REMOVES THE MSG FROM MSG LIST
                    $('.list-group-item[data-msg-sub="' + msg_subj + '"]').remove();
                    $('.message-mobile-msgbox').css('visibility', 'hidden');
                    
                    // HIDES REPLY/DEL BUTTONS
                    $('.message-restore-msg').css('display', 'none');
                    // REMOVES ANY EXISTING DYNAMICALLY LOADED MSGS
                    $('.received_msg').remove();
                    $('.outgoing_msg').remove();
                    // REMOVES EXISTING USER'S AVATAR AND NAME
                    $('.message-other-username').text('');
                    $('.message-other-username').removeAttr('href');
                    $('.message-user-avatar').removeAttr('src');

                    // REMOVES EXISTING REPLY TEXT AND BOX BETWEEN MSG CHANGE
                    $('#message-reply-box').css('bottom', '-10em');
                    $('#reply_msg')[0].value = "";
                }
            }
        });
    }
});

/* CLOSE MOBILE MAIN MSG CONTAINER */
$('.message-close-mobile').on('click', () => {
    $('.message-mobile-msgbox').css('visibility', 'hidden');
    $('.reply-form-mobile').slideToggle(300);
    $('.write-msg-mobile')[0].value = "";
});


</script>
{% endblock scripts %}