{% extends "base.html" %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="//cdn.jsdelivr.net/foundation/5.0.2/css/foundation.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='privacy.css') }}">
{% endblock css %}

{% block mediaquery %}
{{ super() }}
<style>
/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .privacy-container {
      padding: 0.2em;
    }
    .blockeduser-name {
      padding: 0 !important;
    }
    .text-right {
      width: 25vw !important;
    }
    .settings-nav {
      margin-top: 3em;
    }
    .leftbox .settings-nav a {
      padding: 35px 20px;
    }
    .profile .personal-info,
    .payment .payment-info,
    .subscription .subscription-info,
    .privacy .privacy-info,
    .settings .settings-info  {
      width: 100%;
    }

    .profile .personal-info-title,
    .payment .payment-info-title,
    .subscription .subscription-info-title,
    .privacy .privacy-info-title,
    .settings .settings-info-title {
      width: 100%;
    }
}
/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .hulu-container {
      height: 130vh;
    }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    .privacy-container {
      padding: 0.2em;
    }
    .blockeduser-name {
      padding: 0 !important;
    }
    .text-right {
      width: 25vw !important;
    }
    .settings-nav {
      margin-top: 3em;
    }
    .leftbox .settings-nav a {
      padding: 35px 20px;
    }
    .profile .personal-info,
    .payment .payment-info,
    .subscription .subscription-info,
    .privacy .privacy-info,
    .settings .settings-info  {
      width: 100%;
    }

    .profile .personal-info-title,
    .payment .payment-info-title,
    .subscription .subscription-info-title,
    .privacy .privacy-info-title,
    .settings .settings-info-title {
      width: 100%;
    }
}
/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
    .hulu-container {
      height: 130vh;
    }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */
/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .privacy-container {
      padding: 0.2em;
    }
    .blockeduser-name {
      padding: 0 !important;
    }
    .text-right {
      width: 25vw !important;
    }
    .settings-nav {
      margin-top: 3em;
    }
    .leftbox .settings-nav a {
      padding: 35px 20px;
    }
    .profile .personal-info,
    .payment .payment-info,
    .subscription .subscription-info,
    .privacy .privacy-info,
    .settings .settings-info  {
      width: 100%;
    }

    .profile .personal-info-title,
    .payment .payment-info-title,
    .subscription .subscription-info-title,
    .privacy .privacy-info-title,
    .settings .settings-info-title {
      width: 100%;
    }
}
/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    .hulu-container {
      height: 130vh;
    }
}

/* ----------- iPhone X ----------- */
/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .privacy-container {
      padding: 0.3em;
    }
    .blockeduser-name {
      padding: 0 !important;
    }
    .text-right {
      width: 25vw !important;
    }
    .settings-nav {
      margin-top: 3em;
    }
    .leftbox .settings-nav a {
      padding: 35px 20px;
    }
    .profile .personal-info,
    .payment .payment-info,
    .subscription .subscription-info,
    .privacy .privacy-info,
    .settings .settings-info  {
      width: 100%;
    }

    .profile .personal-info-title,
    .payment .payment-info-title,
    .subscription .subscription-info-title,
    .privacy .privacy-info-title,
    .settings .settings-info-title {
      width: 100%;
    }
}
/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    .privacy-container {
      padding: 0.3em;
    }
    .hulu-container {
      height: 130vh;
    }
}

/* ----------- Galaxy S4, S5 and Note 3 ----------- */
/* Portrait */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {
    .privacy-container {
      padding: 0.2em;
    }
    .blockeduser-name {
      padding: 0 !important;
    }
    .text-right {
      width: 25vw !important;
    }
    .settings-nav {
      margin-top: 3em;
    }
    .leftbox .settings-nav a {
      padding: 35px 20px;
    }
    .profile .personal-info,
    .payment .payment-info,
    .subscription .subscription-info,
    .privacy .privacy-info,
    .settings .settings-info  {
      width: 100%;
    }

    .profile .personal-info-title,
    .payment .payment-info-title,
    .subscription .subscription-info-title,
    .privacy .privacy-info-title,
    .settings .settings-info-title {
      width: 100%;
    }
}
/* Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {
    .hulu-container {
      height: 130vh;
    }
}

/* ----------- Galaxy S6 ----------- */
/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: portrait) {
    .privacy-container {
      padding: 0.2em;
    }
    .blockeduser-name {
      padding: 0 !important;
    }
    .text-right {
      width: 25vw !important;
    }
    .settings-nav {
      margin-top: 3em;
    }
    .leftbox .settings-nav a {
      padding: 35px 20px;
    }
    .profile .personal-info,
    .payment .payment-info,
    .subscription .subscription-info,
    .privacy .privacy-info,
    .settings .settings-info  {
      width: 100%;
    }

    .profile .personal-info-title,
    .payment .payment-info-title,
    .subscription .subscription-info-title,
    .privacy .privacy-info-title,
    .settings .settings-info-title {
      width: 100%;
    }
}
/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: landscape) {
    .hulu-container {
      height: 130vh;
    }
}
</style>
{% endblock mediaquery %}

{% block bodycontent %}
<div id="privacy-container">
  <!-- ReactJS Components inserted here -->
</div>
{% endblock bodycontent %}

{% block scripts %}
{{ super() }}
<!-- Webpack Bundle using Babel to compile ReactJS JSX Components -->
<script type="text/javascript" src="{{ url_for('static', filename='dist/commons.entry.chunk.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='dist/privacy.entry.chunk.js') }}"></script>

{% endblock %}