{% extends "base.html" %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='edit-profile.css') }}">
{% endblock css%}

{% block bodycontent %}
<div class="edit-wrapper">
<form class="edit-container" action="" method="POST">
    <h1 class="edit-profile-heading">Edit Profile</h1>
    {% with messages = get_flashed_messages() %}
    {% for message in messages %}
    {% if message %}
    <div class="edit-profile-alert-wrapper">
        <div id="edit-profile-alert-box" class="alert alert-dismissible alert-light">
            <p class="profile-change-msg">{{ message }}</p>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    {% endwith %}

    {{ form.username.label(class="username-label") }}
    {{ form.username(id="disabledInput", class="form-control form-group-username", type="text", disabled="") }}

    
    {{ form.hidden_tag() }}
        {{ form.firstname.label(class="firstname-label") }}
        {{ form.firstname(id="firstnameinput", class="form-control form-firstname", type="text", placeholder="First Name") }}
        {% for error in form.firstname.errors %}
        <div class="firstname-feedback">
            <span style="color: red;">{{ error }}</span>
        </div>
        {% endfor %}
        
        {{ form.lastname.label(class="lastname-label") }}
        {{ form.lastname(id="lastnameinput", class="form-control form-lastname", type="text", placeholder="Last Name") }}
        {% for error in form.lastname.errors %}
        <div class="lastname-feedback">
            <span style="color: red;">{{ error }}</span>
        </div>
        {% endfor %}
        
        
        {{ form.email.label(class="email-label") }}
        {{ form.email(id="emailinput", class="form-control form-email", type="text", placeholder="Email") }}
        {% for error in form.email.errors %}
        <div class="email-feedback">
            <span style="color: red;">{{ error }}</span>
        </div>
        {% endfor %}
        
        <p class="gravatar-note">*Note: If your account email matches your gravatar account, it will use your gravatar 
            picture automatically UNLESS you manually insert a new image link or randomize below.</p>

        {{ form.password.label(class="password-label") }}
        {{ form.password(id="passwordinput", class="form-control form-password", type="text", placeholder="New Password") }}
        {% for error in form.password.errors %}
        <div class="password-feedback">
            <span style="color: red;">{{ error }}</span>
        </div>
        {% endfor %}
        
        {{ form.repassword.label(class="repassword-label") }}
        {{ form.repassword(id="repasswordinput", class="form-control form-repassword", type="text", placeholder="Retype New Password") }}
        {% for error in form.repassword.errors %}
        <div class="repassword-feedback">
            <span style="color: red;">{{ error }}</span>
        </div>
        {% endfor %}
        
        {{ form.picture.label(class="avatar-label") }}
        {{ form.picture(id="profilepic", class="form-control form-avatar", type="text", placeholder="Insert image link here") }}
        
        {{ form.randomavatar(type="checkbox", class="custom-gravatar-checkbox") }}
        {{ form.randomavatar.label(class="random-gravatar-label") }}
        
        
        {{ form.bio.label(class="bio-label") }}
        {{ form.bio(id="exampleTextarea", class="form-control form-bio", row="6", type="text", placeholder="Something about you..", maxlength=400) }}
        
    {{ form.submit(id="edit-profile-save-btn", class="btn btn-primary") }}
    <a class="edit-profile-cancel-btn" href="{{ url_for('main.profile', username=current_user.username) }}"><button type="submit" class="btn btn-primary">Cancel</button></a>
</form>
</div>
{% endblock bodycontent %}

{% block scripts %}
{{ super() }}
<script>
/* ADDS 'ACTIVE' CLASS TO NAV BAR ITEM */
$(function() {
    $('#nav-item-profile').addClass('active');

});

</script>
{% endblock scripts %}