{% extends "base.html" %}

{% block bodycontent %}
<form action="{{ url_for('main.stripe_pay') }}" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <script
        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="{{ pub_key }}"
        data-amount="3000"
        data-name="smallWorld"
        data-description="Widget"
        data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
        data-locale="auto">
    </script>
</form>
{% endblock bodycontent %}