{% extends "base.html" %}

{% block bodycontent %}
<div id="subscription-container">
    <!-- ReactJS inserted here -->
</div>
{% endblock bodycontent %}

{% block scripts %}
{{ super() }}
<!-- Webpack Bundle using Babel to compile ReactJS JSX Components -->
<script type="text/javascript" src="{{ url_for('static', filename='dist/commons.entry.chunk.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='dist/subscription.entry.chunk.js') }}"></script>

<script>
    /* ADDS 'ACTIVE' CLASS TO NAV BAR ITEM */
    $(function() {
        $('#nav-item-sub').addClass('active');
    
    });
</script>
{% endblock scripts %}